!!!5
html
    include ../include/url
    head
        meta(charset="utf-8")
        meta(name="description" ,content="《诺亚传说》官网新闻中心，为玩家提供最新最热的游戏新闻和游戏热点！" )
        link(rel="shortcut icon", href="http://s1.syyx.com/nycs/images/favicon.ico",type="image/x-icon")
        title 新闻中心-《诺亚传说》官方网站
        include script_style
    body
        include ../include/top_iframe
        .container
            .content
                include ../include/logo_link
                include ../include/nav_new
                include ../include/fn_group
                include ../include/promotions
                .bread_path 
                    a(href='#{nycs_main}') 首页
                    |  >
                    a(href='#{nav_news}') 新闻中心
                include news_detail
        include ../include/reg