.news_detail
    .news_class
        .border
            a#news0(href='#1')
            a#news1(href='#34')
            a#news2(href='#33')
            a#news3(href='#35')
    ul.news_list
        //- li
        //-     span 12-12
        //-     a(href='#') 开服公告开服公告开服公告开服公告开服
        //- li.gap
    .paging
        //a#prev_page(href='#') 上一页
        span#dispaly_page_num
        //- a(href='#') 1
        //- a(href='#',class='current') 2
        //a#next_page(href='#') 下一页
        span#current_page_num
        span#all_pages_num
    include ../include/copyright