@import "../url"

#dispaly_page_num
    text-align right
    color #482d0f
    select
        width auto
    a
        padding 2px 5px
        margin-right 5px
        color #482d0f
    .current
        background #e8d19d
        color #fff
    .noclick
        cursor text
        text-decoration none

