html
	head
		title	广告管理
		include script
	body.easyui-layout
		div(region="north", border="true", style="height: 70px;", class="header")  
			include ../ad_menu/menu_main	

		div(region="west",icon="icon-reload", border="true",split="true",title="广告管理",style="width: 185px; padding: 10px;")	
			include ../ad_menu/menu_toufang

		div(region="center")
			include contents