meta(charset="utf-8")
meta(name="keywords", content="新闻中心,诺亚传说时间版,官网,游戏热点,游戏新闻")
meta(name="description" ,content="《诺亚传说时间版》官网新闻中心，为诺亚传说时间版玩家提供最新最热的游戏新闻和游戏热点！" )
link(rel="shortcut icon", href="http://r.syyx.com/nysj/index/favicon.ico",type="image/x-icon")
title 新闻中心-《诺亚传说时间版》官方网站-重塑经典，再战未来！