!!!5
html.full
    head
        include ../include/meta
        include ../include/title
        include style
        include script
    body.full
        include content
        script(src='/javascripts/get/out.js',type="text/javascript")