!!!5
html
    head
        link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
        meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
        meta(name = "keywords", content = "跨服战,诺亚传说,军团联赛,2012题材,网络游戏")
        meta(name = "description", content = "《诺亚传说》跨服战，分为跨服军团联赛和跨服星空争霸，每个月分别举行一次，全服冠军将为其所在的服务器带来集体BUFF加成！")
        title 《诺亚传说》跨服战《诺亚传说》官方网站       

        link(href = "/stylesheets/nycs/acrosspk/index/main.css", rel="stylesheet", type="text/css")        
    body    
        .container
            .head       
                .w_980  
                    a.logo(href="http://nycs.syyx.com/index.shtml",target="_blank") 诺亚传说   
                    .nav
                        include ../../_include/nav
                    #tab_match
                        a.tab_0
                        a(href="http://party.syyx.com/nycs/acrosspk/fire.html")
                    .content
                        span 跨服军团联赛在原先军团联赛的基础上，加入了分组的概念，让不同的军团能与自身实力更相近的军团进行比赛，在实力相当的军团之间，考验的是战术水平和团结的力量。 
                    .more         
                        a.link_more(href="http://nycs.syyx.com/game_lib_content_1.html?249",target="_blank") 查看《跨服军团联赛》详细资料  
                    .view
                        #tab_charts
                            span
                            span.sd2                    
                        div#view_time 
                            span 正在加载
                            div#time_box
            .content_table  
                .content_img          
                    #tbl_show  
                        .tbl_1
                            table(border="1")
                                thead
                                    tr.t_title
                                        th(colspan="4") 跨服战ABC组
                                            span.gold 冠军军团
                                            | 名单      
                                    tr.t_title
                                        td 组别
                                        td A组
                                        td B组
                                        td C组
                                tbody#war_g
                                    tr
                                        td 冠军军团
                                        td
                                            .gold
                                            span
                                        td
                                            .gold
                                            span
                                        td
                                            .gold
                                            span
                            table.t2(border="1")
                                thead
                                    tr.t_title
                                        td(colspan="4") 跨服战ABC组
                                            span.gold 冠军服务器
                                            | 名单                                          
                                    tr.t_title
                                        td 组别
                                        td 冠军服务器
                                        td(colspan="4") 该服务器参赛军团
                                tbody#war_s
                                    tr
                                        td A组
                                        td
                                            .gold
                                        td
                                            span
                                        td
                                            span
                                    tr
                                        td B组
                                        td
                                            .gold
                                        td
                                            span
                                        td
                                            span
                                    tr
                                        td C组
                                        td
                                            .gold
                                        td
                                            span
                                        td
                                            span
                        .tbl_2
                            table(border="1")
                                thead
                                    tr.t_title
                                        td(colspan="6") 跨服战ABC组            
                                            span.gold 入围
                                            | 名单                            
                                    tr.t_title
                                        td 
                                            span.gold A组
                                            |军团名称
                                        td 所在服务器
                                        td
                                            span.gold B组
                                            |军团名称                            
                                        td 所在服务器
                                        td
                                            span.gold C组
                                            |军团名称
                                        td 所在服务器
                                tbody#enter
                        .tbl_3
            .main
                .w_980             
                    .share
                        a(href="http://share.v.t.qq.com/index.php?c=share&a=index&url=http://party.syyx.com/nycs/acrosspk/index.html&title=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                        a(href="http://v.t.sina.com.cn/share/share.php?url=http://party.syyx.com/nycs/acrosspk/index.html&title=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                        a(href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://party.syyx.com/nycs/acrosspk/index.html&title=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                        a(href="http://widget.renren.com/dialog/share?resourceUrl=http://party.syyx.com/nycs/acrosspk/index.html&title=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                        a(href="http://www.kaixin001.com/login/open_login.php?flag=1&url=http://party.syyx.com/nycs/acrosspk/index.html&rtitle=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                    .img_block
                        a(href="http://nycs.syyx.com/GameInfo/info_281.shtml",target="_blank") 
                            img.img(src="http://r.syyx.com/party/nycs/acrosspk/foot1.jpg") 2012时间表
                        a(href="http://nycs.syyx.com/GameInfo/info_280.shtml",target="_blank") 
                            img.img(src="http://r.syyx.com/party/nycs/acrosspk/foot2.jpg")直播
                        a(href="http://nycs.syyx.com/UserCenter/article_list.html#4",target="_blank") 
                            img.img(src="http://r.syyx.com/party/nycs/acrosspk/foot3.jpg")采访
                    include ../../../_include/copyright
    script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
    script(src="/javascripts/nycs/acrosspk/index/out.js",type="text/javascript")
    .disnone
        script(src="http://s6.cnzz.com/stat.php?id=2001608&web_id=2001608",type="text/javascript")



