!!!5
html
    head
        include ../title 
        link(href="/stylesheets/nycs/notalone/uploadsuccess/main.css",rel="stylesheet",type="text/css")        
    body
        .uploadphoto
            .upsuccess
                span#rolename
                |，恭喜你上传资料成功！
                br
                |请耐心等待审核通过
                br
                .userimg
                    .roleimg
                        img#roleimg
                    span#rolefrom
                    br
                    span#rolenick
            .rnduser
                span#rolecount
                |还没有秀出真我，快去你召集你的好友一起终结孤单吧！
                br
                #rndlist
            .viewall
                .loginbtn
                    a.btn#viewall(href="javascript:undefined") 查看全部内容
                    a.btn#getrnd(href="javascript:undefined") 换一组看
            .weibo
                a.qq(href="javascript:undefined") 
                a.sina(href="javascript:undefined")               
            
        script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
        script(src="/javascripts/country_noother.js",type="text/javascript")
        script(src="/javascripts/nycs/notalone/uploadsuccess/out.js",type="text/javascript")