link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
meta(name = "keywords", content = "蔡依林 主题曲 Dr.Jolin 翻唱 活动 诺亚传说")
meta(name = "description", content = "蔡依林新专辑重磅主打《Dr.Jolin》抢先试听 亚洲天后蔡依林携主题曲《Dr.Jolin》，正式代言《诺亚传说》。声动多美星你也是Dr.Jolin，唱响《诺亚传说》主题曲，赢iPod nano6，蔡依林最新签名专辑，200份QQ绿钻好礼")
title 蔡依林最新《诺亚传说》主题曲——Dr.Jolin翻唱活动 你也是Dr.Jolin