.nav
    span#login_a.disnone
        span#user_name
        a#login_out(href="javascript:undefined") 登出
    include ../_include/nav2
a.logo(href="http://nycs.syyx.com/index.shtml",target="_blank",title="诺亚传说") 
.topa
    //a.topplay(href="/nycs/sing/singshow.html?id=0#tp")
    a.topdown(href="/nycs/sing/singshow.html?id=0#tp") 试听
    a#topcy.topbtn(href="javascript:undefined") 立即参与
    a#toptp.topbtn(href="/nycs/sing/index.html#tp") 立即投票
a#tp(name="tp")
a#map1(href="/nycs/sing/index.html#tp")
a#map2(href="javascript:undefined")
a#map3(href="/nycs/sing/singck.html#tp")

