!!!5
html
    head
        include ../include/meta
        include ../include/title        
        include style
        include script
    body
        include ../include/header
        .main
            include content
        include ../include/copyright
        script(src='/javascripts/mylog/out.js',type="text/javascript")