$bg             = 'http://r.syyx.com/nysj/news_content/bg.jpg'
$btn            = 'http://r.syyx.com/nysj/news_list/btn.jpg'
$copyright_logo = 'http://r.syyx.com/nysj/news_list/copyright_logo.jpg'
$blank          = 'http://r.syyx.com/nysj/index/blank.png'
$weibo          = 'http://r.syyx.com/nysj/news_content/weibo.jpg'
$emotion        = 'http://s1.syyx.com/nycs/images/news_content/emotion.jpg'
$vote           = 'http://s1.syyx.com/nycs/images/news_content/vote.jpg'
$related        = 'http://r.syyx.com/nysj/news_content/related.jpg'
$news_icon      = 'http://s1.syyx.com/nycs/images/index/news_icon.png'
$biaoti1        = 'http://r.syyx.com/nysj/news_content/biaoti1.jpg'
$biaoti2        = 'http://r.syyx.com/nysj/news_content/biaoti2.jpg'