@import "../url"

body
    background #013277

#chkloginrole
    position absolute
    left 210px
    top 295px
.tip_info
    margin-bottom 10px
.sendokmsg
    margin-top 20px
#sendok
    table
        text-align center
        margin-top 20px
        margin-bottom 15px
        border none
        tr
            td
                line-height 30px
                border solid 1px #1c80d8
                width 130px
.servermsg
    font-size 12px
    position absolute
    left 200px
    top 275px
    color #667dcb
