!!!5
head
    title 投票 - 尚游五周年文化衫设计大赛
    meta(name="author",content="东尼，火柴（2012.07）")
    link(type="text/css",href="/stylesheets/tshirt/index/main.css",rel="stylesheet")
body
    .wrapper
        .container
            .main
                ul#list
            .copyright &copy;尚游网络
        #puple_bg
        #puple
    script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
    script(src="/javascripts/tshirt/vot_result/out.js",type="text/javascript")