//metier
$btn              = 'http://s1.syyx.com/nycs/images/gameinfo/btn.jpg'
$bg_ynz           = 'http://s1.syyx.com/nycs/images/gameinfo/ynz.jpg'
$bg_jws           = 'http://s1.syyx.com/nycs/images/gameinfo/jws.jpg'
$bg_qxs           = 'http://s1.syyx.com/nycs/images/gameinfo/qxs.jpg'
$bg_gdj           = 'http://s1.syyx.com/nycs/images/gameinfo/gdj.jpg'
$pro_bg           = 'http://s1.syyx.com/nycs/images/gameinfo/pro_bg.jpg'