.others_download_content
    .inner_bg
        .tiny_download
            h3
            .des 说明：很短的时间内就能完成下载安装，创建角色进入游戏后就可以立刻体验游戏内容，资源边玩边下载。<br/>初次体验游戏内容时，可能在显示上会有轻微的延时。
            .tiny_download_btn
                a(href='#',class='official')

            .tiny_download_173_btn
                a(href='javascript:void(0)')
            .version
                div 大小:
                div 更新时间：
                div 客户端版本：
                div MD5验证码：
                a(href='http://bbs.nycs.syyx.com/showtopic-6907.aspx') [什么是MD5验证码]
                a(href='#') [下载MD5验证码校验器]
            .download_173_box
                a.close_btn(href='javascript:void(0)')
                .download_173_list
                .download_173_info 说明：下载速度受您本身的网络所在地和带宽限制，请尽量选择靠近您所在地的下载点下载。
        .full_client
            h3
            .download_btn
                a(href='#',class='official')
                a(href='#',class='xunlei')
            .version
                div 大小：
                div 更新时间：
                div 客户端版本：
                div MD5验证码：

        .patch
            h3
            .des 您可以通过下载对应补丁将已有客户端升级至最新客户端。
                a(href='#') 如何查看客户端版本？
            .check_version
            .patch_title
                .update_time 更新时间
                .file_name 文件名
                .file_size 文件大小
                .file_des 安装包说明
                .update_des 更新说明
            .patch_list
                table
                    //- tr.odd
                    //-     td.time 2011-01-03
                    //-     td.file_name patch 3.001.002.exe
                    //-     td.file_size 3.23M
                    //-     td.file_des 3.100.130更新至131
                    //-     td.update_des
                    //-         a(href='#') 点击查看
        .tool
            h3
            ul
                //- li
                //-     a(href='#')
                //-         img(src='/images/download/check_version.jpg')
                //-     span yy语音，中国最主流游戏语音通信软件 
    include ../include/copyright  