include ../include/jquery
include ../include/jquery_ui
link(href='/stylesheets/download/main.css',rel='stylesheet')
script(src='http://s1.syyx.com/plugins/swfobject/swfobject.js')
script(src='/javascripts/download/out.js')
script(src='http://s1.syyx.com/plugins/jquery_cookie/jquery.cookie.js')