body{margin:0;font:12px/2em "宋体";color:#7c6f8d;background:#221c10}
a{text-decoration:none;color:#766889;outline:none;}
a:hover{color:#fff}
img{border:none}
.container{background:url("http://r.syyx.com/events/p042/bg.jpg") no-repeat top center;min-width:980px}
.wrap{background:url("http://r.syyx.com/events/p042/main.jpg") no-repeat center 450px;position:relative}
.main{width:980px;height:1500px;position:relative;margin:0 auto}
.nav{text-align:left;line-height:30px;color:#d9b070;padding:0 190px 0 20px;position:relative;}
.nav a{color:#d9b070;}
.nav a:hover{color:#fff}
#num{font-size:24px;font-weight:700;width:120px;right:185px;top:3px;position:absolute;color:#fff;text-align:center}
.logo{position:absolute;width:127px;height:64px;left:49px;top:35px;text-indent:-9999cm}
#prize{width:284px;height:55px;position:absolute;top:420px;left:220px}
#flash,#flash_but,#flash_btn{width:164px;height:92px;position:absolute;top:351px;left:36px}
#flash_btn{background:url("http://r.syyx.com/events/p042/btn.jpg") no-repeat 999cm;cursor:pointer}
.mini{width:149px;position:absolute;height:31px;left:43px;top:453px;text-indent:-9999cm;background:url("http://r.syyx.com/events/p042/btn.jpg") no-repeat 9999cm;}
.mini:hover{background-position:-29px -192px}
#reg3{width:131px;height:39px;background:url("http://r.syyx.com/events/p042/btn.jpg") no-repeat 999cm;position:absolute;top:408px;left:688px;}
#reg3:hover{background-position:-34px -137px;width:164px}
.nycs{right:-2px;top:408px;width:127px;height:39px;background:url("http://r.syyx.com/events/p042/btn.jpg") no-repeat 999cm;position:absolute;}
.nycs:hover{width:163px;background-position:-204px -137px}
#img_focus{width:680px;height:403px;position:absolute;top:542px;left:2px;background:url("http://r.syyx.com/events/p042/loading.gif") center 200px no-repeat}
#img_focus_tab{height:49px;}
#img_focus_tab a{width:170px;display:inline-block;float:left;height:43px;cursor:pointer;background:url("http://r.syyx.com/events/p042/btn.jpg") no-repeat 999px 999px}
#img_focus_tab .check_0{background-position:-29px -15px}
#img_focus_tab .check_1{background-position:-199px -15px}
#img_focus_tab .check_2{background-position:-369px -15px}
#img_focus_tab .check_3{background-position:-539px -15px}
#img_focus_img{height:354px;margin-left:-2px;}
#img_focus_img img{display:none;position:absolute}
#job{position:absolute;top:958px;left:-6px;width:687px;height:278px;}
#job #j_tab{height:38px;position:absolute;width:448px;left:242px;}
#job #j_tab span{display:block;width:112px;float:left;background:url("http://r.syyx.com/events/p042/btn.jpg") no-repeat 9999cm;height:100%;cursor:pointer}
#job #j_tab .check_0{background-position:-29px -75px}
#job #j_tab .check_1{background-position:-141px -75px}
#job #j_tab .check_2{width:111px;background-position:-253px -75px}
#job #j_tab .check_3{background-position:-365px -75px}
#job #j_con{height:278px;width:100%;top:0;position:absolute;overflow:hidden;line-height:22px;}
#job #j_con p{margin:10px 0}
#job #j_con .con{width:100%;height:100%;position:absolute;top:0;display:none}
#job #j_con .skill{height:33px;margin:5px 0 0;width:271px;background:url("http://r.syyx.com/events/p042/skill.png") 999cm no-repeat;}
#job #j_con .skill em{display:inline-block;width:33px;height:33px;cursor:pointer;float:left;margin-right:5px}
#job #j_con .jws{display:block;background:url("http://r.syyx.com/events/p042/jws.jpg") no-repeat left bottom;}
#job #j_con .jws .skill{background-position:-8px -84px}
#job #j_con .qxs{background:url("http://r.syyx.com/events/p042/qxs.jpg") no-repeat left bottom;}
#job #j_con .qxs .skill{background-position:-8px -6px}
#job #j_con .ynz{background:url("http://r.syyx.com/events/p042/ynz.jpg") no-repeat left bottom;}
#job #j_con .ynz .skill{background-position:-8px -45px}
#job #j_con .gdj{background:url("http://r.syyx.com/events/p042/gdj.jpg") no-repeat left bottom;}
#job #j_con .gdj .skill{background-position:-8px -123px}
#job #j_con .info{width:278px;height:173px;position:absolute;left:200px;top:70px;}
#job #j_con .info ul{padding:0;margin:0 0 10px 0;overflow:hidden;zoom:1;}
#job #j_con .info ul li{list-style:none;width:50%;float:left}
#job #j_con strong{color:#b39cec}
#job #j_con .feat{width:200px;position:absolute;top:100px;left:320px}
#job #j_con .video{right:-185px;top:6px}
#job .video{width:169px;height:98px;position:absolute;top:76px;right:24px;background:#000;overflow:hidden}
#job #flash_but_2,#job #j_video{cursor:pointer;background:none}
#job #j_video{background:url("http://r.syyx.com/events/p042/btn.jpg") no-repeat 999cm}
#job #to_reg_3{width:105px;height:28px;background:url("http://r.syyx.com/events/p042/btn.jpg") no-repeat -394px -132px;position:absolute;top:220px;right:50px;cursor:pointer;}
#job #to_reg_3:hover{background-position:-394px -161px}
#img_scroll{width:256px;height:217px;position:absolute;top:1010px;right:15px;}
#img_scroll .button{width:17px;height:58px;float:left;cursor:pointer;margin-top:75px}
#img_scroll .scroll_box{overflow:hidden;width:222px;float:left;height:100%;}
#img_scroll .scroll_box #scroll_body{width:1645px}
#img_scroll .scroll_box a{width:222px;float:left;display:block;height:217px;line-height:20px;background:url("http://r.syyx.com/events/p042/loading.gif") no-repeat center;text-align:center}
#img_scroll .scroll_box img{display:none;border:1px solid #7346a1}
.comment{width:275px;height:320px;top:497px;left:697px;position:absolute;overflow:hidden;}
.comment ul{margin:0;padding:0;height:100%;}
.comment ul li{list-style:none;height:68px;padding:9px 12px 3px 64px;position:relative;line-height:20px;background:url("http://r.syyx.com/events/p042/msg_bg.jpg") 0 6px no-repeat;}
.comment ul li img{position:absolute;left:6px;top:16px;border:1px solid #76509d}
.comment ul li span{color:#ecb2ef}
.comment ul li p{margin:0;color:#8a77a5;padding-top:1px}
.copy_right{width:980px;text-align:center;position:absolute;top:1340px;line-height:18px;}
.copy_right .feet_txt{text-align:left;margin:10px 0 0 380px}
.copy_right .feet_logo{position:absolute;width:140px;height:60px;left:225px;top:30px}
.pop_video_detail{background:#54200a;border:1px solid #873410}
#pop_flash{border:1px solid #873410;background:#000;line-height:0;height:350px}
.ui-dialog .ui-dialog-titlebar-close{background:url("http://r.syyx.com/events/p042/close.jpg") no-repeat}
object{outline:none}
#reg_scroll{width:70px;height:383px;position:absolute;top:100px;right:0;}
#reg_scroll #reg_but{width:70px;height:291px;background:url("http://r.syyx.com/events/p042/reg_scroll.jpg") no-repeat 0 0;position:absolute;}
#reg_scroll #reg_but:hover{background-position:-72px 0}
#reg_scroll #reg_box{width:284px;height:455px;display:none;background:url("http://r.syyx.com/events/p042/reg_bg.jpg") no-repeat #221334}
#reg_scroll .reg_panel{width:283px;padding-top:80px;color:#c998ff;overflow:hidden;height:390px;position:relative;}
#reg_scroll .reg_panel .reg{margin-left:40px}
#reg_scroll .reg_panel a{color:#a696c7;text-decoration:underline;}
#reg_scroll .reg_panel a:hover{color:#fff}
#reg_scroll .reg_panel table{height:162px;}
#reg_scroll .reg_panel table td{height:27px;width:20px}
#reg_scroll .reg_panel table input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:145px}
#reg_scroll .reg_panel table .focus_in_inut{background:#af99d4}
#reg_scroll .reg_panel .agreement{height:21px}
#reg_scroll .reg_panel .reg_form_item_name{width:60px}
#reg_scroll .reg_panel .reg_form_item_input{width:150px}
#reg_scroll .reg_panel .validate_num_input{height:30px;vertical-align:top;padding-top:3px}
#reg_scroll .reg_panel #txtValidate{width:50px}
#reg_scroll .reg_panel #validateimg{width:90px;margin-left:5px;height:27px;vertical-align:top;cursor:pointer}
#reg_scroll .reg_panel #reg_step2,#reg_scroll .reg_panel #reg_step3,#reg_scroll .reg_panel #reg_step4,#reg_scroll .reg_panel #reg_step5{width:220px;margin:0 auto;padding-top:30px;line-height:25px;display:none;height:120px;text-align:center;}
#reg_scroll .reg_panel #reg_step2 input,#reg_scroll .reg_panel #reg_step3 input,#reg_scroll .reg_panel #reg_step4 input,#reg_scroll .reg_panel #reg_step5 input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:145px}
#reg_scroll .reg_panel #reg_step2{height:211px;}
#reg_scroll .reg_panel #reg_step2 .active{height:200px;line-height:30px}
#reg_scroll .reg_panel #reg_step4 .active_info{margin-top:40px}
#reg_scroll .reg_panel #reg_step5{height:390px;width:100%;}
#reg_scroll .reg_panel #reg_step5 p{padding:0 40px}
#reg_scroll .reg_panel #active_link{display:block;margin:20px auto;width:120px;height:30px;background:url("http://r.syyx.com/events/p042/reg_btn.jpg") no-repeat -2px -61px;}
#reg_scroll .reg_panel #active_link:hover{background-position:-2px -93px}
#reg_scroll .reg_panel .download{height:66px;padding:0 10px;position:relative;margin:0 auto;background:url("http://r.syyx.com/events/p042/download.jpg") no-repeat;}
#reg_scroll .reg_panel .download .mini_download{height:30px;width:125px;display:block;position:relative;top:80px;float:left;background:url("http://r.syyx.com/events/p042/reg_btn.jpg") no-repeat -13px -125px;}
#reg_scroll .reg_panel .download .mini_download:hover{background-position:-13px -157px}
#reg_scroll .reg_panel .download .full_download{height:30px;width:125px;display:block;position:relative;top:80px;float:right;background:url("http://r.syyx.com/events/p042/reg_btn.jpg") no-repeat -140px -125px;}
#reg_scroll .reg_panel .download .full_download:hover{background-position:-140px -157px}
#reg_scroll .reg_panel .download_tip{height:40px;line-height:30px;margin-top:80px;text-align:center;font-size:14px;padding:0 40px;text-align:left}
#reg_scroll .reg_panel .reg_submit{height:55px;position:relative}
#reg_scroll .reg_panel #reg_button{width:120px;height:30px;position:absolute;left:51px;top:11px;background:url("http://r.syyx.com/events/p042/reg_btn.jpg") no-repeat -124px -61px;}
#reg_scroll .reg_panel #reg_button:hover{background-position:-124px -93px}
#reg_scroll .reg_panel .success{background:url("http://r.syyx.com/events/p042/success.png") no-repeat;padding:10px 40px;display:inline;color:#faab10}
#reg_scroll .reg_panel .fail{background:url("http://r.syyx.com/events/p042/fail.png") no-repeat;padding:10px 40px;display:inline;color:#faab10}
#reg_scroll .reg_panel .back_bg{position:absolute;top:360px;height:20px;width:100%;background:url("http://r.syyx.com/events/p042/download.jpg") no-repeat;left:0}
#reg_scroll .reg_panel #back{width:120px;height:30px;position:absolute;top:40px;left:81px;background:url("http://r.syyx.com/events/p042/reg_btn.jpg") no-repeat -267px -125px;}
#reg_scroll .reg_panel #back:hover{background-position:-267px -157px}
#reg_scroll .reg_panel .check_result_wrong{background:url("http://r.syyx.com/events/p042/right_wrong.png") no-repeat 0 -32px;height:100%;width:16px}
#reg_scroll .reg_panel .check_result_right{background:url("http://r.syyx.com/events/p042/right_wrong.png") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll .reg_panel .check_result_loading{background:url("http://r.syyx.com/events/p042/ajax-loader.gif") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll #close{width:22px;height:22px;cursor:pointer;position:absolute;top:4px;right:4px}
.disnone{display:none}
