@import "../url"

.container
    background url($bg) no-repeat top center
    height 820px
    min-width 980px
    font-size 12px
    position relative
.main
    width 980px
    margin 0 auto
    position relative
    height 100%
.nav
    text-align right
    line-height 30px
    color #82ceee
    padding-right 20px
    a
        color #82ceee
        &:hover
            color #fff
.copy_right
    width 960px
    text-align center
    position absolute
    top 655px
    padding-left 18px
    color #414f74
    .feet_txt
        text-align left
        margin 10px 0 0 360px
        line-height 20px
    .feet_logo
        position absolute
        width 140px
        height 60px        
        top 34px
        left 200px
.servicecenter
    color #1085e6
    position absolute
    top 567px
    left 215px
    a
        color #77c9ac
#forgotrole,#forgotserver
    display block
    width 310px
    height 89px
    position absolute
    left 160px
#forgotrole
    top 248px
    &:hover
        background url($btn) no-repeat 0px -118px
#forgotserver
    top 399px
    &:hover
        background url($btn) no-repeat 0px 0px
.div_close
    position absolute
    width 27px
    height 27px
    left 522px
    top 0px
    cursor pointer

