#down_flash
    #flash_bg1
        img(src="http://r.syyx.com/events/p047/flv_img/flv_1.jpg")
        .flash_player
        .flash_div(flv_src="http://v.nycs.syyx.com/nycs/flv/JolinIntro_big_201209.flv")
    
    #flash_bg2
        img(src="http://r.syyx.com/events/p047/flv_img/flv_2.jpg")
        .flash_player
        .flash_div(flv_src="http://v.nycs.syyx.com/nycs/flv/gcpromotion_movie_640x360_20121001.flv")
    
    #flash_bg3
        img(src="http://r.syyx.com/events/p047/flv_img/flv_3.jpg")
        .flash_player
        .flash_div(flv_src="http://v.nycs.syyx.com/nycs/flv/TVCpre_640x360_20121001.flv")

    #flash_bg4
        img(src="http://r.syyx.com/events/p047/flv_img/flv_4.jpg")
        .flash_player
        .flash_div(flv_src="http://v.nycs.syyx.com/nycs/flv/TVC_sunlight_640x360_20121001.flv")