link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
meta(name = "keywords", content = "蔡依林，诺亚传说,网游,2012题材,网络游戏,人气,新世界,公平,激爽PK,热门2d新游")
meta(name = "description", content = "蔡依林代言网游《诺亚传说》10月12日战放公测！开创未来星纪元，魔法与科技完美交融，战斗欲望全情释放，玩得公平战得纯粹！蔡依林倾情代言，战放每个人的宇宙！")
title 蔡依林代言网游《诺亚传说》官方网站-战放公测，震撼来袭！