!!!5
html
    head
        title 欢迎回家！《诺亚传说》老兵回归福利震撼来袭！
        link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
        meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
        meta(name = "keywords", content = "诺亚传说,公测,老兵,回归,福利")
        meta(name = "description", content = "《诺亚传说》公测最新更新：老兵回归福利全新上线，海量奖励等你来拿！10月12日战放公测 老友回归不孤单！")
        link(href="/stylesheets/nycs/regular_customer/index/main.css",rel="stylesheet",type="text/css") 
        link(href="http://s.syyx.com/nycs/plugin/default_page_plugin/jquery-ui-1.8.13.custom.css",rel="stylesheet",type="text/css")
        link(href="http://s.syyx.com/nycs/plugin/light-box/jquery.lightbox-0.5.css",rel="stylesheet",type="text/css")
        script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
    body        
        .container
            .bg_nav
                .main
                    include ../_include/nav
                    a#a_nycs(href="http://nycs.syyx.com",target="_blank",hidefocus="true")
                    #divide
                        .jiathis_style
                            span.jiathis_txt 分享到：
                            a.jiathis_button_qzone
                            a.jiathis_button_tsina
                            a.jiathis_button_tqq
                            a.jiathis_button_renren
                            a.jiathis_button_kaixin001
                            a.jiathis_button_douban
                            a.jiathis.jiathis_txt.jtico.jtico_jiathis(href="http://www.jiathis.com/share",target="_blank")
                            //- a.jiathis_counter_style

                        script(type="text/javascript",src="http://v3.jiathis.com/code_mini/jia.js?uid=1334819148241749",charset="utf-8")
            .bg_content
                .main
                    #img_scroll
                        a#prev.button
                        .scroll_box
                            #scroll_body(style="margin-left:0px")
                                .scroll_img(href="http://r.syyx.com/party/nycs/regular_customer/img_1.jpg",hidefocus="true")
                                    img(src="http://r.syyx.com/party/nycs/regular_customer/img_1.jpg",width="256",height="446",style="display:inline")
                                    a#game_lib_293(href="http://nycs.syyx.com/game_lib_content_1.html?293",hidefocus="true",target="_blank")
                                .scroll_img(href="http://r.syyx.com/party/nycs/regular_customer/img_2.jpg",hidefocus="true")
                                    img(src="http://r.syyx.com/party/nycs/regular_customer/img_2.jpg",width="256",height="446",style="display:inline")
                                    a#game_lib_294(href="http://nycs.syyx.com/game_lib_content_1.html?294",hidefocus="true",target="_blank")
                                .scroll_img(href="http://r.syyx.com/party/nycs/regular_customer/img_3.jpg",hidefocus="true")
                                    img(src="http://r.syyx.com/party/nycs/regular_customer/img_3.jpg",width="256",height="446",style="display:inline")
                                    a#game_lib_295(href="http://nycs.syyx.com/game_lib_content_1.html?295",hidefocus="true",target="_blank")
                                .scroll_img(href="http://r.syyx.com/party/nycs/regular_customer/img_4.jpg",hidefocus="true")
                                    img(src="http://r.syyx.com/party/nycs/regular_customer/img_4.jpg",width="256",height="446",style="display:inline")
                                    a#game_lib_297(href="http://nycs.syyx.com/game_lib_content_1.html?297",hidefocus="true",target="_blank")
                                .scroll_img(href="http://r.syyx.com/party/nycs/regular_customer/img_5.jpg",hidefocus="true")
                                    img(src="http://r.syyx.com/party/nycs/regular_customer/img_5.jpg",width="256",height="446",style="display:inline")
                                    a#game_lib_296(href="http://nycs.syyx.com/game_lib_content_1.html?296",hidefocus="true",target="_blank")
                        a#next.button 
                    .honor
                        p
                            b 获得方式：
                            普通玩家与有老兵BUFF的玩家组队完成虫族、人族、十面时，可获得战友积分；召回其他玩家也会
                        p 获得一定战友积分。
                        p
                            b 奖励内容：
                            战友积分可在太阳城（512,395）NPC-老兵特使处兑换劳尔晶体。每周战友积分前十名的玩家可额外
                        p 获得一个6级晶体和两个5级晶体奖励。
                    .honor_1
                        p
                            b 获得方式：
                            军团中成员获得老兵积分，所在的军团即可获得相应的军团战友积分。军团长、内政官可以使用军团
                        p 战友积分在老兵特使处兑换军团补给箱，每周获得军团战友积分前五名的军团可以额外获得获得一个军团高级补
                        p 给箱奖励。
                        p
                            b 军团补给箱奖励内容：
                            在军团财物专员处提交可为军团增加：60W军团资金、160军团建设度。
                        p
                            b 军团高级补给箱奖励内容：
                            在军团财物专员处提交可为军团增加：100W军团资金、300军团建设度、200军团物
                        p 资。
                    .honor_2
                        p
                            b 邀请方式：
                            假如你有好友30天都没有上线，并且角色等级≥50级，你可以到太阳城（512,395）找NPC-老兵特使
                        p 对话，邀请好友回归游戏。
                        p
                            b 奖励内容：
                            | 3天内该玩家上线，且上线时该玩家符合老玩家玩老服奖励条件，则召回者得到战友积分奖励。
                    .honor_3
                        p 假如你拥有流失好友的联系方式不妨告诉我们，由我们帮你联络；记得游戏里也要邀请哦，否则会错过战友积分
                        p 奖励的！
                    a#login_btn(hidefocus="true",href="javascript:undefined")
            .bg_bottom
                .main
                    include ../_include/copyright
                .disnone
                    script(src="http://s6.cnzz.com/stat.php?id=2001608&web_id=2001608",type="text/javascript")
            #back_scroll
                #back_box(style="display:block")
                #pop(style="display:none")
                    .pop_main2
                    .center_pop
                    .pop_main
                        a#role_server(href="http://party.syyx.com/nycs/role/index.html",hidefocus="true",target="_blank")
                        a#load_client(href="http://nycs.syyx.com/DownLoad/miniDownLoadUrl.aspx",hidefocus="true",target="_blank")
                        a#back_pass(href="http://service.syyx.com/SelfService/GetPassword.aspx",hidefocus="true",target="_blank")
                        a#new_lead(href="http://nycs.syyx.com/GameInfo/guider.shtml",hidefocus="true",target="_blank")
            #popup_bg
            #div_date(style="display:none")
                input#txtrole(maxlength="120",type="text",tabindex="1")
                input#txtmobile(maxlength="11",type="text",tabindex="2")
                input#txtemail(maxlength="20",type="text",tabindex="3")
                .servername
                    select#servername(tabindex="4")
                input#txtrolename(maxlength="20",type="text",tabindex="5")
                a#btndate(hidefocus="true",href="javascript:undefined")
                .div_close
        script(src = "/javascripts/nycs/regular_customer/index/out.js", type="text/javascript")