@import "../url"

.input2
    border solid 1px #017acb
    background #032139
    color #8bd3fb
    padding-left 2px
    width 110px
    position absolute
    height 30px
    top 0
    left 0
    opacity 0
    cursor pointer
#fake_2
    width 32px
    margin-left -1px
    height 26px
    line-height 26px
    background #fbf9ea
    text-align center
    float left
#fake_1
    width 65px
    float left
body
    background #e8d2a0
.upimgs
    background #282119
    text-align center
    width 32px
    height 28px
    line-height 28px
    text-align center
    color #e8d2a1
    display block
    position absolute
    top 0px
    left 105px
    border solid 1px #c9b077
    cursor pointer
    &:hover
        color #e8d2a1
        text-decoration none
