$score_bg       = "http://r.syyx.com/party/nycs/questionnaire/score_bg.jpg"


body
    margin 0
    font-size 12px
.main
    width 980px
    margin 0 auto
.info,h1
    text-align center
    margin 10px 0
#welcome,#thanks
    font-weight 700
    text-align center
    margin 20px 0
    color #0C83C7
    font-size 14px
    span
        color orange
#question
    p
        margin 5px 0
    .in_text
        border 1px solid #A8D1FD
        background #F6FBFF
    td
        padding 1px 10px
.title
    border-top #ccc dashed 1px
    padding-top 10px
    margin-top 10px
    font-weight 700
    color #0C83C7
    position relative
    span
        cursor pointer
        position absolute
        right 0
        top 5px
        color orange
.score_box
    position relative
    height 22px
    width 251px
.score_bg
    background red
    height 20px
    width 0
    background url($score_bg) repeat-x
.score_bar
    border 1px solid #ccc
    border-right none
    height 18px
    line-height 18px
    overflow hidden
    zoom 1
    position absolute
    top 0
    left 0
    width 250px
    span
        width 49px
        display block
        border-right 1px solid #ccc
        float left
        text-align center
        cursor pointer
.score_num
    color #FF854F
    font-weight 700
.score_left,.score_center,.score_right
    color #42AD11
    font-size 12px
    width 33%
    float left
.score_center
    text-align center
    color orange
.score_right
    text-align right
    color red
.td_right
    text-align right
textarea
    width 970px
    height 128px
    font-size 12px
.font_len
    font-size 12px
.in_area
    width 300px
    height auto