//pic_url
$index_bg               = 'http://s1.syyx.com/nycs/images/index/index_bg.jpg'
$index_btn              = 'http://s1.syyx.com/nycs/images/index/btn.jpg'
$index_new_btn          = 'http://s1.syyx.com/nycs/images/index/btn_new.jpg'
$index_pic_news_select  = 'http://s1.syyx.com/nycs/images/index/tab_pic_news_select.png'
$news_icon              = 'http://s1.syyx.com/nycs/images/index/news_icon.png'
$group_bg               = 'http://s1.syyx.com/nycs/images/index/group_bg.jpg'
$tab_hover_arrow        = 'http://s1.syyx.com/nycs/images/index/tab_hover_arrow.jpg'
$tab_selected           = 'http://s1.syyx.com/nycs/images/index/tab_selected.jpg'
$role_tab               = 'http://s1.syyx.com/nycs/images/index/role_tab.jpg'
$midot                  = 'http://s1.syyx.com/nycs/images/index/midot.jpg'
$role_jianwu            = 'http://s1.syyx.com/nycs/images/index/jianwu.jpg'
$role_yineng            = 'http://s1.syyx.com/nycs/images/index/yineng.jpg'
$role_qiangxie          = 'http://s1.syyx.com/nycs/images/index/qiangxie.jpg'
$role_gedou             = 'http://s1.syyx.com/nycs/images/index/gedou.jpg'
$game_lib_ad1           = 'http://s1.syyx.com/nycs/images/index/game_lib_ad1.jpg'
$game_lib_ad2           = 'http://s1.syyx.com/nycs/images/index/game_lib_ad2.jpg'
$fanye                  = 'http://s1.syyx.com/nycs/images/index/fanye.png'