@import '../url'

.uploadphoto
    background url($framebg) no-repeat
    width 830px
    height 486px
    overflow hidden
    padding 50px 50px
    color #8dd0fa
.upsuccess
    background url($success) no-repeat 0px 5px
    width 255px
    height 230px
    position absolute
    top 90px
    left 60px
    padding-left 50px
.userimg
    width 100px
    text-align center
    margin 15px 25px
    float left
    .roleimg
        height 105px
        border solid 1px #017bd0
        overflow hidden
        margin-bottom 5px
        text-align center
        vertical-align middle
        //display table-cell
        width 100px
        img
            width 100px
.rnduser
    width 360px
    height 210px
    position absolute
    top 90px
    left 420px
.viewall
    position absolute
    top 325px
    width 550px
    left 275px
.weibo
    position absolute
    top 420px
    left 245px
    .qq
        display inline-block
        width 157px
        height 28px
        float left
        background url($qq) no-repeat
        margin-right 10px
    .sina
        display inline-block
        width 145px
        height 28px
        background url($sina) no-repeat
