@import "../url"

.container
    background url($bg2) no-repeat top center
    height 1220px
    min-width 980px
    overflow hidden
    font-size 12px
.main
    width 980px
    margin 0 auto
    position relative
    height 100%
.nav
    text-align right
    line-height 30px
    color #35648e
    margin-right 20px
    a
        color #35648e
.copy_right 
    position absolute
    text-align center
    width 980px
    top 1120px
    line-height 22px
.copy_right .feet_txt 
    margin-left 240px
    text-align left
.copy_right .feet_logo 
    position absolute
    top 0
    left 100px
    width 123px
    height 51px
#roletype
    width 80px
    margin-right 30px
.roleselect
    position absolute
    top 538px
    left 50px
    select
        margin-right 10px
.toupimg
    position absolute
    top 531px
    right 45px
    background url($btn) no-repeat -463px -93px
    width 165px
    height 36px
    display block
.toupimg:hover
    background url($btn) no-repeat -463px -132px
.imglist
    position absolute
    width 930px
    height 400px
    top 590px
    left 33px
.imgbox
    width 220px
    text-align center
    margin-right 10px
    float left
    font-size 14px
    color #89d3ff
    margin-bottom 10px
    overflow hidden
    .roleimg
        width 218px
        height 140px
        border solid 1px #017bd0
        overflow hidden
        margin-bottom 5px
        vertical-align middle
        //display table-cell
        text-align center
#dispaly_page_num
    position absolute
    width 700px
    height 400px
    text-align right
    top 995px
    right 50px
    select
        width auto
    a
        background #0b3f64
        padding 5px
        margin-right 5px
    .current
        background #276ea6
        color #fff
    .noclick
        cursor text
.listmore
    position absolute
    top 450px
    right 10px
    font-size 14px
    a
        color #90fff8
