body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
q:before,q:after{content:''}
abbr,acronym{border:0}
a{text-decoration:none;outline:none}
.disnone{display:none}
.hide{visibility:hidden}
.ui-tabs-hide{display:none}
body{font-size:12px;font-family:'宋体';background-color:#011327}
.container{min-width:1000px;background:url("http://s1.syyx.com/nycs/images/feature0530/bg.jpg") center top no-repeat;}
.container .content{width:1000px;margin:0 auto;position:relative;height:1300px;overflow:hidden;}
.container .content .flash1,.container .content .flash2{position:absolute;width:216px;height:120px;top:439px;left:395px}
.container .content .logo_link{position:absolute;top:70px;left:480px;width:210px;height:80px}
.container .content .nav{position:absolute;width:664px;height:62px;left:139px;top:10px;overflow:hidden;}
.container .content .nav a{float:left;width:55px;height:20px}
.container .content .video{position:absolute;top:438px;left:395px;width:215px;height:120px;}
.container .content .video a{display:block;width:215px;height:120px;background:url("http://s1.syyx.com/nycs/images/feature0530/blank.png") 0 0 no-repeat}
.container .content .link1{position:absolute;left:15px;top:690px;}
.container .content .link1 a{width:300px;height:120px;float:left;margin-left:30px;display:inline;}
.container .content .link1 a.first{margin:0}
.container .content .link2{position:absolute;left:15px;top:970px;}
.container .content .link2 a{width:230px;height:120px;float:left;display:inline;}
.container .content .link2 a.second{width:260px}
.container .content .link2 a.third{width:250px}
.container .content .link2 a.wait{background:url("http://s1.syyx.com/nycs/images/feature0530/wait.png") 91px 67px no-repeat}
.container .content .link2 a.wait2{background:url("http://s1.syyx.com/nycs/images/feature0530/wait.png") 88px 67px no-repeat}
.container .content .link2 a.wait3{background:url("http://s1.syyx.com/nycs/images/feature0530/wait.png") 84px 67px no-repeat}
.pop_video_detail{background-color:#002544;border:1px solid #003867}
.ui-dialog .ui-dialog-titlebar-close{background:url("http://s.syyx.com/events/type1_0502/close_dialog.jpg") no-repeat scroll 0 0 transparent}
