//pic_url
$bg              = 'http://s1.syyx.com/nycs/images/feature0530/bg.jpg'
$wait            = 'http://s1.syyx.com/nycs/images/feature0530/wait.png'
$blank           = 'http://s1.syyx.com/nycs/images/feature0530/blank.png'