script(src='http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js',type="text/javascript")
link(href='http://s.syyx.com/user/plugin/jquery-ui-1.8.7/jquery-ui-1.8.7.custom.css',type='text/css',rel="stylesheet")
link(href='http://s1.syyx.com/nysjdm/Script/themes/default/easyui.css',type='text/css',rel="stylesheet")
script(src='http://s.syyx.com/user/plugin/jquery-ui-1.8.7/jquery-ui-1.8.7.custom.min.js',type="text/javascript")
script(src='http://s1.syyx.com/nysjdm/Script/jquery.easyui.min.js',type="text/javascript")
script(src='http://s1.syyx.com/nysjdm/Script/locale/easyui-lang-zh_CN.js',type="text/javascript")
link(href='http://s1.syyx.com/nysjdm/css/main.css',type='text/css',rel="stylesheet")
script(src='/javascripts/GameAnalyse/Battle/out.js',type="text/javascript")