body{font-size:12px;margin:0;color:#26424e;background:#07102f}
img{border:none}
a{outline:none;color:#7a584c;text-decoration:none;}
a:hover{color:#fff}
.disnone{display:none}
.wrapper{width:100%;height:100%;background:url("http://r.syyx.com/events/p022/main.jpg") no-repeat center 480px}
.container{position:relative;width:100%;height:1000px;min-width:980px;background:url("http://r.syyx.com/events/p022/bg.jpg") no-repeat center top}
.main{height:100%;width:980px;margin:0 auto;position:relative}
.nav{color:#7a584c;padding-left:170px;line-height:30px}
.logo{width:151px;height:76px;position:absolute;left:85px;top:30px}
.mini_download{position:absolute;width:197px;height:47px;top:440px;left:110px;background:url("http://r.syyx.com/events/p022/btn.jpg") no-repeat -22px -25px;}
.mini_download:hover{background-position:-22px -74px}
#prize{width:284px;height:55px;position:absolute;top:50px;left:250px}
#flash{height:238px;left:4px;position:absolute;top:510px;width:425px}
#job{width:540px;position:absolute;right:1px;top:0;height:755px;color:#00baff;}
#job .con{height:755px;width:100%;display:none;position:absolute;top:0;left:0}
#job div.qxs{background:url("http://r.syyx.com/events/p022/qxs.jpg") no-repeat;display:block;}
#job div.qxs .skill{background-position:-22px -168px}
#job div.ynz{background:url("http://r.syyx.com/events/p022/ynz.jpg") no-repeat;}
#job div.ynz .skill{background-position:-22px -203px}
#job div.jws{background:url("http://r.syyx.com/events/p022/jws.jpg") no-repeat;}
#job div.jws .skill{background-position:-22px -238px}
#job div.gdj{background:url("http://r.syyx.com/events/p022/gdj.jpg") no-repeat;}
#job div.gdj .skill{background-position:-22px -273px}
#job #j_tab{height:38px;width:100%;position:absolute;top:508px;}
#job #j_tab span{display:block;height:38px;width:112px;background:url("http://r.syyx.com/events/p022/btn.jpg") no-repeat 999cm;float:left;cursor:pointer}
#job #j_tab .check_0{background-position:-22px -123px}
#job #j_tab .check_1{background-position:-134px -123px}
#job #j_tab .check_2{background-position:-246px -123px}
#job #j_tab .check_3{background-position:-358px -123px}
#job .info{position:absolute;top:560px;left:25px;}
#job .info strong{color:#00e5e2}
#job .info ul{padding:5px 0 10px;width:320px;height:40px;margin:0;}
#job .info ul li{list-style:none;width:160px;float:left;height:20px;line-height:20px}
#job .info p{line-height:20px;margin:0 0 10px}
#job .info .skill{height:33px;margin:5px 0 0;width:271px;background:url("http://r.syyx.com/events/p022/btn.jpg") 999cm no-repeat;}
#job .info .skill em{display:inline-block;width:33px;height:33px;cursor:pointer;float:left;margin-right:5px}
#job #j_swf{width:188px;height:105px;border:1px solid #0165ff;position:absolute;right:20px;top:565px;background:#000;}
#job #j_swf span{visibility:hidden;position:absolute;width:188px;height:105px;top:0;left:0}
#job #reg_1{position:absolute;width:197px;height:47px;top:450px;right:2px;background:url("http://r.syyx.com/events/p022/btn.jpg") no-repeat -221px -25px;}
#job #reg_1:hover{background-position:-221px -74px}
#job #reg_2{position:absolute;width:143px;height:36px;background:url("http://r.syyx.com/events/p022/btn.jpg") no-repeat -420px -47px;top:695px;right:45px;}
#job #reg_2:hover{background-position:-420px -85px}
.copy_right{width:700px;position:absolute;top:913px;line-height:23px;padding-left:240px;}
.copy_right .feet_logo{position:absolute;width:130px;height:45px;left:95px;top:0}
.reg_box{right:0;top:80px;position:absolute;height:462px;width:72px;left:auto;z-index:10;}
.reg_box #reg1{width:72px;height:293px;background:url("http://r.syyx.com/events/p022/reg.jpg") no-repeat;text-indent:-9999cm;position:absolute;}
.reg_box #reg1:hover{background-position:-73px 0}
.reg_box #reg2{display:none;position:absolute;left:-212px;background:url("http://r.syyx.com/events/p022/reg_head.jpg") #11406c no-repeat;width:282px;height:360px;padding-top:100px;border:1px solid #0876b3;color:#bdf1ff;overflow:hidden;}
.reg_box #reg2 a{color:#00e5e2;}
.reg_box #reg2 a:hover{color:#fff}
.reg_box #reg2 .reg{padding:0 20px 0 25px}
.reg_box #reg2 table{height:162px;}
.reg_box #reg2 table td{height:27px;width:20px}
.reg_box #reg2 table input{background:#85bbe5;border:1px solid #009cff;height:18px;color:#002c7a;line-height:18px;width:145px}
.reg_box #reg2 table .focus_in_inut{background:#cce9ff}
.reg_box #reg2 .agreement{height:21px}
.reg_box #reg2 .reg_form_item_name{width:60px}
.reg_box #reg2 .reg_form_item_input{width:150px}
.reg_box #reg2 .validate_num_input{height:30px;vertical-align:top;padding-top:3px}
.reg_box #reg2 #txtValidate{width:50px}
.reg_box #reg2 #validateimg{width:90px;margin-left:5px;height:27px;vertical-align:top;cursor:pointer}
.reg_box #reg2 #reg_step2,.reg_box #reg2 #reg_step3,.reg_box #reg2 #reg_step4,.reg_box #reg2 #reg_step5{width:220px;margin:0 auto;padding-top:30px;line-height:25px;display:none;height:120px;}
.reg_box #reg2 #reg_step2 input,.reg_box #reg2 #reg_step3 input,.reg_box #reg2 #reg_step4 input,.reg_box #reg2 #reg_step5 input{background:#85bbe5;border:1px solid #009cff;height:18px;color:#002c7a;line-height:18px;width:145px}
.reg_box #reg2 #reg_step2{height:auto;}
.reg_box #reg2 #reg_step2 .active{height:200px;line-height:30px}
.reg_box #reg2 #active_link{display:block;margin:20px auto;width:128px;height:32px;background:url("http://r.syyx.com/events/p022/btn2.jpg") no-repeat -144px -227px;}
.reg_box #reg2 #active_link:hover{background-position:-145px -260px}
.reg_box #reg2 .download{height:50px;width:266px;margin:0 auto;background:url("http://r.syyx.com/events/p022/btn2.jpg") no-repeat -301px -137px;position:relative;}
.reg_box #reg2 .download a{position:relative;top:60px}
.reg_box #reg2 .download .mini_download{height:30px;width:127px;position:absolute;left:0;background:url("http://r.syyx.com/events/p022/btn2.jpg") no-repeat -12px -158px;}
.reg_box #reg2 .download .mini_download:hover{background-position:-12px -188px}
.reg_box #reg2 .download .full_download{height:30px;width:127px;position:absolute;right:0;background:url("http://r.syyx.com/events/p022/btn2.jpg") no-repeat -155px -158px;}
.reg_box #reg2 .download .full_download:hover{background-position:-155px -188px}
.reg_box #reg2 .reg_submit{height:55px;position:relative}
.reg_box #reg2 #reg_button{width:128px;height:32px;position:absolute;left:51px;top:7px;background:url("http://r.syyx.com/events/p022/btn2.jpg") no-repeat -11px -227px;}
.reg_box #reg2 #reg_button:hover{background-position:-11px -261px}
.reg_box #reg2 .success{height:50px;padding-left:50px;line-height:50px;background:url("http://r.syyx.com/events/p022/success.jpg") no-repeat left center;color:#ffbf00}
.reg_box #reg2 .fail{height:50px;padding-left:50px;line-height:50px;background:url("http://r.syyx.com/events/p022/fail.jpg") no-repeat left center;color:#ffbf00;margin-left:50px}
.reg_box #reg2 #back{text-decoration:underline;cursor:pointer;margin:20px 0 0 100px}
.reg_box #reg2 .download_tip{text-align:center;padding-top:90px;color:#07daef}
.reg_box #close{width:22px;height:22px;cursor:pointer;position:absolute;top:0;right:0}
.check_result_wrong{background:url("http://r.syyx.com/events/p022/right_wrong.png") no-repeat 0 -32px;height:100%;width:16px}
.check_result_right{background:url("http://r.syyx.com/events/p022/right_wrong.png") no-repeat 0 4px;height:25px;width:16px}
.check_result_loading{background:url("http://r.syyx.com/events/p022/ajax-loader.gif") no-repeat 0 4px;height:25px;width:16px}
