$path        = "http://r.syyx.com/party/nycs/notalone/"
$framebg     = $path"framebg.jpg"
$photo       = $path"photo.jpg"
$btn         = $path"btn.png"
$bg          = $path"bg.jpg"
$bg2          = $path"bg2.jpg"
$success     = $path"success.jpg"
$qq          = $path"qq.jpg"
$sina        = $path"sina.jpg"

support-for-ie ?= true

opacity(n)
    opacity n
    if support-for-ie
        filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

body
    margin 0
    background #0d2d4e
    color #9ea39f
    font-size 12px
    line-height 22px
a
    color #8dd0fa
    text-decoration none
    outline none
a:hover
    color #d4d4d4
h1 
    margin 0
    font-weight normal
.input
    border solid 1px #017acb
    background #032139
    height 20px
    color #8bd3fb
    padding-left 2px
    width 150px
.btn
    width 106px
    height 27px
    background url($btn) no-repeat -476px -32px
    display block
    font-size 14px
    line-height 27px
.loginbtn
    text-align center
    margin-left 10px
    a
        margin-right 12px
        float left
        margin-top 20px
.loginerr
    color #f94304
    text-align center
    height 40px
.disnone
    display none
input,select
    vertical-align:middle
    
.selectdiv
    position  relative
    width 146px
    border: medium none
    overflow hidden
    position relative
    border solid 1px #017acb
    height 18px
    select 
        border solid 1px #017acb
        position  relative
        top    -3px
        left -2px
        border: medium none
        overflow hidden
#popup_bg
    width 100%
    min-width 996px
    height 1431px
    opacity 0.7
    background #000
    position  absolute
    top 0 
    left 0
    display none
    z-index 2
#div_login
    position absolute
    width 850px
    overflow hidden
    z-index 3
    left 50%
    margin-left -425px
    iframe
        z-index -1
.div_close
    position absolute
    width 28px
    height 28px
    left 790px
    top 10px
    cursor pointer
.logo
    position absolute
    width 210px
    height 100px
    left 670px
    top 48px
    margin-left -83px
    text-indent -999cm