#media
    ul
        li
            a(href='#media_duowan') 多玩
        li
            a(href='#media_163') 网易
        li
            a(href='#media_178') 178
    #media_duowan
    #media_163
    #media_178