@import "../url"

body
    background #011d42
.file
    position relative
.input2
    border solid 1px #017acb
    background #032139
    color #8bd3fb
    padding-left 2px
    width 210px
    position absolute
    top 0
    left 0
    opacity 0
#fake_2
    position relative
    width 50px
    margin-left 5px
    height 24px
    background #004276
.selectimg
    margin-top 10px
    margin-bottom 20px
    margin-left 65px
.upimgs
    display block
    background #004276
    width 80px
    padding-top 4px
    height 22px
    text-align center
    cursor pointer

    