body{margin:0;font:12px/2em "宋体";color:#72778b;background:#04091d}
a{text-decoration:none;color:#5595bb;outline:none;}
a:hover{color:#fff}
.container{position:relative;min-width:980px;background:url("http://r.syyx.com/events/p048/bg.jpg") no-repeat center top}
.wrap{background:url("http://r.syyx.com/events/p048/main.jpg") no-repeat center 643px;position:relative}
.main{width:980px;margin:0 auto;height:1450px;position:relative}
.nav{text-align:right;position:absolute;top:0;right:100px;color:#5595bb;line-height:30px}
#banner{height:643px;}
#banner img{width:855px;height:643px;position:absolute;top:0;left:61px;display:none}
#banner #swf{width:855px;height:643px;position:absolute;top:0;left:59px}
#banner a{position:absolute;background:url("http://r.syyx.com/events/p048/btn.jpg") no-repeat 999cm}
#banner .cyl{width:152px;height:43px;top:359px;left:414px}
#banner .qxs{width:120px;height:35px;top:336px;left:750px}
#banner .ynz{width:96px;height:30px;top:170px;left:814px}
#banner .jws{width:106px;height:30px;top:245px;left:67px}
#banner .gdj{width:127px;height:36px;left:143px;top:364px}
.logo{width:152px;height:77px;position:absolute;top:15px;left:80px;background:url("http://r.syyx.com/events/p048/btn.jpg") no-repeat 999cm}
.mini{width:175px;height:47px;position:absolute;left:308px;top:416px;background:url("http://r.syyx.com/events/p048/btn.jpg") no-repeat 999cm;}
.mini:hover{background-position:0 0}
#reg_1{width:175px;height:47px;position:absolute;left:494px;top:416px;background:url("http://r.syyx.com/events/p048/btn.jpg") 999cm no-repeat;}
#reg_1:hover{background-position:0 -70px}
#video{width:592px;height:334px;position:absolute;top:644px;left:194px}
#reg_2{width:229px;height:55px;position:absolute;top:1011px;left:376px;background:url("http://r.syyx.com/events/p048/btn.jpg") no-repeat 9999cm;}
#reg_2:hover{background-position:0 -145px}
.copy_right{width:980px;text-align:center;position:absolute;top:1230px;line-height:18px;}
.copy_right .feet_txt{text-align:left;margin:10px 0 0 400px}
.copy_right .feet_logo{position:absolute;width:140px;height:60px;left:245px;top:30px}
.pop_video_detail{background:#54200a;border:1px solid #873410}
#pop_flash{border:1px solid #873410;background:#000;line-height:0;height:350px}
.ui-dialog .ui-dialog-titlebar-close{background:url("$close") no-repeat}
object{outline:none}
#reg_scroll{width:70px;height:383px;position:absolute;top:100px;right:0;overflow:hidden;}
#reg_scroll #reg_but{width:70px;height:291px;background:url("http://r.syyx.com/events/p048/reg_scroll.jpg") no-repeat 0 0;position:absolute;}
#reg_scroll #reg_but:hover{background-position:-72px 0}
#reg_scroll #reg_box{width:284px;height:455px;display:none;background:url("http://r.syyx.com/events/p048/reg_bg.jpg") no-repeat #221334}
#reg_scroll .reg_panel{width:283px;padding-top:80px;color:#c998ff;right:3px;overflow:hidden;height:390px;}
#reg_scroll .reg_panel .reg{margin-left:40px}
#reg_scroll .reg_panel a{color:#a696c7;text-decoration:underline;}
#reg_scroll .reg_panel a:hover{color:#fff}
#reg_scroll .reg_panel table{height:162px;}
#reg_scroll .reg_panel table td{height:27px;width:20px}
#reg_scroll .reg_panel table input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:145px}
#reg_scroll .reg_panel table .focus_in_inut{background:#af99d4}
#reg_scroll .reg_panel .agreement{height:21px}
#reg_scroll .reg_panel .reg_form_item_name{width:60px}
#reg_scroll .reg_panel .reg_form_item_input{width:150px}
#reg_scroll .reg_panel .validate_num_input{height:30px;vertical-align:top;padding-top:3px}
#reg_scroll .reg_panel #txtValidate{width:50px}
#reg_scroll .reg_panel #validateimg{width:90px;margin-left:5px;height:27px;vertical-align:top;cursor:pointer}
#reg_scroll .reg_panel #reg_step2,#reg_scroll .reg_panel #reg_step3,#reg_scroll .reg_panel #reg_step4,#reg_scroll .reg_panel #reg_step5{width:220px;margin:0 auto;padding-top:30px;line-height:25px;display:none;height:120px;text-align:center;}
#reg_scroll .reg_panel #reg_step2 input,#reg_scroll .reg_panel #reg_step3 input,#reg_scroll .reg_panel #reg_step4 input,#reg_scroll .reg_panel #reg_step5 input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:145px}
#reg_scroll .reg_panel #reg_step2{height:211px;}
#reg_scroll .reg_panel #reg_step2 .active{height:200px;line-height:30px}
#reg_scroll .reg_panel #reg_step4 .active_info{margin-top:40px}
#reg_scroll .reg_panel #reg_step5{height:390px;width:100%;}
#reg_scroll .reg_panel #reg_step5 p{padding:0 40px}
#reg_scroll .reg_panel #active_link{display:block;margin:20px auto;width:120px;height:30px;background:url("http://r.syyx.com/events/p048/reg_btn.jpg") no-repeat -2px -61px;}
#reg_scroll .reg_panel #active_link:hover{background-position:-2px -93px}
#reg_scroll .reg_panel .download{height:66px;padding:0 10px;position:relative;margin:0 auto;background:url("http://r.syyx.com/events/p048/download.jpg") no-repeat;}
#reg_scroll .reg_panel .download .mini_download{height:30px;width:125px;display:block;position:relative;top:80px;float:left;background:url("http://r.syyx.com/events/p048/reg_btn.jpg") no-repeat -13px -125px;}
#reg_scroll .reg_panel .download .mini_download:hover{background-position:-13px -157px}
#reg_scroll .reg_panel .download .full_download{height:30px;width:125px;display:block;position:relative;top:80px;float:right;background:url("http://r.syyx.com/events/p048/reg_btn.jpg") no-repeat -140px -125px;}
#reg_scroll .reg_panel .download .full_download:hover{background-position:-140px -157px}
#reg_scroll .reg_panel .download_tip{height:40px;line-height:30px;margin-top:80px;text-align:center;font-size:14px;padding:0 40px;text-align:left}
#reg_scroll .reg_panel .reg_submit{height:55px;position:relative}
#reg_scroll .reg_panel #reg_button{width:120px;height:30px;position:absolute;left:51px;top:11px;background:url("http://r.syyx.com/events/p048/reg_btn.jpg") no-repeat -124px -61px;}
#reg_scroll .reg_panel #reg_button:hover{background-position:-124px -93px}
#reg_scroll .reg_panel .success{background:url("$success") no-repeat;padding:10px 40px;display:inline;color:#faab10}
#reg_scroll .reg_panel .fail{background:url("$fail") no-repeat;padding:10px 40px;display:inline;color:#faab10}
#reg_scroll .reg_panel .back_bg{position:absolute;top:360px;height:20px;width:100%;background:url("http://r.syyx.com/events/p048/download.jpg") no-repeat;left:0}
#reg_scroll .reg_panel #back{width:120px;height:30px;position:absolute;top:40px;left:81px;background:url("http://r.syyx.com/events/p048/reg_btn.jpg") no-repeat -267px -125px;}
#reg_scroll .reg_panel #back:hover{background-position:-267px -157px}
#reg_scroll .reg_panel .check_result_wrong{background:url("http://r.syyx.com/events/p048/right_wrong.png") no-repeat 0 -32px;height:100%;width:16px}
#reg_scroll .reg_panel .check_result_right{background:url("http://r.syyx.com/events/p048/right_wrong.png") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll .reg_panel .check_result_loading{background:url("http://r.syyx.com/events/p048/ajax-loader.gif") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll #close{width:22px;height:22px;cursor:pointer;position:absolute;top:4px;right:4px}
.disnone{display:none}
