body{margin:0;font:12px/2em "宋体";color:#544b63;background:#110e09}
a{text-decoration:none;color:#5595bb;outline:none;}
a:hover{color:#fff}
.container{position:relative;background:url("http://r.syyx.com/events/p025/bg.jpg") no-repeat center top;min-width:980px}
.wrap{background:url("http://r.syyx.com/events/p025/main.jpg") no-repeat center 580px;position:relative;min-width:980px}
.main{width:980px;margin:0 auto;height:1450px;position:relative}
.nav{text-indent:-99999cm;padding-left:570px;position:absolute;width:410px;}
.nav a{display:block;float:left;width:88px;text-indent:-99999cm;height:40px}
#banner{position:relative;top:168px;width:970px;height:371px;left:-3px}
#time{position:absolute;top:576px;width:953px;height:221px;left:-1px}
.a1{position:absolute;width:218px;height:93px;left:4px;top:442px;background:url("http://r.syyx.com/events/p025/btn.jpg") no-repeat -9999cm;}
.a1:hover{background-position:-42px -66px}
.a2{position:absolute;width:218px;height:93px;left:247px;top:442px;background:url("http://r.syyx.com/events/p025/btn.jpg") no-repeat -9999cm;}
.a2:hover{background-position:-262px -66px}
.a3{position:absolute;width:164px;height:34px;left:28px;top:1006px;background:url("http://r.syyx.com/events/p025/btn.jpg") no-repeat -9999cm;}
.a3:hover{background-position:-178px -161px}
.a4{position:absolute;width:164px;height:34px;left:204px;top:1006px;background:url("http://r.syyx.com/events/p025/btn.jpg") no-repeat -9999cm;}
.a4:hover{background-position:-344px -161px}
.a5{position:absolute;width:134px;height:34px;left:534px;top:1006px;background:url("http://r.syyx.com/events/p025/btn.jpg") no-repeat -9999cm;}
.a5:hover{background-position:-42px -161px}
.a6{position:absolute;width:134px;height:34px;left:28px;top:1206px;background:url("http://r.syyx.com/events/p025/btn.jpg") no-repeat -9999cm;}
.a6:hover{background-position:-42px -161px}
.a7{position:absolute;width:134px;height:34px;left:534px;top:1206px;background:url("http://r.syyx.com/events/p025/btn.jpg") no-repeat -9999cm;}
.a7:hover{background-position:-42px -161px}
.logo{width:196px;height:90px;position:absolute;top:40px;left:0}
.copy_right{width:700px;position:absolute;top:1350px;line-height:23px;padding-left:240px;}
.copy_right .feet_logo{position:absolute;width:130px;height:45px;left:95px;top:0}
#reg_scroll{width:70px;height:383px;position:absolute;top:100px;right:0;display:none;}
#reg_scroll a{color:#776595;}
#reg_scroll a:hover{color:#fff}
#reg_scroll #reg_but{width:70px;height:273px;background:url("http://r.syyx.com/events/p025/reg_scroll.jpg") no-repeat 0 0;position:absolute;}
#reg_scroll #reg_but:hover{background-position:-70px 0}
#reg_scroll #reg_box{width:266px;height:383px;display:none;background:url("http://r.syyx.com/events/p025/reg_bg.jpg") no-repeat}
#reg_scroll .reg_panel{width:230px;padding:50px 0 0 18px;color:#c998ff;}
#reg_scroll .reg_panel table{height:162px;}
#reg_scroll .reg_panel table td{height:27px;width:20px}
#reg_scroll .reg_panel table input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:145px}
#reg_scroll .reg_panel table .focus_in_inut{background:#af99d4}
#reg_scroll .reg_panel .agreement{height:21px}
#reg_scroll .reg_panel .reg_form_item_name{width:60px}
#reg_scroll .reg_panel .reg_form_item_input{width:150px}
#reg_scroll .reg_panel .validate_num_input{height:30px;vertical-align:top;padding-top:3px}
#reg_scroll .reg_panel #txtValidate{width:50px}
#reg_scroll .reg_panel #validateimg{width:90px;margin-left:5px;height:27px;vertical-align:top;cursor:pointer}
#reg_scroll .reg_panel #reg_step2,#reg_scroll .reg_panel #reg_step3,#reg_scroll .reg_panel #reg_step4,#reg_scroll .reg_panel #reg_step5{width:220px;margin:0 auto;padding-top:30px;line-height:25px;display:none;height:120px;text-align:center;}
#reg_scroll .reg_panel #reg_step2 input,#reg_scroll .reg_panel #reg_step3 input,#reg_scroll .reg_panel #reg_step4 input,#reg_scroll .reg_panel #reg_step5 input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:145px}
#reg_scroll .reg_panel #reg_step2{height:auto;}
#reg_scroll .reg_panel #reg_step2 .active{height:200px;line-height:30px}
#reg_scroll .reg_panel #active_link{display:block;margin:20px auto;width:106px;height:30px;background:url("http://r.syyx.com/events/p025/reg_btn.jpg") no-repeat -8px -63px;}
#reg_scroll .reg_panel #active_link:hover{background-position:-8px -93px}
#reg_scroll .reg_panel .download{height:25px;width:210px;position:absolute;top:330px;left:30px;}
#reg_scroll .reg_panel .download .mini_download{height:25px;width:103px;display:block;float:left;background:url("http://r.syyx.com/events/p025/reg_btn.jpg") no-repeat -8px -5px;}
#reg_scroll .reg_panel .download .mini_download:hover{background-position:-8px -31px}
#reg_scroll .reg_panel .download .full_download{height:25px;width:103px;display:block;float:right;background:url("http://r.syyx.com/events/p025/reg_btn.jpg") no-repeat -114px -5px;}
#reg_scroll .reg_panel .download .full_download:hover{background-position:-114px -31px}
#reg_scroll .reg_panel .reg_submit{height:55px;position:relative}
#reg_scroll .reg_panel #reg_button{width:106px;height:30px;position:absolute;left:61px;top:7px;background:url("http://r.syyx.com/events/p025/reg_btn.jpg") no-repeat -118px -63px;}
#reg_scroll .reg_panel #reg_button:hover{background-position:-118px -93px}
#reg_scroll .reg_panel .icon{width:70px;height:70px;background:url("http://r.syyx.com/events/p025/reg_btn.jpg") no-repeat -718px -12px;margin:10px auto;}
#reg_scroll .reg_panel .icon a{display:none}
#reg_scroll .reg_panel .reg_success{background:url("http://r.syyx.com/events/p025/reg_btn.jpg") no-repeat -280px 0;width:145px;height:30px;margin:0 auto}
#reg_scroll .reg_panel .act_success{background:url("http://r.syyx.com/events/p025/reg_btn.jpg") no-repeat -277px -64px;width:145px;height:30px;margin:0 auto}
#reg_scroll .reg_panel .act_fail{background:url("http://r.syyx.com/events/p025/reg_btn.jpg") no-repeat -450px 0;width:145px;height:30px;margin:0 auto}
#reg_scroll .reg_panel #back{display:block;text-decoration:underline;cursor:pointer;margin:20px auto}
#reg_scroll .reg_panel .check_result_wrong{background:url("http://r.syyx.com/events/p025/right_wrong.png") no-repeat 0 -32px;height:100%;width:16px}
#reg_scroll .reg_panel .check_result_right{background:url("http://r.syyx.com/events/p025/right_wrong.png") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll .reg_panel .check_result_loading{background:url("http://r.syyx.com/events/p025/ajax-loader.gif") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll #close{width:22px;height:22px;cursor:pointer;position:absolute;top:10px;right:10px}
.disnone{display:none}
