meta(charset="utf-8")
meta(name="keywords", content="游戏资料,诺亚传说,官方资料,最新资料,攻略")
meta(name="description" ,content="《诺亚传说》游戏资料站实时更新游戏内玩法资料，玩家可以在这里找到需要的游戏资料和攻略。" )
link(rel="shortcut icon", href="http://s1.syyx.com/nycs/images/favicon.ico",type="image/x-icon")
title 游戏资料-《诺亚传说》官方网站