#game_lib_nav
    ul
        //- li
        //-     a.title(href='#') 游戏介绍
        //-     .lib_nav_content
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-         a(href='#') 游戏资料
        //-     .arrow