meta(charset="utf-8")
meta(name="keywords", content="职业介绍，四大职业，诺亚传说,网游,2012题材,网络游戏,人气,新世界,公平,激爽PK,热门2d新游")
meta(name="description" ,content="职业介绍：战场清理机的异能者职业;冷血、迅捷、一剑封喉致命的恐怖杀手剑武士职业;百步穿杨、天生的冷血神射手枪械师职业;生命力最强的冲锋尖刀格斗家职业，天赋凛然、个性迵异，《诺亚传说》全新2012题材人气巨作! " )
link(rel="shortcut icon", href="http://s1.syyx.com/nycs/images/favicon.ico",type="image/x-icon")
title 职业介绍-《诺亚传说》官方网站-全新2012题材人气巨作,终极内测,震撼来袭!