.top_iframe
    iframe(id="mainFrame",name="mainFrame",src="http://www.syyx.com/TopBar.shtml",width="1000",scrolling="no",frameborder="no",allowtransparency="true",marginheight="0",marginwidth="0",border="0")