//navlinks---------------------------------------------------------------
- var nycs_index  = '/index.html'
- var nycs_main   = 'http://nycs.syyx.com/index.shtml'
- var nav_news    = '/news_list.html'
- var nav_user    = 'http://nycs.syyx.com/user.html'
- var nav_lib     = '/game_lib.html'
- var nav_video   = '/picture_video.html'
- var nav_service = 'http://service.syyx.com/index.aspx'
- var nav_bbs     = 'http://bbs.nycs.syyx.com/'
//fn_btn_links-------------------------------------------------------------------------
- var syyx_index  = 'http://www.syyx.com/'
- var reg         = 'http://user.syyx.com/reg.aspx'
- var get_gift    = 'http://activity.syyx.com/gift/index.html'
- var download    = '/DownLoad/Index.shtml'
- var active_gift = 'http://activity.syyx.com/nycs_activate/activate_giftbag.shtml'
- var charge      = 'http://pay.syyx.com/'
- var policy      = 'http://user.syyx.com/policy/userpolicy.aspx'
- var full_client = 'http://nycs.syyx.com/DownLoad/DownLoadUrl.aspx'
- var mini_client = 'http://nycs.syyx.com/DownLoad/miniDownLoadUrl.aspx'

//---------------------------------
- var yineng_intro    = 'http://nycs.syyx.com/GameInfo/Metier.shtml'
- var jianwu_intro    = 'http://nycs.syyx.com/GameInfo/metier_02.shtml'
- var qiangxie_intro  = 'http://nycs.syyx.com/GameInfo/metier_03.shtml'
- var gedou_intro     = 'http://nycs.syyx.com/GameInfo/metier_04.shtml'

- var bind_mobile     = 'http://user.syyx.com/info/MobileBind.aspx'
- var modify_password = 'http://user.syyx.com/info/ChangePassword.aspx'
- var bind_token      = 'http://safe.syyx.com/Token/Index.aspx'
- var bind_card       = 'http://safe.syyx.com/psdcard/mycard.aspx'
- var modify_email    = 'http://user.syyx.com/email/sendvalidateemail.aspx'
- var service_faq     = 'http://service.syyx.com/WebHelp/faqlist.aspx?TypeID=2'

- var index_screen     = 'http://nycs.syyx.com/piccenter/gamepiclist.shtml'
- var index_paper      = 'http://nycs.syyx.com/piccenter/WallpaperList.shtml'
- var index_photo      = 'http://nycs.syyx.com/pic_list.html'
- var all_raw_pictures = 'http://nycs.syyx.com/piccenter/rawpicturelist.aspx'
- var video_info       = 'http://nycs.syyx.com/Video/VideoInfo.aspx'
- var all_cartoon      = 'http://nycs.syyx.com/subject/cartoon/index.html'

- var user_guider    = 'http://nycs.syyx.com/GameInfo/guider.shtml'
- var nycs_jbl       = 'http://nycs.jbl.syyx.com/'

- var game_lib_link1 = 'http://nycs.syyx.com/GameInfo/info_262.shtml'  
- var game_lib_link2 = 'http://nycs.syyx.com/GameInfo/info_263.shtml'
- var game_lib_link3 = 'http://nycs.syyx.com/GameInfo/info_264.shtml'

- var upload_page    = 'http://nycs.syyx.com/piccenter/UpLaodUserPic.shtml'