meta(charset="utf-8")
meta(name="keywords", content="诺亚传说,攻略,玩家中心,相册")
meta(name="description" ,content="《诺亚传说》玩家中心收集了玩家们的原创文章，包括游戏攻略、游戏心情故事、玩家风采相片等！" )
link(rel="shortcut icon", href="http://s1.syyx.com/nycs/images/favicon.ico",type="image/x-icon")
title 玩家中心-《诺亚传说》官方网站