@import "../url"
body
    background #894e0c

.input
    width 120px
.fmtitle
    position absolute
    background url($btn) no-repeat -355px -123px
    //background url($btn) no-repeat -355px -89px
    width 137px
    height 34px
    top 18px
    left 35px
#loginerror
    color #ff4800
.loginfrom
    margin-top 20px
.t_r
    text-align right
.fmtab
    table
        td
            height 45px

