//pic_url
//$bg               = 'http://s1.syyx.com/nycs/images/guider/bg.jpg'
$bg               = 'http://s1.syyx.com/nycs/images/guider/top_02.jpg'
$hover            = 'http://s1.syyx.com/nycs/images/guider/hover.jpg'
$profession_hover = 'http://s1.syyx.com/nycs/images/guider/profession_hover.jpg'
$upgrade_bg       = 'http://s1.syyx.com/nycs/images/guider/upgrade_bg.jpg'
$grade            = 'http://s1.syyx.com/nycs/images/guider/expansion.jpg'
$download_dialog  = 'http://s1.syyx.com/nycs/images/guider/download_bg.jpg'
$copyright_logo   = 'http://s1.syyx.com/nycs/images/news_content/copyright_logo.jpg'
$ready_bg               = 'http://s1.syyx.com/nycs/images/guider/di_05.jpg'
$chose_career_bg     = 'http://s1.syyx.com/nycs/images/guider/di_11.jpg'
$gonglue_bg               = 'http://s1.syyx.com/nycs/images/guider/di_17.jpg'