link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
meta(name = "keywords", content = "蔡依林,征友,诺亚传说,公测,寻人,视频")
meta(name = "description", content = "亚洲天后蔡依林征友，面向全网发起寻人启示，她要找的究竟是谁？全民猜想，一切悬念，即将在9月29日正式揭晓！")
title 蔡依林征友寻人，她在找的究竟是谁？-《诺亚传说》官方网站