!!!5
html
    head
        title 蔡依林代言网游《诺亚传说》10月12日战放公测-与蔡依林一起，战放每个人的宇宙！战放公测，震撼来袭!
        link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
        meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
        meta(name = "keywords", content = "蔡依林,代言,网游,诺亚传说,公测,主题曲,专题,活动,战放")
        meta(name = "description", content = "亚洲天后蔡依林化身曙光女神，正式代言《诺亚传说》。蔡依林代言网游《诺亚传说》，10月12日战放公测，震撼来袭！与蔡依林一起，战放每个人的宇宙！")
        link(href="http://r.syyx.com/party/nycs/spokesman/jplayer/circle.player.css",rel="stylesheet",type="text/css")
        link(href="http://s.syyx.com/nycs/plugin/default_page_plugin/jquery-ui-1.8.13.custom.css",rel="stylesheet",type="text/css")
        link(href="http://s.syyx.com/nycs/plugin/light-box/jquery.lightbox-0.5.css",rel="stylesheet",type="text/css")
        link(href="/stylesheets/nycs/spokesman/index/main.css",rel="stylesheet",type="text/css") 
        script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
        script(src="http://r.syyx.com/party/nycs/spokesman/jplayer/jquery.jplayer.min.js",type="text/javascript")
        script(src="http://r.syyx.com/party/nycs/spokesman/jplayer/jquery.jplayer.inspector.js",type="text/javascript")
        script(src="http://r.syyx.com/party/nycs/spokesman/jplayer/jquery.transform.js",type="text/javascript")
        script(src="http://r.syyx.com/party/nycs/spokesman/jplayer/jquery.grab.js",type="text/javascript")
        script(src="http://r.syyx.com/party/nycs/spokesman/jplayer/mod.csstransforms.min.js",type="text/javascript")
        script(src="http://r.syyx.com/party/nycs/spokesman/jplayer/circle.player.js",type="text/javascript")
    body
        .container
            .bg_nav
                .main
                    .nav
                        span#login_a
                            include ../_include/nav
                    a#a_nycs(href="http://nycs.syyx.com",target="_blank",hidefocus="true")

                    .content_player
                        .player_p1 Jolin携《诺亚传说》主题曲《Dr.Jolin》降临多美星，与Jolin一起，
                            br
                            |迎接
                        .player_p2 战放公测!战放每个人的宇宙!
                    #jquery_jplayer_1.cp-jplayer
                    #music_player(hidefocus="true")
                        ul.cp-controls
                            li
                                a.cp-play(hidefocus="true",href="#",tabindex="1")play
                            li
                                a.cp-pause(hidefocus="true",href="#",style="display:none;",tabindex="1") pause
                    //- #jplayer_inspector
                    #divide
                        .jiathis_style
                            span.jiathis_txt 分享到：
                            a.jiathis_button_qzone
                            a.jiathis_button_tsina
                            a.jiathis_button_tqq
                            a.jiathis_button_renren
                            a.jiathis_button_kaixin001
                            a.jiathis_button_douban
                            a.jiathis.jiathis_txt.jtico.jtico_jiathis(href="http://www.jiathis.com/share",target="_blank")
                            //- a.jiathis_counter_style

                        script(type="text/javascript",src="http://v3.jiathis.com/code_mini/jia.js?uid=1334819148241749",charset="utf-8")
            .bg_content
                .main
                    a#a_attend(href="http://party.syyx.com/nycs/sing/index.html",hidefocus="true",target="_blank") 
                    #img_scroll
                        #prev.button
                        .scroll_box
                            #scroll_body(style="margin-left:0px")
                                a(href="http://r.syyx.com/party/nycs/spokesman/pop_1.jpg")
                                    img(src="http://r.syyx.com/party/nycs/spokesman/img_1.jpg",width="313",height="157",style="display:inline")
                                a(href="http://r.syyx.com/party/nycs/spokesman/pop_2.jpg")
                                    img(delay="http://r.syyx.com/party/nycs/spokesman/img_2.jpg",width="313",height="157")
                                a(href="http://r.syyx.com/party/nycs/spokesman/pop_3.jpg")
                                    img(delay="http://r.syyx.com/party/nycs/spokesman/img_3.jpg",width="313",height="157")
                                a(href="http://r.syyx.com/party/nycs/spokesman/pop_4.jpg")
                                    img(delay="http://r.syyx.com/party/nycs/spokesman/img_4.jpg",width="313",height="157")
                                a(href="http://r.syyx.com/party/nycs/spokesman/pop_5.jpg")
                                    img(delay="http://r.syyx.com/party/nycs/spokesman/img_5.jpg",width="313",height="157")
                        #next.button
                    #img_link
                                a#link_1(href="http://r.syyx.com/party/nycs/spokesman/img_1_link_1.jpg",target="_blank") 1024*768
                                | | 
                                a#link_2(href="http://r.syyx.com/party/nycs/spokesman/img_1_link_2.jpg",target="_blank") 1280*1024
                                | | 
                                a#link_3(href="http://r.syyx.com/party/nycs/spokesman/img_1_link_3.jpg",target="_blank") 1440*900
                                | | 
                                a#link_4(href="http://r.syyx.com/party/nycs/spokesman/img_1_link_4.jpg",target="_blank") 1600*1200
                                | | 
                                a#link_5(href="http://r.syyx.com/party/nycs/spokesman/img_1_link_5.jpg",target="_blank") 1920*1200
                    #flash
                    #flash_but
                    #flash_btn
                    .honor
                        .honor_content
                            .stars
                                p 第18届台湾金曲奖最佳国语女歌手
                            .stars
                                p 美国VMA最佳中文音乐录影带大奖
                            .stars
                                p MTV亚洲大奖风尚奖首位华人得主
                            .stars
                                p 台湾地区七年华语女歌手销售冠军
                            .stars
                                p 欧洲X-Tips首位空降冠军亚洲歌手
                            .stars
                                p 预购量12万打破华语唱片最高纪录
                            .stars
                                p 亚洲版《时代周刊》华语十大天后
                            .stars
                                p 全球第一位在演唱会上加入“鞍马”体操元素的女歌手
                            .stars
                                p 亚洲第一位在欧洲X-Chart单曲榜年度Top100冲进前十名
                                p 的歌手
                            .stars
                                p 亚洲第一位在星空留名的女歌手，将150颗组成的处女座群
                                p 星以「JOLIN TSAI」命名
                            .stars
                                p 华语乐坛过去十年中正版唱片销量最高的女歌手
                            .stars
                                p 中国第一位获得MTV亚洲大奖最佳风尚造型奖的歌手
                            .stars
                                p 中国唯一两度在台北小巨蛋连开三场演唱会的歌手
                            .stars
                                p 台湾唯一蝉联冠军达到十连冠的女歌手 
                            .stars
                                p 中国第一位发行演唱会幕后记录片的女歌手
                            .stars
                                p 中国第一位进入中央人民广播电台直播做客的歌手
                            .stars
                                p 中国第一位受邀来到MusicRadio（音乐之声）现场直播的
                                p 艺人DJ
                            .stars
                                p 台湾第一位发行数位专辑的歌手
                            .stars
                                p 全球第一位走遍全球四大唱片公司（环球、Sony BMG、
                                p EMI、华纳）的歌手！
                            .stars
                                p 亚洲唯一受邀出席法国Chanel2007秋冬高级定制服装周的
                                p 女歌手！
                            .stars
                                p 亚洲第一位受邀上Podcast主持节目的艺人
                            .stars
                                p 亚洲第一位覆盖力士（LUX）亚洲所有地区代言的歌手
                    #voting_count1 
                        #voting_amount1 0
                        #voting_text1 票
                    #voting_1
                    #voting_count2
                        #voting_amount2 0
                        #voting_text2 票
                    #voting_2
                    #voting_count3
                        #voting_amount3 0
                        #voting_text3 票
                    #voting_3
                    #voting_count4
                        #voting_amount4 0
                        #voting_text4 票
                    #voting_4
            .bg_bottom
                .main
                    include ../_include/copyright
                .disnone
                    script(src="http://s6.cnzz.com/stat.php?id=2001608&web_id=2001608",type="text/javascript")
        script(src = "/javascripts/nycs/spokesman/index/out.js", type="text/javascript")