div#loading
	img(src="/images/spinner3-greenie.gif")

div(class="postion")
	span.f_b_blue	您的当前位置：
	span	广告管理 &gt;&gt; KPI日报
div(class="cont_f_lb")

br
div#content
	div#search
		table
			tr
				td	日期
					input#txtDateTime(type="text",class="easyui-datebox")
				td  指标
					select#ddlKey
						option(value="1")	点击
						option(value="2")	当日注册
						option(value="3")	当日登录
						option(value="4")	费用
						option(value="5")	CPL
				td  
					&nbsp
					a#btnSearch(href="javascript:void(0)",class="easyui-linkbutton")	查询
					&nbsp
					input#chkShowValue(type="checkbox",checked="true")	
					label(for="chkShowValue")	显示数值
	br
	div#divChart