body{margin:0;font:12px/2em "宋体";color:#dba66e;background:#221c10}
a{text-decoration:none;color:#d9b070;outline:none;}
a:hover{color:#fff}
img{border:none}
.container{background:url("http://r.syyx.com/events/p032/bg.jpg") no-repeat top center;min-width:980px}
.wrap{background:url("http://r.syyx.com/events/p032/main.jpg") no-repeat center 540px;position:relative}
.main{width:980px;height:1424px;position:relative;margin:0 auto}
.nav{text-align:right;line-height:30px;color:#d9b070;padding-right:120px}
.logo{position:absolute;width:187px;height:86px;left:7px;text-indent:-9999cm}
#prize{width:250px;height:72px;position:absolute;top:333px;left:270px}
#flash,#flash_but,#flash_btn{width:186px;height:105px;position:absolute;top:333px;left:35px}
#flash_btn{background:url("http://r.syyx.com/events/p032/btn.jpg") no-repeat 999cm;cursor:pointer}
.mini{width:165px;position:absolute;height:35px;left:46px;top:460px;text-indent:-9999cm;background:url("http://r.syyx.com/events/p032/btn.jpg") no-repeat 9999cm;}
.mini:hover{background-position:-8px -67px}
#to_reg_flash,#to_reg_flash2,#to_reg_1{width:221px;height:72px;position:absolute;top:421px;left:280px}
#to_reg_flash2{visibility:hidden}
#to_reg_1{background:url("http://r.syyx.com/events/p032/btn.jpg") no-repeat 999cm;text-indent:-9999cm}
#img_focus{width:680px;height:400px;position:absolute;top:581px;left:4px;background:url("http://r.syyx.com/events/p032/loading.gif") center 200px no-repeat}
#img_focus_tab{height:44px;}
#img_focus_tab a{width:169px;display:inline-block;float:left;height:42px;cursor:pointer;background:url("http://r.syyx.com/events/p032/btn.jpg") no-repeat 999px 999px}
#img_focus_tab .check_0{background-position:-8px -14px}
#img_focus_tab .check_1{background-position:-177px -14px}
#img_focus_tab .check_2{background-position:-347px -14px}
#img_focus_tab .check_3{background-position:-516px -14px}
#img_focus_img{height:354px;}
#img_focus_img img{display:none;position:absolute}
.comment{position:absolute;width:280px;height:300px;overflow:hidden;right:2px;line-height:20px;top:550px;}
.comment ul{padding:0;margin:0;height:1500px;}
.comment ul li{list-style:none;height:60px;float:left;width:280px;}
.comment ul li img{float:left;margin-top:7px}
.comment ul li p{margin:5px 0 0 0;float:left;width:132px;height:40px;padding:5px 10px 4px 20px;color:#1a2626;background:url("http://r.syyx.com/events/p032/msg_bg.png") no-repeat 5px 0;overflow:hidden}
.comment ul li span{float:left;display:block;width:65px;height:20px;margin-top:20px;background:url("http://r.syyx.com/events/p032/time_bg.png") no-repeat;text-align:center;color:#fff}
#job{position:absolute;top:988px;left:0;width:683px;height:261px;}
#job #j_tab{height:38px;position:absolute;width:476px;left:129px;top:4px;}
#job #j_tab span{display:block;width:96px;float:left;background:url("http://r.syyx.com/events/p032/btn.jpg") no-repeat 9999cm;height:100%;cursor:pointer}
#job #j_tab .check_0{background-position:-205px -66px}
#job #j_tab .check_1{background-position:-301px -66px}
#job #j_tab .check_2{background-position:-397px -66px}
#job #j_tab .check_3{background-position:-493px -66px;width:95px}
#job #j_con{height:273px;width:100%;top:0;position:absolute;overflow:hidden;line-height:25px;}
#job #j_con .con{width:100%;height:100%;position:absolute;top:0;display:none}
#job #j_con .jws{background:url("http://r.syyx.com/events/p032/jws.jpg") no-repeat right top}
#job #j_con .qxs{background:url("http://r.syyx.com/events/p032/qxs.jpg") no-repeat right top}
#job #j_con .ynz{background:url("http://r.syyx.com/events/p032/ynz.jpg") no-repeat right top}
#job #j_con .gdj{background:url("http://r.syyx.com/events/p032/gdj.jpg") no-repeat right top}
#job #j_con .feat{width:200px;position:absolute;top:100px;left:320px}
#job #j_con .video{width:238px;height:134px;position:absolute;top:105px;left:30px;background:#000;overflow:hidden;border:1px solid #8d5934}
#job #j_con #to_reg_3{width:99px;height:24px;background:url("http://r.syyx.com/events/p032/btn.jpg") no-repeat -10px -116px;position:absolute;top:160px;right:60px;cursor:pointer;}
#job #j_con #to_reg_3:hover{background-position:-10px -140px}
#job #to_reg_3{width:99px;height:24px;position:absolute;background:url("http://r.syyx.com/events/p032/btn.jpg") no-repeat -8px -115px;top:217px;left:330px;}
#job #to_reg_3:hover{background-position:-8px -144px}
#img_scroll{width:263px;height:217px;position:absolute;top:1035px;right:10px;}
#img_scroll .button{width:14px;height:58px;float:left;cursor:pointer;margin-top:75px}
#img_scroll .scroll_box{overflow:hidden;width:235px;text-align:center;float:left;height:100%;}
#img_scroll .scroll_box #scroll_body{width:1410px}
#img_scroll .scroll_box a{width:235px;float:left;display:block;height:217px;background:url("http://r.syyx.com/events/p032/loading.gif") no-repeat center}
#img_scroll .scroll_box img{display:none;border:1px solid #8d5934}
.copy_right{width:980px;text-align:center;position:absolute;top:1310px;line-height:18px;color:#e7e5aa;}
.copy_right .feet_txt{text-align:left;margin:10px 0 0 380px}
.copy_right .feet_logo{position:absolute;width:140px;height:60px;left:225px;top:30px}
.pop_video_detail{background:#54200a;border:1px solid #873410}
#pop_flash{border:1px solid #873410;background:#000;line-height:0;height:350px}
.ui-dialog .ui-dialog-titlebar-close{background:url("http://r.syyx.com/events/p032/close.jpg") no-repeat}
object{outline:none}
#reg_scroll{width:70px;height:383px;position:absolute;top:100px;right:0;}
#reg_scroll #reg_but{width:70px;height:273px;background:url("http://r.syyx.com/events/p032/reg_scroll.jpg") no-repeat 0 0;position:absolute;}
#reg_scroll #reg_but:hover{background-position:-70px 0}
#reg_scroll #reg_box{width:266px;height:383px;display:none;background:url("http://r.syyx.com/events/p032/reg_bg.jpg") no-repeat}
#reg_scroll .reg_panel{width:230px;padding:50px 0 0 18px;color:#c998ff;}
#reg_scroll .reg_panel table{height:162px;}
#reg_scroll .reg_panel table td{height:27px;width:20px}
#reg_scroll .reg_panel table input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:145px}
#reg_scroll .reg_panel table .focus_in_inut{background:#af99d4}
#reg_scroll .reg_panel .agreement{height:21px}
#reg_scroll .reg_panel .reg_form_item_name{width:60px}
#reg_scroll .reg_panel .reg_form_item_input{width:150px}
#reg_scroll .reg_panel .validate_num_input{height:30px;vertical-align:top;padding-top:3px}
#reg_scroll .reg_panel #txtValidate{width:50px}
#reg_scroll .reg_panel #validateimg{width:90px;margin-left:5px;height:27px;vertical-align:top;cursor:pointer}
#reg_scroll .reg_panel #reg_step2,#reg_scroll .reg_panel #reg_step3,#reg_scroll .reg_panel #reg_step4,#reg_scroll .reg_panel #reg_step5{width:220px;margin:0 auto;padding-top:30px;line-height:25px;display:none;height:120px;text-align:center;}
#reg_scroll .reg_panel #reg_step2 input,#reg_scroll .reg_panel #reg_step3 input,#reg_scroll .reg_panel #reg_step4 input,#reg_scroll .reg_panel #reg_step5 input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:145px}
#reg_scroll .reg_panel #reg_step2{height:auto;}
#reg_scroll .reg_panel #reg_step2 .active{height:200px;line-height:30px}
#reg_scroll .reg_panel #active_link{display:block;margin:20px auto;width:106px;height:30px;background:url("http://r.syyx.com/events/p032/reg_btn.jpg") no-repeat -8px -63px;}
#reg_scroll .reg_panel #active_link:hover{background-position:-8px -93px}
#reg_scroll .reg_panel .download{height:25px;width:210px;position:absolute;top:330px;left:30px;}
#reg_scroll .reg_panel .download .mini_download{height:25px;width:103px;display:block;float:left;background:url("http://r.syyx.com/events/p032/reg_btn.jpg") no-repeat -8px -5px;}
#reg_scroll .reg_panel .download .mini_download:hover{background-position:-8px -31px}
#reg_scroll .reg_panel .download .full_download{height:25px;width:103px;display:block;float:right;background:url("http://r.syyx.com/events/p032/reg_btn.jpg") no-repeat -114px -5px;}
#reg_scroll .reg_panel .download .full_download:hover{background-position:-114px -31px}
#reg_scroll .reg_panel .reg_submit{height:55px;position:relative}
#reg_scroll .reg_panel #reg_button{width:106px;height:30px;position:absolute;left:61px;top:7px;background:url("http://r.syyx.com/events/p032/reg_btn.jpg") no-repeat -118px -63px;}
#reg_scroll .reg_panel #reg_button:hover{background-position:-118px -93px}
#reg_scroll .reg_panel .icon{width:70px;height:70px;background:url("http://r.syyx.com/events/p032/reg_btn.jpg") no-repeat -718px -12px;margin:10px auto;}
#reg_scroll .reg_panel .icon a{display:none}
#reg_scroll .reg_panel .reg_success{background:url("http://r.syyx.com/events/p032/reg_btn.jpg") no-repeat -280px 0;width:145px;height:30px;margin:0 auto}
#reg_scroll .reg_panel .act_success{background:url("http://r.syyx.com/events/p032/reg_btn.jpg") no-repeat -277px -64px;width:145px;height:30px;margin:0 auto}
#reg_scroll .reg_panel .act_fail{background:url("http://r.syyx.com/events/p032/reg_btn.jpg") no-repeat -450px 0;width:145px;height:30px;margin:0 auto}
#reg_scroll .reg_panel #back{display:block;text-decoration:underline;cursor:pointer;margin:20px auto}
#reg_scroll .reg_panel .check_result_wrong{background:url("http://r.syyx.com/events/p032/right_wrong.png") no-repeat 0 -32px;height:100%;width:16px}
#reg_scroll .reg_panel .check_result_right{background:url("http://r.syyx.com/events/p032/right_wrong.png") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll .reg_panel .check_result_loading{background:url("http://r.syyx.com/events/p032/ajax-loader.gif") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll #close{width:22px;height:22px;cursor:pointer;position:absolute;top:10px;right:10px}
.disnone{display:none}
