a.nav_1(href="http://nycs.syyx.com/index.shtml",target="_blank",title="官网首页",hidefocus="true") 

a.nav_2(href="http://nycs.syyx.com/news_list.html#1",target="_blank",title="新闻中心",hidefocus="true") 

a.nav_3(href="http://nycs.syyx.com/DownLoad/Index.aspx",target="_blank",title="下载游戏",hidefocus="true") 

a.nav_4(href="http://nycs.syyx.com/user.html",target="_blank",title="玩家中心",hidefocus="true") 

a.nav_5(href="http://nycs.syyx.com/game_lib.html",target="_blank",title="游戏资料",hidefocus="true") 

a.nav_6(href="http://service.syyx.com/index.aspx",target="_blank",title="客服中心",hidefocus="true") 

a.nav_7(href="http://bbs.nycs.syyx.com/",target="_blank",title="玩家论坛",hidefocus="true") 