.game_lib_detail
    .search_tip
        | 搜索 "
        span#keyword_tip
        |  " 的结果 
    .lib_text
        .result_nav
            a(href='#renwu') 任务
            a(href='#zhuangbei') 装备
            a(href='#jineng') 技能
            a(href='#wupin') 物品
            a(href='#ditu') 地图
            a(href='#guaiwu') 怪物
            a(href='#qita') 其他
        .result_area
            #renwu
                table
                    tr
                        th 任务标题
                        th 任务描述
            #zhuangbei
                table
                    tr
                        th 缩略图
                        th 装备名称
                        th 装备等级
                        th 装备描述
            #jineng
                table
                    tr
                        th 缩略图
                        th 技能名称
                        th 学习等级
                        th 技能等级
                        th 技能描述 
            #wupin
                table
                    tr
                        th 缩略图
                        th 物品名称
                        th 物品描述
            #ditu
                table
                    tr
                        th 地图名称
                        th 地图简介
            #guaiwu
                table
                    tr
                        th 缩略图
                        th 怪物名称
                        th 怪物等级
                        th 怪物描述
            #qita
                table
                    tr
                        th 名称
                        th 描述
    include ../include/copyright