link(href='/stylesheets/game_lib_search/main.css',rel='stylesheet')
include ../include/jquery
script(src='http://s1.syyx.com/plugins/swfobject/swfobject.js')
script(src='http://s1.syyx.com/plugins/jquery_cookie/jquery.cookie.js')
script(src='/javascripts/game_lib_search/out.js')