                table
                    height 162px
                    td
                        height 27px
                        width 20px
                    input
                        background #776595
                        border 1px solid #683ec8
                        height 18px
                        color #221334
                        line-height 18px
                        width 145px
                    .focus_in_inut
                        background #af99d4
                .agreement
                    height 21px
                .reg_form_item_name
                    width 60px
                .reg_form_item_input
                    width 150px
                .validate_num_input
                    height 30px
                    vertical-align top
                    padding-top 3px
                #txtValidate
                    width 50px
                #validateimg
                    width 90px
                    margin-left 5px
                    height 27px
                    vertical-align top
                    cursor pointer
                #reg_step2,#reg_step3,#reg_step4,#reg_step5
                    width 220px
                    margin 0 auto
                    padding-top 30px
                    line-height 25px
                    display none
                    height 120px
                    text-align center
                    input
                        background #776595
                        border 1px solid #683ec8
                        height 18px
                        color #221334
                        line-height 18px
                        width 145px
                #reg_step2
                    height auto
                    .active
                        height 200px
                        line-height 30px
                #active_link
                    display block
                    margin 20px auto
                    width 106px
                    height 30px
                    background url($reg_btn) no-repeat -8px -63px
                    &:hover
                        background-position -8px -93px
                .reg_submit
                    height 55px
                    position relative
                #reg_button
                    width 106px
                    height 30px
                    position absolute
                    left 61px
                    top 7px
                    background url($reg_btn) no-repeat -118px -63px
                    &:hover
                        background-position -118px -93px
                .reg_success
                    background url($reg_btn) no-repeat -280px 0
                    width 145px
                    height 30px
                    margin 0 auto
                .act_success
                    background url($reg_btn) no-repeat -277px -64px
                    width 145px
                    height 30px
                    margin 0 auto
                .act_fail
                    background url($reg_btn) no-repeat -450px 0
                    width 145px
                    height 30px
                    margin 0 auto
                #back
                    display block
                    text-decoration underline
                    cursor pointer
                    margin 20px auto
                .check_result_wrong
                    background url($right_wrong) no-repeat 0 -32px
                    height 100%
                    width 16px
                .check_result_right 
                    background: url($right_wrong) no-repeat 0 4px
                    height: 25px;
                    width: 16px;
                 
                .check_result_loading 
                    background url($loader) no-repeat 0 4px
                    height 25px
                    width 16px
