//pic_url
$path             = "http://s.syyx.com/nycs/img/index_html/"
$bg1              = $path'bg1.jpg'
$bg2              = $path'bg2.jpg'
$button           = $path'button.jpg'
$close            = $path'close.jpg'
$download         = $path'download.jpg'
$party            = $path'party.jpg'
$loading          = $path'loading.gif'
$right_wrong = $path'right_wrong.png'
$loader      = $path'ajax-loader.gif'
$success        = $path'success.png'
$fail           = $path'fail.png'