@import '../reset'
@import '../base'
//-----------------------------------------------------------------------
body
    font-size 12px
    font-family '宋体'
    color #222
    h1
        font-size 16px
        font-weight bold
        padding 10px 0 10px 40px
    ul
        li
            padding-left 60px
            a
                font-size 14px
                display block
                padding-bottom 5px
