//---------------img url-------------------------------------
$bg                = 'http://r.syyx.com/adminnysj/bg.png'
$header_bg         = 'http://r.syyx.com/adminnysj/header_bg.png'
$sidebar_bg        = 'http://r.syyx.com/adminnysj/sidebar_bg.png'
$control_bg        = 'http://r.syyx.com/adminnysj/controls_bg.png'
$dropdown          = 'http://r.syyx.com/adminnysj/dropdown.png'
$check             = 'http://r.syyx.com/adminnysj/check.png'
$plus_grey         = 'http://r.syyx.com/adminnysj/plus_grey.png'
$gear              = 'http://r.syyx.com/adminnysj/gear.png'
$loading           = 'http://r.syyx.com/adminnysj/loading.gif'
$panel_controls_bg = 'http://r.syyx.com/adminnysj/panel_controls_bg.png'
$close_panel       = 'http://r.syyx.com/adminnysj/close_panel.png'
$drag_bg           = 'http://r.syyx.com/adminnysj/drag_bg.png' 
$closed            = 'http://r.syyx.com/adminnysj/closed.png' 
$open              = 'http://r.syyx.com/adminnysj/open.png'
$trash             = 'http://r.syyx.com/adminnysj/trash.png'
$icon              = 'http://r.syyx.com/adminnysj/icon.png'
$search            = 'http://r.syyx.com/adminnysj/search_black.png'
$page_selected     = 'http://r.syyx.com/adminnysj/page_selected.png'

//------------------------------------
$login_bg          = 'http://r.syyx.com/adminnysj/login_bg.gif'
$login_form        = 'http://r.syyx.com/adminnysj/login_form.png'