$path        = "http://r.syyx.com/party/nysj/role/"
$bg          = $path"bg.jpg"
$btn          = $path"btn.jpg"
$close          = $path"close.jpg"

support-for-ie ?= true

opacity(n)
    opacity n
    if support-for-ie
        filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

body
    margin 0
    background #010b0d
    color #66c8d1
    font-size 12px
    line-height 22px
a
    color #77f4b0
    text-decoration none
    outline none
    hidefocus true
    &:hover
        text-decoration underline
a:hover
    color #d4d4d4
h1 
    margin 0
    font-weight normal
.input
    border solid 1px #017acb
    background #032139
    height 20px
    color #7b8e9f
    padding-left 2px
    width 150px
.btn
    width 83px
    height 26px
    background url($btn) no-repeat -380px -236px
    display block
    font-size 14px
    line-height 26px
    text-align center
    color #fff
    &:hover
        background url($btn) no-repeat -380px -263px
        text-decoration none
#loginerror
    color #e5cf3d
    width 230px
    height 40px
    line-height 25px
    margin-left 120px
    margin-top 10px
    position absolute
    font-size 12px
.disnone
    display none
#popup_bg
    width 100%
    min-width 996px
    height 831px
    opacity 0.7
    background #000
    position  absolute
    top 0 
    left 0
    display none
    z-index 2
#div_login,#div_loginserver
    position absolute
    width 550px
    overflow hidden
    z-index 3
    left 50%
    margin-left -275px
    border solid 1px #3485f0
    iframe
        z-index -1
        margin-bottom -8px
.div_close
    position absolute
    width 28px
    height 28px
    left 790px
    top 10px
    cursor pointer
.fmtitle
    background #042d63
    height 37px
    width 100%
    text-align center
    #loginrole
        background url($btn) no-repeat -1px -236px
        height 23px
        width 110px
        position absolute
        top 7px
        left 200px
    #loginserver
        background url($btn) no-repeat -1px -260px
        height 23px
        width 121px
        position absolute
        top 7px
        left 200px
    #fmclose
        background url($close) no-repeat
        height 27px
        width 27px
        position absolute
        left 524px
        top -1px
.fmcontent
    padding-top 25px
    padding-left 60px
    font-size 14px
    td
        height 40px
    .t_r
        text-align right
#txtValidate
    width 65px
.validateimg, #validateimg
    cursor pointer
    height  25px
    margin-left 3px
    position absolute
    width 94px
.msgview
    padding-top 25px
    padding-left 60px
    font-size 14px
.msgbtn
    top 220px
    position absolute
    left 250px
.msgback
    top 300px
    position absolute
    left 370px
    font-size 12px
.logo
    position absolute
    top 10px
    left 5px
    width 200px
    height 100px