@import "../url"
body
    background #894e0c
.input
    width 120px
.fmtitle
    position absolute
    background url($btn) no-repeat -357px -89px
    //background url($btn) no-repeat -355px -89px
    width 137px
    height 34px
    top 18px
    left 35px
#loginerror
    color #ff4800
    margin-left 60px
    margin-top 0px
    line-height  18px
.agreement
    clear both
    padding-left 25px
.loginfrom
    margin-top 20px
.t_r
    text-align right
.reg_panel
    position absolute
    top 10px
    left 35px
    .agreement
        a
            color #fff
.fmbtn
    position absolute
    top 225px
    left 110px
    background url($btn2) no-repeat -239px -28px
    width 67px
    height 27px
    text-align center
    font-size 14px
    color #000
    line-height 27px
    font-weight bold
    &:hover
        background url($btn2) no-repeat -239px -56px
        color #000
        text-decoration none
.fmbtn2
    position absolute
    top 205px
    left 130px
    background url($btn2) no-repeat -307px -84px
    width 67px
    height 27px
    text-align center
    font-size 14px
    color #fff
    line-height 27px
    font-weight bold
    &:hover
        background url($btn2) no-repeat -307px -112px
        color #fff
        text-decoration none
.input_tc
    height 20px
#txtValidate
    width 50px
.validateimg, #validateimg
    padding-top 0px
    vertical-align  top
    margin-left 5px
.fmtab
    table
        td
            height 30px
