meta(charset="utf-8")
meta(name="keywords", content="新手指南,职业选择,诺亚传说时间版,官网,四大职业,升级功略,网游")
meta(name="description" ,content="新手指南手册为诺米们提供《诺亚传说时间版》的快速升级攻略，包括如何选择职业，如何安排日常游戏任务等。")
link(rel="shortcut icon", href="http://r.syyx.com/nysj/index/favicon.ico",type="image/x-icon")
title 新手指南-《诺亚传说时间版》官方网站-重塑经典，再战未来！