body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
q:before,q:after{content:''}
abbr,acronym{border:0}
a{text-decoration:none;outline:none}
.disnone{display:none}
.hide{visibility:hidden}
.ui-tabs-hide{display:none}
body{font-size:12px;font-family:'宋体';background-color:#011327}
.container{min-width:1000px;background:url("http://s1.syyx.com/nycs/images/picture_video/bg.jpg") center top no-repeat;}
.container .content{width:1000px;margin:0 auto;height:1220px;position:relative;}
.container .content .logo_link{position:absolute;top:30px;left:10px;width:210px;height:80px}
.container .content .nav{position:absolute;width:664px;height:62px;left:336px;top:0;overflow:hidden}
.container .content .fn_group{position:absolute;top:293px;left:-1px;width:615px;height:172px}
.container .content #recommended_server{position:absolute;top:394px;left:730px;height:29px;overflow:hidden;color:#d2f0ff;display:none;}
.container .content #recommended_server .list{width:260px;}
.container .content #recommended_server .list span{line-height:29px;height:29px;display:inline-block;width:120px;margin-right:5px;position:absolute}
.container .content .screenshot{position:absolute;top:446px;left:20px;width:560px;height:240px;padding-top:40px;padding-left:10px;color:#4f97a5;overflow:hidden;}
.container .content .screenshot .all{position:absolute;right:7px;top:7px;color:#4a95bd}
.container .content .screenshot .item{float:left;width:176px;height:120px;text-align:center;margin-right:10px;}
.container .content .screenshot .item a{display:block;width:176px;height:95px;margin-bottom:5px;}
.container .content .screenshot .item a img{width:174px;height:93px;border:solid 1px #044f92}
.container .content .game_video{position:absolute;width:385px;height:270px;left:600px;top:445px;color:#50dae4;}
.container .content .game_video .all{position:absolute;top:7px;right:7px;color:#4a95bd}
.container .content .game_video #video1,.container .content .game_video #video2{position:absolute;left:20px;top:40px;height:105px;width:360px;}
.container .content .game_video #video1 a,.container .content .game_video #video2 a{position:absolute;top:0;left:0;width:174px;height:94px;display:inline-block;}
.container .content .game_video #video1 a img,.container .content .game_video #video2 a img{border:solid 1px #055091;width:172px;height:92px}
.container .content .game_video #video1 h3,.container .content .game_video #video2 h3{position:absolute;left:183px;width:170px;height:20px;overflow:hidden;font-weight:bold;font-size:13px;top:3px}
.container .content .game_video #video1 .des,.container .content .game_video #video2 .des{position:absolute;left:183px;top:25px;width:170px;line-height:20px;height:60px;overflow:hidden}
.container .content .game_video #video2{top:170px}
.container .content .wallpaper{position:absolute;width:942px;height:120px;overflow:hidden;color:#4f97a5;top:741px;left:5px;padding:40px 0 0 33px;}
.container .content .wallpaper .all{position:absolute;right:7px;top:6px;color:#4a95bd}
.container .content .wallpaper .item{float:left;width:176px;height:120px;text-align:center;margin-right:10px;}
.container .content .wallpaper .item a{display:block;width:176px;height:95px;margin-bottom:5px;}
.container .content .wallpaper .item a img{width:174px;height:93px;border:solid 1px #044f92}
.container .content .cartoon{position:absolute;width:942px;height:100px;overflow:hidden;color:#4f97a5;top:920px;left:5px;padding:40px 0 0 33px;}
.container .content .cartoon .all{position:absolute;right:7px;top:6px;color:#4a95bd}
.container .content .cartoon .item{float:left;width:176px;height:120px;text-align:center;margin-right:10px;}
.container .content .cartoon .item a{display:block;width:176px;height:95px;margin-bottom:5px;}
.container .content .cartoon .item a img{width:174px;height:93px;border:solid 1px #044f92}
.container .content #copyright{position:absolute;top:1093px;left:10px;width:981px;height:62px;overflow:hidden;}
.container .content #copyright .syyx_logo{position:absolute;top:10px;left:10px;width:120px;height:45px}
.container .content #copyright .copyright_content{position:absolute;top:15px;left:160px;line-height:20px;color:#526f91}
.top_iframe{background:url("http://s1.syyx.com/nycs/images/top_iframe/syyx_iframe_bg.png") 0 0 repeat-x;height:40px;text-align:center;overflow:hidden}
.disnone{display:none}
#float_reg_btn{background:url("http://s1.syyx.com/nycs/images/float_reg/float_btn.jpg") 0 0 no-repeat;width:70px;height:273px;position:fixed;_position:absolute;top:200px;right:10px;display:none;overflow:hidden;}
#float_reg_btn:hover{background:url("http://s1.syyx.com/nycs/images/float_reg/float_btn.jpg") -80px 0 no-repeat}
#float_reg_panel{position:fixed;_position:absolute;top:200px;right:10px;display:block;background:url("http://s1.syyx.com/nycs/images/float_reg/reb_bg.jpg") 0 0 no-repeat;width:274px;height:458px;overflow:hidden;}
#float_reg_panel .close{height:35px;overflow:hidden;}
#float_reg_panel .close a{float:right;width:35px;height:35px}
#float_reg_panel #reg_step1{padding:65px 0 0 20px;width:255px;height:235px;position:relative;overflow:hidden;color:#a593cd;display:block;}
#float_reg_panel #reg_step1 .reg_form td{padding:0 2px;height:26px;}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_name{width:60px;text-align:right}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input input{background-color:#776595;border:solid 1px #683ec6;height:20px;line-height:20px;color:#98d9ff;width:146px}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input input.focus_in_inut{background-color:#fff;border:solid 1px #c8edff;color:#000}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input #validateimg{vertical-align:middle;cursor:pointer;height:29px;width:100px;margin-left:3px}
#float_reg_panel #reg_step1 .reg_form td.validate_num_input{height:35px;}
#float_reg_panel #reg_step1 .reg_form td.validate_num_input input{width:40px}
#float_reg_panel #reg_step1 .agreement{text-align:center;padding-top:5px;}
#float_reg_panel #reg_step1 .agreement a{text-align:center;text-decoration:underline;color:#c899ff;outline:none}
#float_reg_panel #reg_step1 .agreement input{margin-right:3px}
#float_reg_panel #reg_step1 .reg_submit{position:absolute;top:265px;left:85px;}
#float_reg_panel #reg_step1 .reg_submit a{display:inline-block;width:103px;height:26px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -17px no-repeat;outline:none;}
#float_reg_panel #reg_step1 .reg_submit a:hover{background-position:-142px -17px}
#float_reg_panel #reg_step2{display:none;background:url("http://s1.syyx.com/nycs/images/float_reg/reg_success_title.jpg") 35px 80px no-repeat;padding:110px 0 0 40px;width:200px;height:195px;overflow:hidden;color:#a794cb;line-height:24px;}
#float_reg_panel #reg_step2 a{width:106px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn.jpg") -8px -63px no-repeat;margin:30px 0 0 40px;display:inline-block;}
#float_reg_panel #reg_step2 a:hover{background:url("http://s1.syyx.com/nycs/images/float_reg/btn.jpg") -8px -93px no-repeat}
#float_reg_panel #reg_step3{display:none;background:url("http://s1.syyx.com/nycs/images/float_reg/reg_success_title.jpg") 35px 80px no-repeat;padding:110px 0 0 35px;width:200px;height:195px;overflow:hidden;color:#a794cb;line-height:24px;}
#float_reg_panel #reg_step3 a{margin:30px 0 0 70px;display:inline-block;color:#a794cb;text-decoration:underline}
#float_reg_panel #reg_step4{display:none;font-size:14px;left:35px;color:#a794cb;}
#float_reg_panel #reg_step4 #pad_l_10{background:url("http://s1.syyx.com/nycs/images/float_reg/success2_bg.png") 60px 95px no-repeat;padding-top:125px;text-align:center;line-height:25px;margin-bottom:15px}
#float_reg_panel #reg_step4 #down_ico{width:75px;height:80px;background:url("http://s1.syyx.com/nycs/images/float_reg/ico_down.png") no-repeat;margin:0 0 35px 90px}
#float_reg_panel #reg_account1,#float_reg_panel #reg_account2{color:#02fbf3}
#float_reg_panel .get_gift{padding-top:45px;position:relative}
#float_reg_panel .download_area{padding-left:15px;padding-top:60px;position:relative}
#float_reg_panel .link1{display:inline-block;margin-right:10px;width:119px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -45px no-repeat;}
#float_reg_panel .link1:hover{background-position:-142px -45px}
#float_reg_panel .link2{display:inline-block;width:119px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -79px no-repeat;}
#float_reg_panel .link2:hover{background-position:-142px -79px}
#float_reg_panel .get_gift{padding-top:50px;}
#float_reg_panel .get_gift a{background-position:-164px -199px;}
#float_reg_panel .get_gift a:hover{background-position:-163px -240px}
#float_reg_panel .check_result_right{background:url("http://s1.syyx.com/nycs/images/float_reg/right_wrong.png") 0 4px no-repeat;width:16px;height:25px}
#float_reg_panel .check_result_wrong{background:url("http://s1.syyx.com/nycs/images/float_reg/right_wrong.png") 0 -32px no-repeat;width:16px;height:25px}
#float_reg_panel .check_result_loading{background:url("http://s1.syyx.com/nycs/images/float_reg/loader.gif") 0 4px no-repeat;width:16px;height:25px}
