html
    head
        title 整体情况KPI
        include script
    body
        .cont_form
            .f_b_333 整体情况KPI
        .cont_f_lb
        .cont_link
            tr 
                td 
                    span 时间：
                        input#txtStatDate(type="text")
                        | 至
                        input#txtEndDate(type="text")
            
                td 
                    input#btnQuery(type="button",value="查询")
        .table_info
            table#kpiDetail.wiki-content-table
                tr
                    th(rowspan='2') 日期
                    th(colspan='6') 前端转化
                    th(colspan='7') 登录数据
                    th(colspan='3') 在线数据
                tr  
                    th 独立访客数量 
                    th 注册数量
                    th 注册且激活
                    th 当天激活总数
                    th 安装总数量
                    th 注册且登录
                    th 新登录账号数
                    th 新登账号次登
                    th 已有登录账号
                    th 总登录账号数
                    th 登录IP数
                    th 登录角色数
                    th 20级以上角色数量
                    th 最高在线
                    th 最低在线
                    th 平均在线
         div#loading(style="top: 50%; right: 50%; position: absolute; padding: 0px;margin: 0px; z-index: 999; display: none;")
            img(src="http://s1.syyx.com/nysjdm/Script/spinner3-greenie.gif")