div#loading
	img(src="/images/spinner3-greenie.gif")

div(class="postion")
	span.f_b_blue	您的当前位置：
	span	广告管理 &gt;&gt; 广告反查
div(class="cont_f_lb")

div#content
	div#search
		table
			tr
				td	代码
				td	
					textarea#txtADIDList(rows="10",cols="30")
				td	
					input#btnSearch.input_btn(type="button", value="查询")
				td	
					textarea#txtADNameList(rows="10",cols="30")