!!!5
html
    head
        title 蔡依林主演《诺亚传说》千万级史诗概念片——《曙光》|《诺亚传说》蔡依林倾情代言，10月12日战放公测！
        link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
        meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
        meta(name = "keywords", content = "蔡依林,代言,诺亚传说,公测,战放,曙光,主演")
        meta(name = "description", content = "《诺亚传说》千万级史诗概念片《曙光》,由亚洲天后蔡依林领衔主演 ,法国导演马修·曼托瓦尼全程执导！国际团队Digital District操刀剪辑制作！10月12日战放公测,我们未来战场见！")
        link(href="http://s.syyx.com/nycs/plugin/default_page_plugin/jquery-ui-1.8.13.custom.css",rel="stylesheet",type="text/css")
        link(href="http://s.syyx.com/nycs/plugin/light-box/jquery.lightbox-0.5.css",rel="stylesheet",type="text/css")
        link(href="/stylesheets/nycs/tvcaction/index/main.css",rel="stylesheet",type="text/css") 
        script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
        
    body
        .container
            .bg_nav
                .main
                    .nav
                        include ../_include/nav
                    a#a_nycs(href="http://nycs.syyx.com",hidefocus="true")
                    #flash
                    #flash_but
                    #flash_btn
                    a#xl(href="http://weibo.com/nuoyachuanshuo",hidefocus="true",target="_blank")
                    a#tx(href="http://t.qq.com/nycs_sy",hidefocus="true",target="_blank")
            .bg_content
                .main
                    a#shuguang(href="#",hidefocus="true")
                    a#daoyan(href="#",hidefocus="true")
                    a#chuangyi(href="#",hidefocus="true")
                    a#zhizuo(href="#",hidefocus="true")
                    #shuguang_main(style="display:none")
                        #flash_sg
                        #flash_but_sg
                        #flash_btn_sg
                    #daoyan_main(style="display:none")
                        a#daoyan_1(href="http://r.syyx.com/party/nycs/tvcaction/daoyan_1.jpg",hidefocus="true")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/dy_1.jpg",width="177",height="96")
                        a#daoyan_2(href="http://r.syyx.com/party/nycs/tvcaction/daoyan_2.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/dy_2.jpg",width="177",height="96")
                        a#daoyan_3(href="http://r.syyx.com/party/nycs/tvcaction/daoyan_3.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/dy_3.jpg",width="177",height="96")
                        a#daoyan_4(href="http://r.syyx.com/party/nycs/tvcaction/daoyan_4.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/dy_4.jpg",width="177",height="96")
                    #chuangyi_main(style="display:none")
                        a#chuangyi_1(href="http://r.syyx.com/party/nycs/tvcaction/chuangyi_1.jpg",target="_blank")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/cy_1.jpg",width="177",height="213")
                    #zhizuo_main(style="display:none")
                        a#zhizuo_1(href="http://r.syyx.com/party/nycs/tvcaction/zhizuo_1.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/zz_1.jpg",width="177",height="96")
                        a#zhizuo_2(href="http://r.syyx.com/party/nycs/tvcaction/zhizuo_2.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/zz_2.jpg",width="177",height="96")
                        a#zhizuo_3(href="http://r.syyx.com/party/nycs/tvcaction/zhizuo_3.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/zz_3.jpg",width="177",height="96")
                        a#zhizuo_4(href="http://r.syyx.com/party/nycs/tvcaction/zhizuo_4.jpg")
                            img(src="http://r.syyx.com/party/nycs/tvcaction/zz_4.jpg",width="177",height="96")
            .bg_bottom
                .main
                    include ../_include/copyright
                .disnone
                    script(src="http://s6.cnzz.com/stat.php?id=2001608&web_id=2001608",type="text/javascript")
        .loading
        #flash_full_screen
            #flash_full_screen_1
        script(src = "/javascripts/nycs/tvcaction/index/out.js", type="text/javascript")