//img url
$path               = 'http://r.syyx.com/events/p004/'
$bg                 = $path'bg.jpg'
$main               = $path'main.jpg'
$bt_hover           = $path'btn.jpg'
$success            = $path'success.jpg'
$fail               = $path'fail.jpg'
$download_bg        = $path'download_bg.jpg'
$gohome             = $path'gohome.jpg'
$feature_tab        = $path'feature_tab.png'
$right_wrong        = $path'right_wrong.png'
$loader             = $path'ajax-loader.gif'
$loading            = $path'loading.gif'
body
    margin 0
    font 12px/16px '宋体'
    color #6b8494
    background  #080441
    color #b7acfb
#bg
    display none
a
    color #6986c7
    text-decoration none
    outline none
    &:hover
        color #87adff
img
    border none
.main
    background url($main) no-repeat center 380px
    height 1378px
    min-width 980px
.main-banner
    height 380px
    background url($bg) no-repeat center top
.main-head
    width 980px
    margin 0 auto
    height 380px
    position relative
.main-head-top_nav
    width 660px
    text-align left
    line-height 36px
    color #6986c7
    height 36px
.main-head-logo
    margin-left 380px
    width 186px
    height 75px
    display block
.main-head-mini_down
    left 374px
    width 146px
    height 34px
    top 291px
    display block
    position absolute
#prize
    width 354px
    height 40px
    position absolute
    left 30px 
    top 167px
    overflow hidden
#flash
    width 271px
    height 150px
    position absolute
    left 390px
    top 20px
    background #000
.main-head-go_home
    width 147px
    height 48px
    left 759px
    top 343px
    position absolute
    background url($gohome) no-repeat
.middle
    position relative
    width 980px
    margin 0 auto
    height 830px
#img_focus
    height 396px
    top 207px
    left 3px
    width 680px
    position absolute
    background url($loading) center 200px no-repeat
#img_focus_tab
    width 680px
    height 46px
    position absolute
    z-index 1
    a
        display inline-block
        margin-right 2px
        height 100%
        width 168px
        background url($feature_tab) no-repeat -1000px
        cursor pointer
    .check_0
        background-position 0
    .check_1
        background-position -170px 0
    .check_2
        background-position -340px 0
    .check_3
        background-position -510px 0
#img_focus_img
    top 41px
    width 676px
    height 352px
    overflow hidden
    position relative
    border 1px solid #473897
    background #1C1354
    img
        display none
.reg_panel
    top 100px
    left 682px
    width 298px
    height 350px
    position relative
    overflow hidden
    .reg
        width 230px
        margin-left 39px
    table
        height 162px
        td
            height 27px
            width 20px
        input
            background #413392
            border 1px solid #8e84f7
            height 18px
            color #b7acfb
            line-height 18px
            width 145px
        .focus_in_inut
            background #6251c5
    .agreement
        height 21px
        a
            color #b7abfd
            text-decoration underline
            &:hover
                color #fff
    .reg_form_item_name
        width 60px
    .reg_form_item_input
        width 150px
    .validate_num_input
        height 30px
        vertical-align top
        padding-top 3px
    #txtValidate
        width 50px
    #validateimg
        width 90px
        margin-left 5px
        height 27px
        vertical-align top
        cursor pointer
    #reg_step2,#reg_step3,#reg_step4,#reg_step5
        width 220px
        margin 0 auto
        padding-top 10px
        line-height 25px
        height 140px
        display none
        text-align center
    #reg_step2
        height 231px
        .active
            height 200px
            line-height 30px
        input
            background #413392
            border 1px solid #8e84f7
            height 18px
            color #b7acfb
            line-height 18px
            width 145px
    p
        color rgb(78,127,233)
        margin 5px 0
    #active_link
        display block
        margin 20px auto
        width 109px
        height 30px
        background url($bt_hover) no-repeat -6px -6px
    .download
        height 30px
        width 266px
        padding-top 60px
        margin 0 auto
        background url($download_bg) no-repeat top center
        .mini_download
            height 100%
            width 124px
            display block
            float left
            background url($bt_hover) no-repeat -6px -76px
        .full_download
            height 100%
            width 127px
            display block
            float right
            background url($bt_hover) no-repeat -6px -112px
    .reg_submit
        height 55px
        position relative
    #reg_button
        width 127px
        height 30px
        position absolute
        left 51px
        top 7px
        background url($bt_hover) no-repeat -6px -41px
    .success
        height 50px
        line-height 50px
        background url($success) no-repeat 40px center
        color rgb(255,191,0)
    .fail
        height 50px
        line-height 50px
        background url($fail) no-repeat 40px center
        color rgb(255,191,0)
    #back
        text-decoration underline
        cursor pointer
        display block
    .active_info
        text-align left
        padding-left 30px
    .download_tip
        text-align center
        padding-top 50px
#comment_box
    top 520px
    left 696px
    width 270px
    height 240px
    position absolute
    overflow hidden
    span
        color #91c3fe
    p
        margin 0
        padding-bottom 16px
#img_scroll
    position absolute
    top 645px
    height 117px
    left 4px
    .button
        width 30px
        height 100%
        float left
        cursor pointer
    .scroll_box
        width 617px
        float left
        overflow hidden
    #scroll_body
        width 2000px
        a
            margin-right 16px
            display block
            display inline-block
            background url($loading) center no-repeat
            width 193px
            height 115px
            float left
            border 1px solid #6a7ef7
.foot
    width 980px
    margin 0 auto
    padding-top 10px
    color #3e3d9b  
    .copy_right
        width 980px
        text-align center
        position relative
        .feet_txt
            text-align left
            margin 10px 0 0 380px
        .feet_logo
            position absolute
            width 140px
            height 60px
            left 225px
            top 30px
.check_result_wrong
    background url($right_wrong) no-repeat 0 -32px
    height 100%
    width 16px
.check_result_right 
    background: url($right_wrong) no-repeat 0 4px
    height: 25px;
    width: 16px;

.check_result_loading 
    background url($loader) no-repeat 0 4px
    height 25px
    width 16px

.disnone
    display none

.pop_video_detail
    background-color: #032e53;
    border 1px solid #0062b3
.ui-dialog .ui-dialog-titlebar-close 
    background: url($close_dialog) no-repeat;
#pop_flash
    border 1px solid #004680
    background #000
    line-height 0
object
    outline none

#reg_tips
    position absolute
    width 147px
    height 20px
    background #010a6f
    border 1px solid #ffbc0c
    color #fff
    z-index 100
    top 83px
    left 780px
    display none
    overflow hidden
    line-height 106px
    font-size 14px
    text-align center