!!!5
html
    head
        title 诺亚时间版官网管理后台
        link(href='/stylesheets/nysjdm_link/main.css', rel='stylesheet')
        script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js")
        script(src='/javascripts/nysjdm_link/out.js')
    body
        h1 系统设置
        ul
            li
                a(href='http://nysjdm.syyx.cn/parameter/configserver.html', target='_blank') 服务器配置
            li
                a(href='http://nysjdm.syyx.cn/parameter/configclass.html', target='_blank') 类别配置
            li
                a(href='http://nysjdm.syyx.cn/parameter/configitems.html', target='_blank') 参数配置
        h1 运营数据分析
        ul
            li
                a(href='http://nysjdm.syyx.cn/opanalyse/kpiweb.html', target='_blank') 整体情况kpi
            li
                a(href='http://nysjdm.syyx.cn/opanalyse/webuv.html', target='_blank') 前端转化
            li
                a(href='http://nysjdm.syyx.cn/opanalyse/loginratenew.html', target='_blank') 登录留存
            li
                a(href='http://nysjdm.syyx.cn/opanalyse/onlinerealtime.html', target='_blank') 实时在线
            li
                a(href='http://nysjdm.syyx.cn/opanalyse/dailytransfer.html', target='_blank') 充值情况
            li
                a(href='http://nysjdm.syyx.cn/opanalyse/clientinstall.html', target='_blank') 客户端安装情况
            li
                a(href='http://nysjdm.syyx.cn/opanalyse/realregister.html', target='_blank') 注册实时统计
        h1 游戏数据分析
        ul
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/animalinfo.html', target='_blank') 动物统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/battle.html', target='_blank') 战场统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/blueprint.html', target='_blank') 合成卷轴统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/boss.html', target='_blank') boss统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/changeinfo.html', target='_blank') 庭院牧场统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/civis.html', target='_blank') 市民等级统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/corps.html', target='_blank') 军团统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/corpstask.html', target='_blank') 军团任务
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/detector.html', target='_blank') 探测器统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/drug.html', target='_blank') 红蓝药品统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/equipment.html', target='_blank') 装备统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/furniture.html', target='_blank') 庭院摆设统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/fuwen.html', target='_blank') 符文统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/gamekpi.html', target='_blank') 游戏kpi
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/playerinfo.html', target='_blank') 角色信息统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/goods.html', target='_blank') 物品统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/homestead.html', target='_blank') 家园统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/jijia.html', target='_blank') 机甲统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/kfnum.html', target='_blank') 跨服活动统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/manmade.html', target='_blank') 人造晶体
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/money.html', target='_blank') 金钱统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/moneylift.html', target='_blank') 银币留存统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/monsterdrop.html', target='_blank') 怪物掉落统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/monsterkill.html', target='_blank') 怪物击杀统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/npcrelease.html', target='_blank') 能量场统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/onlinetime.html', target='_blank') 角色在线时长
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/playerally.html', target='_blank') 战友召唤
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/raidtimes.html', target='_blank') 副本统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/stone.html', target='_blank') 晶体统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/task.html', target='_blank') 任务完成次数
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/taskaccept.html', target='_blank') 日常任务细分统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/taskplayer.html', target='_blank') 任务人数统计
            li
                a(href='http://nysjdm.syyx.cn/gameanalyse/tasktimes.html', target='_blank') 任务次数统计