include ../include/jquery
include ../include/jquery_ui
link(href='/stylesheets/metier/main.css',rel='stylesheet')
script(src='/javascripts/metier/out.js')
script(src='http://s1.syyx.com/plugins/jquery_cookie/jquery.cookie.js')