@import "../url"

.uploadphoto
    background url($framebg) no-repeat
    width 830px
    height 486px
    overflow hidden
    padding 30px 50px
    h1
        font-size 14px
        color #01f8ff
        width 740px
        text-align center
        line-height 30px
        margin-bottom 10px
.upnotice
    margin-bottom 35px
.uprule
    width 360px
    height 280px
.upimg
    position absolute
    width 350px
    height 320px
    top 70px
    left 450px
.tdleft
    width 120px
    text-align right
    color #8bd3fb
    line-height 30px
.viewimg
    width 95px
    height 104px
    border dashed 1px #00a9ff
    margin-left 10px
    overflow hidden
    text-align center
    vertical-align middle
    //display table-cell
    img
        width 95px
#txtContent
    height 50px
    width 208px
.loginbtn a
    margin-top 10px
.upbtn
    position absolute
    top 375px
    width 250px
    left 295px
iframe
    border 0
    style none
#txtFile
    width 220px
    height 22px
#txtNickname
    width 143px