!!!5
html
    include ../include/url
    head
        include ../include/meta
        include script_style
    body
        .container
            .content
                .flash1
                    #flash1
                .flash2
                    #flash2
                include ../include/logo_link
                .nav
                    a(href='#{nycs_index}')
                    a(href='#{reg}')
                    a(href='#{download}')
                    a(href='#{nav_bbs}')
                .video
                    a(href='#')
                .link1
                    a.first(href='http://nycs.syyx.com/news/2012/05/28/2352.shtml',target='_blank')
                    a(href='http://nycs.syyx.com/news/2012/05/28/2353.shtml',target='_blank')
                    a(href='http://nycs.syyx.com/news/2012/05/28/2351.shtml',target='_blank')
                .link2
                    a.first(href='http://activity.syyx.com/cgweibo/index.aspx',target='_blank')
                    a.second.wait(href='http://activity.syyx.com/role/RushIndex.html',target='_blank')
                    a.third.wait2(href='http://bbs.nycs.syyx.com/showtopic-98409.aspx',target='_blank')
                    a.wait3(href='http://bbs.nycs.syyx.com/showtopic-98408.aspx',target='_blank')
    #pop_flash_dialog
