include ../include/jquery
include ../include/jquery_ui
link(href='http://s.syyx.com/events/index40/plugins/jquery-ui-1.8.13.custom.css',rel='stylesheet')
link(href='/stylesheets/feature0530/main.css',rel='stylesheet')
script(src='http://s1.syyx.com/plugins/swfobject/swfobject.js')
script(src='/javascripts/feature0530/out.js')