@import "../url"

#nickname
    font-size 24px
    font-weight bold
#singcontent
    padding-bottom 5px
#gctitle
    padding-bottom 15px
    padding-top 20px
#gc
    width 542px
    height 116px
    border solid 1px #AFAFAF
    background #fff
    color #444
    overflow auto
    span
        margin-top 10px
        display block
        margin-left 10px
        height 100px
        overflow auto
.piaos
    margin-top 20px
#votecount
    color #D75000
#toupiao
    background url($btn) no-repeat -3px -3px
    width 92px
    height 20px
    position absolute
    right 138px
    top 310px
#more
    background url($btn) no-repeat -3px -26px
    width 92px
    height 20px
    position absolute
    right 38px
    top 310px