.pic_detail
    .pic_class
        .border
            a(href='http://nycs.syyx.com/pic_list.html') 玩家相册
            a.selected(href='#') 游戏截图
            a#a_upload.upload(href='#')
    ul.pic_list
    .paging
        //a#prev_page(href='#') 上一页
        span#dispaly_page_num
        //- a(href='#') 1
        //- a(href='#',class='current') 2
        //a#next_page(href='#') 下一页
        span#current_page_num
        span#all_pages_num
    include ../include/copyright