link(rel="stylesheet",href="http://s1.syyx.com/nt_activity/yxx/plugin/jquery-ui/jquery-ui-1.8.13.custom.css")
link(href='/stylesheets/gamepic_list/main.css',rel='stylesheet')
link(rel='stylesheet',href='http://s.syyx.com/nycs/plugin/light-box/jquery.lightbox-0.5.css')
include ../include/jquery
script(src='http://s1.syyx.com/plugins/swfobject/swfobject.js')
script(src='http://s.syyx.com/nycs/plugin/light-box/jquery.lightbox-0.5.js')
script(src='/javascripts/gamepic_list/out.js')
script(src='http://s1.syyx.com/plugins/jquery_cookie/jquery.cookie.js')
script(src='http://s1.syyx.com/plugins/jqueryUI/jquery-ui-1.8.19.custom.min.js')
script(src='http://s1.syyx.com/plugins/jqueryUI/jquery.bgiframe-2.1.2.js')
