!!!5
html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name="author",content="火柴(201209)")
        meta(name="description", content="《诺亚传说》三大节日缤纷上演，海量奖励真情回馈诺米支持！周年庆感恩无限，中秋团聚享月饼，国庆七天打牌乐趣多，更多精彩，尽在《诺亚传说》")
        title 《诺亚传说》三重节日活动缤纷上线，海量晶体感恩回馈！
        meta(name="description".content="《诺亚传说》三大节日活动缤纷上线，海量晶体感恩回馈！《诺亚传说》-八天长假畅玩最佳选择！")
        meta(name="keywords".content="诺亚传说,节日,活动,晶体,周年庆,中秋,国庆")
        link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
        link(href="/stylesheets/nycs/new_play201209/main.css",rel="stylesheet",type="text/css")
    body
        .container
            .main
                .nav
                    include ../_include/nav
                a.logo(href="http://nycs.syyx.com/index.shtml",target="_blank")
                #tab
                    .t0(style="display:block")
                    div
                    div
                    div
                #con
                    .scroll
                        .con.con0
                            p.p1 周年庆活动期间，在活动大使处可以接取一次许愿任务，还可欣赏绚丽的烟花。
                            p.p2 "魔族在多美联邦欢庆之际，撕裂了时空，妄图摧毁人类文明！现在，你可以与雅典娜、宙斯一起，穿越时空，拯救多美星的未来！"
                            p.p3 诺亚校长现身多美星，给大家带来了丰厚的礼物哦！诺米只要进入游戏找校长，接受他的感谢，就可以领取
                                a.to4 “多美英雄勋章”，
                                | 以及海量好礼！
                        .con.con1
                            p.p4 活动期间，所有30级玩家每天都能到活动大使处领取一次绑定的月饼礼盒。玩家还可以活动大使出使用月饼兑换券兑换月饼，每张月饼兑换券可以兑换一个月饼礼盒。月饼礼盒可以随机开出
                                a.to4 “多美英雄勋章”，
                                | 等各种惊喜奖励。
                            p.p5 等级达到30级的玩家可以在活动大使处接取任务，任务会要求找到并击败隐匿的月饼大盗找回被盗的月饼。每人每天可以完成一次，奖励1张月饼兑换卷。
                            p.p6 在活动期间内，3-5名玩家可以组队到活动大使出领取讨伐蓬蒙
                                br
                                | 的任务，每人每天可以接取一次。击败BOSS后，可以获得月饼
                                br
                                | 兑换券2张。
                        .con.con2
                            p.p8 等级达到30级的玩家，每天上线在太阳城活动大使处，就可以直接领取国庆礼包。打开国庆礼包可以得到军事卡牌包（可以开出军事卡牌）、节日积分、坐骑强化石，螺旋藻等奖励。
                            p.p9 活动期间每天可以参加答题，答题可以随机获得经验、绑银、节日积分、军事卡牌包等奖励。答对全部20个问题有几率获得修炼珠以及庭院道具。
                                br
                                | 小提示：组队答题可以获得额外的积分奖励。
                            p.p10 诺米获得卡牌之后，可以通过和NPC或者朋友一起玩卡牌游戏。乐趣多多，奖励多多。
                        .con.con3
                            p.p11 在太阳城NPC——多美英雄审核官（290，281）处，提交
                                span 多美英雄勋章
                                | 进行审核。奖励分两天领完。奖励包括4个七级劳尔晶体和一定数量的智慧果。
                            p.p12 在太阳城NPC——诺亚校长（410,315）处领取，能获得“多美英雄礼包”，打开可获得一个绑定的多美英雄勋章。
                            p.p13 在太阳城NPC——活动大使（417,320）处兑换月饼礼盒。打开“月饼礼盒”，有一定几率获得未绑定的多美英雄勋章。
                .weibo
                    span +
                    | 了解更多第一手官方快讯，请收听：
                    a(href="http://weibo.com/nuoyachuanshuo",target="_blank") 官方新浪微博>>
                    a(href="http://e.t.qq.com/nycs_sy",target="_blank") 官方腾讯微博>>
                .copy_right
                    .feet_txt 文网游备字[2011]C-RPG014字 | 文网文【2009】263号 | 增值电信业务经营许可证 粤B2-20080061 粤ICP备10029615号
                        br
                        | 出版号 ISBN 978-7-900267-01-6 | Copyright@2007-2011 深圳市尚游网络科技有限公司 版权所有
                    a.feet_logo(target="_blank",href="http://www.syyx.com/")
                #pop_flash_dialog
        script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
        script(src="/javascripts/nycs/new_play201209/out.js",type="text/javascript")
        .disnone
            script(src="http://s6.cnzz.com/stat.php?id=2001608&web_id=2001608",type="text/javascript")