body
    background #000
    margin 0
.s0
    min-width 980px
    position relative
.s1
    overflow hidden
    height 795px
    width 100%
    position relative
.s2
    width 1280px
    left 50%
    margin-left -640px
    height 795px
    text-align center
    position relative
.s4
    width 980px