$bg             = 'http://s1.syyx.com/nycs/images/pic_list/bg.jpg'
$btn            = 'http://s1.syyx.com/nycs/images/news_content/btn.jpg'
$copyright_logo = 'http://s1.syyx.com/nycs/images/news_content/copyright_logo.jpg'
$tab            = 'http://s1.syyx.com/nycs/images/news_list/tab.jpg'
$b_line         = 'http://s1.syyx.com/nycs/images/news_list/border.jpg'
$copyright_bg   = 'http://s1.syyx.com/nycs/images/news_list/copyright.jpg'
$news_class     = 'http://s1.syyx.com/nycs/images/article_list/news_class.jpg'
$nav_tip        = 'http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg'