body{margin:0;font:12px/2em "宋体";color:#a9c9ff}
a{text-decoration:none;color:#d8af6f;outline:none;}
a:hover{color:#fff}
.wrap{width:980px;margin:0 auto;background:url("http://r.syyx.com/events/p028/bg.jpg") #000 no-repeat}
.main{position:relative;height:1200px;background:url("http://r.syyx.com/events/p028/main.jpg") no-repeat 0 550px;overflow:hidden}
.nycs{position:absolute;left:50px;width:155px;height:82px;top:5px;background:url("http://r.syyx.com/events/p028/btn.jpg") no-repeat 999cm}
#flash,#flash_but,#flash_btn{width:186px;height:105px;position:absolute;top:426px;left:76px}
#flash_btn{background:url("http://r.syyx.com/events/p028/btn.jpg") no-repeat 999cm;cursor:pointer}
#img_scroll{width:577px;height:571px;right:0;position:absolute;top:0;}
#img_scroll img{position:absolute;top:0;left:0}
#img_scroll a{width:60px;height:85px;position:absolute;background:url("http://r.syyx.com/events/p028/btn.jpg") 999cm;top:327px}
#img_scroll #prev{left:138px}
#img_scroll #next{right:36px}
#prize{width:284px;height:55px;position:absolute;left:200px;top:20px}
#to_rungame,#to_rungame2{width:221px;height:72px;position:absolute;top:451px;left:560px}
#to_rungame2{visibility:hidden}
.rungame1{width:221px;height:72px;position:absolute;top:451px;left:560px;text-indent:-9999cm;opacity:0;background:#fff}
.reg_box{width:298px;top:650px;right:0;position:absolute}
.reg_panel{width:298px;height:350px;position:relative;overflow:hidden;}
.reg_panel .reg{width:230px;margin-left:39px}
.reg_panel table{height:162px;}
.reg_panel table td{height:27px;width:20px}
.reg_panel table input{background:#85bbe5;border:1px solid #009cff;height:18px;color:#002c7a;line-height:18px;width:145px}
.reg_panel table .focus_in_inut{background:#cce9ff}
.reg_panel .agreement{height:21px}
.reg_panel .reg_form_item_name{width:60px}
.reg_panel .reg_form_item_input{width:150px}
.reg_panel .validate_num_input{height:30px;vertical-align:top;padding-top:3px}
.reg_panel #txtValidate{width:50px}
.reg_panel #validateimg{width:90px;margin-left:5px;height:27px;vertical-align:top;cursor:pointer}
.reg_panel #reg_step2,.reg_panel #reg_step3,.reg_panel #reg_step4,.reg_panel #reg_step5{width:220px;margin:0 auto;padding-top:10px;line-height:25px;height:140px;display:none;text-align:center}
.reg_panel #reg_step2{height:231px;}
.reg_panel #reg_step2 .active{height:200px;line-height:30px}
.reg_panel #reg_step2 input{background:#85bbe5;border:1px solid #009cff;height:18px;color:#002c7a;line-height:18px;width:145px}
.reg_panel p{color:#4e7fe9;margin:5px 0}
.reg_panel #active_link{display:block;margin:20px auto;width:127px;height:30px;background:url("$bt_hover") no-repeat -229px -82px;}
.reg_panel #active_link:hover{background-position:-229px -113px}
.reg_panel .reg_submit{height:55px;position:relative}
.reg_panel #reg_button{width:127px;height:29px;position:absolute;left:51px;top:7px;background:url("$bt_hover") no-repeat -399px -8px;}
.reg_panel #reg_button:hover{background-position:-399px -36px}
.reg_panel .success{height:50px;line-height:50px;background:url("http://r.syyx.com/events/p028/success.jpg") no-repeat 40px center;color:#ffbf00}
.reg_panel .fail{height:50px;line-height:50px;background:url("http://r.syyx.com/events/p028/fail.jpg") no-repeat 40px center;color:#ffbf00}
.reg_panel #back{text-decoration:underline;cursor:pointer;display:block}
.reg_panel .active_info{text-align:left;padding-left:30px;color:#07daef}
.reg_panel .download_tip{text-align:center;padding-top:50px;color:#07daef}
.reg_panel .icon{position:relative;width:200px;height:97px;margin:0 auto;}
.reg_panel .icon .rungame{width:127px;height:27px;display:block;margin:20px auto;background:url("$bt_hover") no-repeat -366px -83px;}
.reg_panel .icon .rungame:hover{background-position:-366px -111px}
.reg_panel .icon .download{display:none}
.reg_panel .check_result_wrong{background:url("http://r.syyx.com/events/p028/right_wrong.png") no-repeat 0 -32px;height:100%;width:16px}
.reg_panel .check_result_right{background:url("http://r.syyx.com/events/p028/right_wrong.png") no-repeat 0 4px;height:25px;width:16px}
.reg_panel .check_result_loading{background:url("http://r.syyx.com/events/p028/ajax-loader.gif") no-repeat 0 4px;height:25px;width:16px}
.disnone{display:none}
