//pic_url
$float_reg_btn  = 'http://s1.syyx.com/nycs/images/float_reg/float_btn.jpg'
$float_reg_bg   = 'http://s1.syyx.com/nycs/images/float_reg/reb_bg.jpg'
$btn            = 'http://s1.syyx.com/nycs/images/float_reg/btn.jpg'
$loading        = 'http://s1.syyx.com/nycs/images/float_reg/loader.gif'
$reg_tip_icon   = 'http://s1.syyx.com/nycs/images/float_reg/right_wrong.png'
$reg_success    = 'http://s1.syyx.com/nycs/images/float_reg/reg_success_title.jpg'
$active_success    = 'http://s1.syyx.com/nycs/images/float_reg/success2_bg.png'
$dowm_ico    = 'http://s1.syyx.com/nycs/images/float_reg/ico_down.png'