.area_download
    .mini_client
        a(href = '#{mini_client}', class = 'fn_miniclient', target = '_blank')
    .full_client
        a(href = '#{full_client}', class = 'fn_fullclient', target = '_blank')
