.game_intro
    #game_intro_bar
        a.check_0
        a
        a
        a
    #game_intro_pic
        img(src = 'http://s.syyx.com/nycs/img/index_html/feature1.jpg', width = '678', height = '354', style="display:inline")
        img(delay = 'http://s.syyx.com/nycs/img/index_html/feature2.jpg', width = '678', height = '354')
        img(delay = 'http://s.syyx.com/nycs/img/index_html/feature3.jpg', width = '678', height = '354')
        img(delay = 'http://s.syyx.com/nycs/img/index_html/feature4.jpg', width = '678', height = '354')
