!!!5
html
    include ../include/url
    head
        include ../include/meta
        include script_style
    body
        .container1
            .container2
                .content
                    include logo
                    include nav
                    include flash_video
                    include mini_download
                    include home_entry
                    include game_intro
                    include area_register
                    include area_download
                    include area_party
                    include award_intro
                    include game_snapshot
                    include page_foot
        script(src='http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js',type="text/javascript")
        script(src='http://s1.syyx.com/plugins/jqueryUI/jquery_ui_1.8.18/jquery-ui-1.8.18.custom.min.js',type="text/javascript")
        script(src='http://s1.syyx.com/plugins/compress/bgiframe_lightbox_swfobject.js',type="text/javascript")
        script(src='http://s.syyx.com/nycs/js/index_html/out.js',type="text/javascript")