.nav
    a(href = '#{nycs_main}', class = 'fn_main',     target = '_blank')
    a(href = '#{nav_news}',  class = 'fn_register', target = '_blank')
    a(href = '#{download}',  class = 'fn_download', target = '_blank')
    a(href = '#{nav_bbs}',   class = 'fn_bbs',      target = '_blank')
