link(href='http://s.syyx.com/nycs/plugin/default_page_plugin/jquery-ui-1.8.13.custom.css',rel='stylesheet')
link(href='http://s.syyx.com/nycs/plugin/light-box/jquery.lightbox-0.5.css',rel='stylesheet')
link(href='http://s.syyx.com/nycs/css/index_html/main.css',rel='stylesheet')