body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
q:before,q:after{content:''}
abbr,acronym{border:0}
a{outline:none;text-decoration:none}
.clear{clear:both;overflow:hidden;height:0}
body{font-size:12px;font-family:'宋体';color:#665798}
.container{min-width:1000px;background:#1c180f url("http://s1.syyx.com/nycs/images/news_content/bg.jpg") center top no-repeat;}
.container .content{min-height:800px;width:1000px;margin:0 auto;position:relative;}
.container .content .logo_link{position:absolute;top:50px;left:10px;width:210px;height:80px}
.container .content .nav{position:absolute;width:600px;height:25px;left:427px;top:12px;overflow:hidden;}
.container .content .nav a{display:block;float:left;height:21px;width:65px;margin-right:16px;}
.container .content .nav a.fn_main:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -2px 0 no-repeat}
.container .content .nav a.fn_news:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -83px 0 no-repeat}
.container .content .nav a.fn_download:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -164px 0 no-repeat}
.container .content .nav a.fn_usercenter:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -245px 0 no-repeat}
.container .content .nav a.fn_gameinfo:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -326px 0 no-repeat}
.container .content .nav a.fn_service:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -407px 0 no-repeat}
.container .content .nav a.fn_bbs:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -488px 0 no-repeat}
.container .content .fn_group{position:absolute;top:296px;left:9px;width:203px;height:300px;}
.container .content .fn_group a{display:block;height:44px;}
.container .content .fn_group a.fn_download_btn{height:75px;margin-bottom:3px;}
.container .content .fn_group a.fn_download_btn:hover{background:url("http://s1.syyx.com/nycs/images/news_content/btn.jpg") 0 0 no-repeat}
.container .content .fn_group a.fn_reg_btn:hover{background:url("http://s1.syyx.com/nycs/images/news_content/btn.jpg") 0 -78px no-repeat}
.container .content .fn_group a.fn_charge_btn:hover{background:url("http://s1.syyx.com/nycs/images/news_content/btn.jpg") 0 -122px no-repeat}
.container .content .fn_group a.fn_active_btn:hover{background:url("http://s1.syyx.com/nycs/images/news_content/btn.jpg") 0 -210px no-repeat}
.container .content .fn_group a.fn_get_gift_btn:hover{background:url("http://s1.syyx.com/nycs/images/news_content/btn.jpg") 0 -166px no-repeat}
.container .content .promotions{position:absolute;top:600px;left:14px;}
.container .content .promotions a{display:block;width:190px;height:92px;border:1px solid #4c278e;margin-bottom:1px;}
.container .content .promotions a img{width:190px;height:92px}
.container .content .bread_path{position:absolute;top:312px;right:45px;color:#baa3e9;}
.container .content .bread_path a{color:#baa3e9;}
.container .content .bread_path a:hover{text-decoration:underline}
.container .content .news_detail{padding:370px 0 0 219px;width:771px;}
.container .content .news_detail h1{text-align:center;font-size:16px;font-weight:bold;color:#bddae8;padding-bottom:5px}
.container .content .news_detail .time{text-align:center;padding-top:5px}
.container .content .news_detail .news_text{padding:30px 40px 20px 40px;font-size:14px;line-height:24px;background-color:#26182f;color:#776893;}
.container .content .news_detail .news_text img{margin:10px 0}
.container .content .news_detail .news_text a{color:#fff}
.container .content .news_detail .news_text p{text-indent:28px}
.container .content .news_detail .news_text strong{font-weight:bold}
.container .content .news_detail .news_text .biaoti_1{background:url("http://s1.syyx.com/nycs/images/news_content/biaoti1.jpg") 0 0 no-repeat;width:620px;height:29px;line-height:31px;color:#bba3eb;padding-left:35px}
.container .content .news_detail .news_text .biaoti_2{height:30px;line-height:32px;padding-left:55px;width:620px;color:#bba3eb;background:url("http://s1.syyx.com/nycs/images/news_content/biaoti2.jpg") 0 0 no-repeat}
.container .content .news_detail .forward{padding:30px 0 30px 50px;background:#26182f url("http://s1.syyx.com/nycs/images/news_content/weibo.jpg") 130px 30px no-repeat;color:#786793;}
.container .content .news_detail .forward a{display:inline-block;width:15px;height:15px;margin-left:9px}
.container .content .news_detail .emotion{background-color:#26182f;padding:0 50px;color:#786793;margin-bottom:10px;}
.container .content .news_detail .emotion .emotion_content{border-top:solid 1px #342550;padding:30px 0;}
.container .content .news_detail .emotion .emotion_content .vote_result{padding:30px 0 0 50px;height:80px;}
.container .content .news_detail .emotion .emotion_content .vote_result .result_chat{float:left;position:relative;width:80px;height:80px;margin-right:20px;}
.container .content .news_detail .emotion .emotion_content .vote_result .result_chat span{position:absolute;display:block;left:0;bottom:0;height:1px;width:80px;background:url("http://s1.syyx.com/nycs/images/news_content/vote.jpg") center bottom repeat-y;}
.container .content .news_detail .emotion .emotion_content .vote_result .result_chat span .text{position:absolute;text-align:center;top:-20px;width:80px}
.container .content .news_detail .emotion .emotion_content .vote_btn{height:80px;padding:20px 0 30px 50px;}
.container .content .news_detail .emotion .emotion_content .vote_btn a{float:left;width:80px;height:80px;position:relative;margin-right:20px;}
.container .content .news_detail .emotion .emotion_content .vote_btn a span{position:absolute;width:80px;text-align:center;bottom:-30px;height:20px;color:#5f8ea0}
.container .content .news_detail .emotion .emotion_content .vote_btn a.jiong{background:url("http://s1.syyx.com/nycs/images/news_content/emotion.jpg") 10px 0 no-repeat;}
.container .content .news_detail .emotion .emotion_content .vote_btn a.jiong:hover{background-position:10px -90px}
.container .content .news_detail .emotion .emotion_content .vote_btn a.qidai{background:url("http://s1.syyx.com/nycs/images/news_content/emotion.jpg") -80px 0 no-repeat;}
.container .content .news_detail .emotion .emotion_content .vote_btn a.qidai:hover{background-position:-80px -90px}
.container .content .news_detail .emotion .emotion_content .vote_btn a.geili{background:url("http://s1.syyx.com/nycs/images/news_content/emotion.jpg") -175px 0 no-repeat;}
.container .content .news_detail .emotion .emotion_content .vote_btn a.geili:hover{background-position:-175px -90px}
.container .content .news_detail .emotion .emotion_content .vote_btn a.guanzhu{background:url("http://s1.syyx.com/nycs/images/news_content/emotion.jpg") -270px 0 no-repeat;}
.container .content .news_detail .emotion .emotion_content .vote_btn a.guanzhu:hover{background-position:-270px -90px}
.container .content .news_detail .emotion .emotion_content .vote_btn a.nanguo{background:url("http://s1.syyx.com/nycs/images/news_content/emotion.jpg") -365px 0 no-repeat;}
.container .content .news_detail .emotion .emotion_content .vote_btn a.nanguo:hover{background-position:-365px -90px}
.container .content .news_detail .emotion .emotion_content .vote_btn a.luguo{background:url("http://s1.syyx.com/nycs/images/news_content/emotion.jpg") -460px 0 no-repeat;}
.container .content .news_detail .emotion .emotion_content .vote_btn a.luguo:hover{background-position:-460px -90px}
.container .content .news_detail .related_news{background:#26182f url("http://s1.syyx.com/nycs/images/news_content/related.jpg") 10px 10px no-repeat;padding:55px 20px 20px 30px;height:150px;overflow:hidden;margin-bottom:40px;}
.container .content .news_detail .related_news img{float:left;border:solid 1px #054666;width:250px;height:142px;margin-right:20px}
.container .content .news_detail .related_news ul{float:left;width:440px;}
.container .content .news_detail .related_news ul li{line-height:24px;height:24px;padding-left:10px;background:url("http://s1.syyx.com/nycs/images/index/news_icon.png") 0 9px no-repeat;}
.container .content .news_detail .related_news ul li a{width:330px;float:left;color:#786696;height:24px;overflow:hidden}
.container .content .news_detail .related_news ul li span{float:right;width:60px;height:24px;overflow:hidden}
.container .content .news_detail #copyright{padding-bottom:60px;position:relative;margin-top:20px;}
.container .content .news_detail #copyright .copyright_content{background:url("http://s1.syyx.com/nycs/images/news_list/copyright.jpg");padding:10px 10px 10px 140px;line-height:20px}
.container .content .news_detail #copyright .syyx_logo{width:117px;height:49px;position:absolute;top:10px;left:15px}
.top_iframe{background:url("http://s1.syyx.com/nycs/images/top_iframe/syyx_iframe_bg.png") 0 0 repeat-x;height:40px;text-align:center;overflow:hidden}
.disnone{display:none}
#float_reg_btn{background:url("http://s1.syyx.com/nycs/images/float_reg/float_btn.jpg") 0 0 no-repeat;width:70px;height:273px;position:fixed;_position:absolute;top:200px;right:10px;display:none;overflow:hidden;}
#float_reg_btn:hover{background:url("http://s1.syyx.com/nycs/images/float_reg/float_btn.jpg") -80px 0 no-repeat}
#float_reg_panel{position:fixed;_position:absolute;top:200px;right:10px;display:block;background:url("http://s1.syyx.com/nycs/images/float_reg/reb_bg.jpg") 0 0 no-repeat;width:274px;height:458px;overflow:hidden;}
#float_reg_panel .close{height:35px;overflow:hidden;}
#float_reg_panel .close a{float:right;width:35px;height:35px}
#float_reg_panel #reg_step1{padding:65px 0 0 20px;width:255px;height:235px;position:relative;overflow:hidden;color:#a593cd;display:block;}
#float_reg_panel #reg_step1 .reg_form td{padding:0 2px;height:26px;}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_name{width:60px;text-align:right}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input input{background-color:#776595;border:solid 1px #683ec6;height:20px;line-height:20px;color:#98d9ff;width:146px}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input input.focus_in_inut{background-color:#fff;border:solid 1px #c8edff;color:#000}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input #validateimg{vertical-align:middle;cursor:pointer;height:29px;width:100px;margin-left:3px}
#float_reg_panel #reg_step1 .reg_form td.validate_num_input{height:35px;}
#float_reg_panel #reg_step1 .reg_form td.validate_num_input input{width:40px}
#float_reg_panel #reg_step1 .agreement{text-align:center;padding-top:5px;}
#float_reg_panel #reg_step1 .agreement a{text-align:center;text-decoration:underline;color:#c899ff;outline:none}
#float_reg_panel #reg_step1 .agreement input{margin-right:3px}
#float_reg_panel #reg_step1 .reg_submit{position:absolute;top:265px;left:85px;}
#float_reg_panel #reg_step1 .reg_submit a{display:inline-block;width:103px;height:26px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -17px no-repeat;outline:none;}
#float_reg_panel #reg_step1 .reg_submit a:hover{background-position:-142px -17px}
#float_reg_panel #reg_step2{display:none;background:url("http://s1.syyx.com/nycs/images/float_reg/reg_success_title.jpg") 35px 80px no-repeat;padding:110px 0 0 40px;width:200px;height:195px;overflow:hidden;color:#a794cb;line-height:24px;}
#float_reg_panel #reg_step2 a{width:106px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn.jpg") -8px -63px no-repeat;margin:30px 0 0 40px;display:inline-block;}
#float_reg_panel #reg_step2 a:hover{background:url("http://s1.syyx.com/nycs/images/float_reg/btn.jpg") -8px -93px no-repeat}
#float_reg_panel #reg_step3{display:none;background:url("http://s1.syyx.com/nycs/images/float_reg/reg_success_title.jpg") 35px 80px no-repeat;padding:110px 0 0 35px;width:200px;height:195px;overflow:hidden;color:#a794cb;line-height:24px;}
#float_reg_panel #reg_step3 a{margin:30px 0 0 70px;display:inline-block;color:#a794cb;text-decoration:underline}
#float_reg_panel #reg_step4{display:none;font-size:14px;left:35px;color:#a794cb;}
#float_reg_panel #reg_step4 #pad_l_10{background:url("http://s1.syyx.com/nycs/images/float_reg/success2_bg.png") 60px 95px no-repeat;padding-top:125px;text-align:center;line-height:25px;margin-bottom:15px}
#float_reg_panel #reg_step4 #down_ico{width:75px;height:80px;background:url("http://s1.syyx.com/nycs/images/float_reg/ico_down.png") no-repeat;margin:0 0 35px 90px}
#float_reg_panel #reg_account1,#float_reg_panel #reg_account2{color:#02fbf3}
#float_reg_panel .get_gift{padding-top:45px;position:relative}
#float_reg_panel .download_area{padding-left:15px;padding-top:60px;position:relative}
#float_reg_panel .link1{display:inline-block;margin-right:10px;width:119px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -45px no-repeat;}
#float_reg_panel .link1:hover{background-position:-142px -45px}
#float_reg_panel .link2{display:inline-block;width:119px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -79px no-repeat;}
#float_reg_panel .link2:hover{background-position:-142px -79px}
#float_reg_panel .get_gift{padding-top:50px;}
#float_reg_panel .get_gift a{background-position:-164px -199px;}
#float_reg_panel .get_gift a:hover{background-position:-163px -240px}
#float_reg_panel .check_result_right{background:url("http://s1.syyx.com/nycs/images/float_reg/right_wrong.png") 0 4px no-repeat;width:16px;height:25px}
#float_reg_panel .check_result_wrong{background:url("http://s1.syyx.com/nycs/images/float_reg/right_wrong.png") 0 -32px no-repeat;width:16px;height:25px}
#float_reg_panel .check_result_loading{background:url("http://s1.syyx.com/nycs/images/float_reg/loader.gif") 0 4px no-repeat;width:16px;height:25px}
