$bg             = 'http://s1.syyx.com/nycs/images/news_content/bg.jpg'
$btn            = 'http://s1.syyx.com/nycs/images/news_content/btn.jpg'
$weibo          = 'http://s1.syyx.com/nycs/images/news_content/weibo.jpg'
$emotion        = 'http://s1.syyx.com/nycs/images/news_content/emotion.jpg'
$vote           = 'http://s1.syyx.com/nycs/images/news_content/vote.jpg'
$related        = 'http://s1.syyx.com/nycs/images/news_content/related.jpg'
$news_icon      = 'http://s1.syyx.com/nycs/images/index/news_icon.png'
$biaoti         = 'http://s1.syyx.com/nycs/images/news_content/biaoti.jpg'
$biaoti1        = 'http://s1.syyx.com/nycs/images/news_content/biaoti1.jpg'
$biaoti2        = 'http://s1.syyx.com/nycs/images/news_content/biaoti2.jpg'
$nav_tip        = 'http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg'
$copyright_bg   = 'http://s1.syyx.com/nycs/images/news_list/copyright.jpg'