.copy_right 文网游备字[2011]C-RPG014字 | 文网文【2009】263号 | 增值电信业务经营许可证 粤B2-20080061 粤ICP备10029615号
    br
    | 出版号 ISBN 978-7-900267-01-6 | Copyright@2007-2012 深圳市尚游网络科技有限公司 版权所有
    a.feet_logo(href='#{url_syyx}',target='_blank',hidefocus="true")