//-----------------------------------------------------
.reg_panel
    .reg
        table.reg_form(border="0",cellpadding="0",cellspacing="0")
            tr
                td.reg_form_item_name 账&nbsp;&nbsp;&nbsp;&nbsp;号：
                td.reg_form_item_input
                    input#txtUserAccount(type="text",maxlength="16")
                td
                    #txtUserAccountTip
            tr
                td.reg_form_item_name 密&nbsp;&nbsp;&nbsp;&nbsp;码：
                td.reg_form_item_input
                    input#txtPasswords(type='password',maxlength="16")
                    input#txtPasswordsVal.disnone(type="text")
                td
                    #txtPasswordsTip
            tr
                td.reg_form_item_name 重复密码：
                td.reg_form_item_input
                    input#txtConfirm(type="password")
                    input#txtConfirmVal.disnone(type="text")
                td
                    #txtConfirmTip
            tr
                td.reg_form_item_name 真实姓名：
                td.reg_form_item_input
                    input#txtTrueName(type='text',maxlength="20")
                td
                    #txtTrueNameTip
            tr
                td.reg_form_item_name 身&nbsp;份&nbsp;证：
                td.reg_form_item_input
                    input#txtCardID(type="text",maxlength="18")
                td
                    #txtCardIDTip
            tr
                td.reg_form_item_name 验&nbsp;证&nbsp;码：
                td.reg_form_item_input.validate_num_input
                    input#txtValidate(type='text',maxlength='20')
                    img#validateimg.disnone(src='',alt='点击刷新验证码')
                td
                    #txtValidateVal
        .agreement
            input#chk_XieYi(type="checkbox",checked)
            | 同意
            a(href='http://user.syyx.com/policy/userpolicy.aspx',target="_blank",hidefocus="true")
                《使用协议及隐私协议》
        .reg_submit
            a#reg_button(href='#',hidefocus="true")
            span#regProcessTip
    #reg_step2
        .success 注册成功!
        p 恭喜您获得
            span#card_type VIP网吧礼包
        |您的账号：
        input#reg_account(type="text")
        br 
        |激活码为：
        input#active_code(type="text")
        a#active_link(href='#',hidefocus="true")
    #reg_step3
        .success 注册成功!
        p 恭喜您注册成功，今天的礼包卡已发完。
        |您的账号：
        span.reg_account
    #reg_step4
        .success 激活成功!
        .active_info
            |请在游戏中"礼包大使"
            br
            |（235,130）处领取礼包
        .icon
            a.rungame(href="javascript:rungame()",hidefocus="true")
            .download_tip 推荐火爆新服:
                br
                | 雷霆战场[电信&nbsp;&nbsp;&nbsp;&nbsp;伊甸园[网通] 
                br  
                | 英雄神殿[电信]
    #reg_step5
        .fail 激活失败!
        p
            span#active_tip
            span#back 返回
