div(style="margin:5px")
	div#search
		table
			tr									
				td 	媒体类型
					select#ddlClass
				td 	媒体名称
					select#ddlMedia
				td 	广告
					select#ddlAd				
				td  
					&nbsp
					a#btnSearch(href="javascript:void(0)",class="easyui-linkbutton")	查询		
				
	table#tt(class="wiki-list-table", style="width:100%")
		tr
			th	媒体类型
			th	媒体
			th	广告
			th	月份
			th	操作
	div#pp(class="pager")

	