link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
meta(name = "keywords", content = "秀出诺米真我，双人坐骑，十万尚游币，活动，诺亚传说,网游,2012题材,网络游戏,人气,新世界,公平,激爽PK,热门2d新游")
meta(name = "description", content = "诺米从不孤单，传照片，秀真我，8月全国狂欢活动送双人坐骑+十万尚游币！全新2012题材人气巨作《诺亚传说》，科技与魔法完美融合的未来新世界，揭秘2012末日预言！唯美的未来世界，个性的异能职业，革新的趣味玩法，激爽的跨服PK，首创“微消费”公平模式，终极内测，全面升级，震撼来袭！")
title 秀出诺米真我 赢双人坐骑+十万尚游币-全新2012人气巨作，终极内测，震撼来袭！