!!!5
html
    include ../include/url
    head
        include ../include/metier_meta
        include script_style
    body
        .container.container_gdj
            .main
                #nav
                a.logo(href='http://nycs.syyx.com/index.shtml',hidefocus='true')
                .profession
                    a.ico.ico_ynz(href='http://nycs.syyx.com/GameInfo/metier.shtml',hidefocus='true')
                    a.ico.ico_qxs(href='http://nycs.syyx.com/GameInfo/metier_03.shtml',hidefocus='true')
                    a.ico.ico_jws(href='http://nycs.syyx.com/GameInfo/metier_02.shtml',hidefocus='true')
                    span.ico.check_gdj(hidefocus='true')
                .profession_content
                    p 一般情况下，格斗家们看起来和普通人没什么区别，但只要戴上了能量拳套，无尽的力量就会充满身体，使他们可以顶着敌人的火力冲上前击碎一切。
                    .pro_info
                        span 攻击类型：
                        | 物理攻击
                        span 职业定位：
                        | 近程、不死金刚、减速控制
                    #pro_tab
                        span.video
                        span
                        span
                    #pro_con
                        #c_video.con
                        #c_skill.con
                        #c_item.con
                            #grades.grades
                                span#s60.s60
                                span#s70
                                span#s80
                                span#s90
                            #grade_flash
                            a.grade_more(href='http://nycs.syyx.com/GameInfo/arming.html?5',target='_blank',hidefocus='true') 查看详情>>
                    .nav_2
                        a(href='http://user.syyx.com/reg.aspx',target='_blank',hidefocus='true') 注册帐号
                        a(href='http://nycs.syyx.com/DownLoad/Index.shtml',target='_blank',hidefocus='true') 下载游戏
                .copy_right
                    .game_advice
                        |健康游戏公告: 抵制不良游戏&#12288;拒绝盗版游戏&#12288;注意自我保护&#12288;谨防受骗上当&#12288;适度游戏益脑&#12288;沉迷游戏伤身&#12288;合理安排时间&#12288;享受健康生活
                    .feet_txt
                        |文网游备字[2011]C-RPG014字&nbsp;&nbsp;文网文【2009】263号
                        <br>
                        |增值电信业务经营许可证 粤B2-20080061&nbsp;&nbsp;粤ICP备10029615号
                        <br>
                        |出版号 ISBN 978-7-900267-01-6
                        <br>
                        |Copyright@2010-2011 深圳市尚游网络科技有限公司 版权所有
                    a.feet_logo(hidefocus='true',target='_blank',href='http://www.syyx.com/')
                    include ../include/stat
        include ../include/reg