$bg             = 'http://r.syyx.com/nysj/news_list/bg.jpg'
$btn            = 'http://r.syyx.com/nysj/news_list/btn.jpg'
$copyright_logo = 'http://r.syyx.com/nysj/news_list/copyright_logo.jpg'
$tab          	= 'http://r.syyx.com/nysj/news_list/tab.jpg'
$blank          = 'http://r.syyx.com/nysj/index/blank.png'