body{margin:0;background:#010b0d;color:#66c8d1;font-size:12px;line-height:22px}
a{color:#77f4b0;text-decoration:none;outline:none;hidefocus:true;}
a:hover{text-decoration:underline}
a:hover{color:#d4d4d4}
h1{margin:0;font-weight:normal}
.input{border:solid 1px #017acb;background:#032139;height:20px;color:#7b8e9f;padding-left:2px;width:150px}
.btn{width:83px;height:26px;background:url("http://r.syyx.com/party/nycs/role/btn.jpg") no-repeat -380px -236px;display:block;font-size:14px;line-height:26px;text-align:center;color:#fff;}
.btn:hover{background:url("http://r.syyx.com/party/nycs/role/btn.jpg") no-repeat -380px -263px;text-decoration:none}
#loginerror{color:#e5cf3d;width:230px;height:40px;line-height:25px;margin-left:120px;margin-top:10px;position:absolute;font-size:12px}
.disnone{display:none}
#popup_bg{width:100%;min-width:996px;height:831px;opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);background:#000;position:absolute;top:0;left:0;display:none;z-index:2}
#div_login,#div_loginserver{position:absolute;width:550px;overflow:hidden;z-index:3;left:50%;margin-left:-275px;border:solid 1px #3485f0;}
#div_login iframe,#div_loginserver iframe{z-index:-1;margin-bottom:-8px}
.div_close{position:absolute;width:28px;height:28px;left:790px;top:10px;cursor:pointer}
.fmtitle{background:#042d63;height:37px;width:100%;text-align:center;}
.fmtitle #loginrole{background:url("http://r.syyx.com/party/nycs/role/btn.jpg") no-repeat -1px -236px;height:23px;width:110px;position:absolute;top:7px;left:200px}
.fmtitle #loginserver{background:url("http://r.syyx.com/party/nycs/role/btn.jpg") no-repeat -1px -260px;height:23px;width:121px;position:absolute;top:7px;left:200px}
.fmtitle #fmclose{background:url("http://r.syyx.com/party/nycs/role/close.jpg") no-repeat;height:27px;width:27px;position:absolute;left:524px;top:-1px}
.fmcontent{padding-top:25px;padding-left:60px;font-size:14px;}
.fmcontent td{height:40px}
.fmcontent .t_r{text-align:right}
#txtValidate{width:65px}
.validateimg,#validateimg{cursor:pointer;height:25px;margin-left:3px;position:absolute;width:94px}
.msgview{padding-top:25px;padding-left:60px;font-size:14px}
.msgbtn{top:220px;position:absolute;left:250px}
.msgback{top:300px;position:absolute;left:370px;font-size:12px}
.logo{position:absolute;top:10px;left:5px;width:200px;height:100px}
.container{background:url("http://r.syyx.com/party/nycs/role/bg.jpg") no-repeat top center;height:820px;min-width:980px;font-size:12px;position:relative}
.main{width:980px;margin:0 auto;position:relative;height:100%}
.nav{text-align:right;line-height:30px;color:#82ceee;padding-right:20px;}
.nav a{color:#82ceee;}
.nav a:hover{color:#fff}
.copy_right{width:960px;text-align:center;position:absolute;top:690px;padding-left:18px;color:#2a41bb;}
.copy_right .feet_txt{text-align:left;margin:10px 0 0 360px;line-height:20px}
.copy_right .feet_logo{position:absolute;width:140px;height:60px;top:34px;left:200px}
.servicecenter{color:#1085e6;position:absolute;top:517px;left:215px;}
.servicecenter a{color:#77c9ac}
#forgotrole,#forgotserver{display:block;width:450px;height:100px;position:absolute;left:130px}
#forgotrole{top:255px;}
#forgotrole:hover{background:url("http://r.syyx.com/party/nycs/role/btn.jpg") no-repeat -3px -8px;height:115px}
#forgotserver{top:375px;}
#forgotserver:hover{background:url("http://r.syyx.com/party/nycs/role/btn.jpg") no-repeat -3px -126px;height:110px}
.div_close{position:absolute;width:27px;height:27px;left:522px;top:0;cursor:pointer}
