@import "../url"
.file
    position relative
.input2
    border solid 1px #017acb
    background #032139
    color #8bd3fb
    padding-left 2px
    width 210px
    position absolute
    top 0
    left 0
    opacity 0
#singtext
    position absolute
    top 10px
    line-height 16px
    left 125px
#fake_2
    position relative
    width 50px
    margin-left 5px
    height 24px
    background #004276
.ckimg
    width 150px
    height 69px
    line-height 69px
    font-size 18px
    color #fff
    text-align center
    font-family "黑体"
    background url($btn2) no-repeat -6px -199px
    &:hover
        background url($btn2) no-repeat -6px -269px
        color #fff
        text-decoration none

.cktext
    position absolute
    top 10px
    left 124px
#singdown
    position absolute
    top 58px
    left 129px
#uploadmp3
    position absolute
    top 170px
    left 90px
    line-height 38px
    width 350px
    table
        height 190px
#singly
    position absolute
    top 130px
    left 134px
    color #ea4c02
.loginerr
    position absolute
    top 200px
#chkupload
    position absolute
    top 240px
    left 74px
    width 67px
    height 27px
    background url($btn2) no-repeat -157px -227px
    display block
    line-height 27px
    text-align center
    color #fff
    font-size 14px
    font-weight bold
    &:hover
        background url($btn2) no-repeat -157px -199px
        text-decoration none
.tdleft
    float right
    width 65px
    text-align right

#txtContent
    height 50px
    font-size 12px
    line-height 16px
.singtime
    color #eb4c03
    position absolute
    left 410px
.singgz
    position absolute
    left 316px
    top 20px
    width 270px
    color #444
    line-height 19px
.msgview
    position absolute
    top 290px
    width 280px
    text-align center
    color #444
    line-height 22px
    a
        color #eb4c03
#loginerr
    span
        margin-left 5px
        padding-bottom 5px
        color #444