#first
    a#close_first.ignore(href="#")
    #tag1 
        p 填写你的昵称：
        p 选择你喜欢的头像：
    input#nickname(type="text", maxlength="5") 
    #tag2
    a#gedoujia.job.ignore(href="#")
    a#yinengzhe.job.ignore(href="#")
    a#qiangxieshi.job.ignore(href="#")
    a#jianwushi.job.ignore(href="#")
    a#next_step.ignore(href="#")