#dating_flash
    #prev_flash
    #next_flash   
    #flash_bg1
        img
        .flash_player
        .flash_div
    
    #flash_bg2
        img
        .flash_player
        .flash_div

    #flash_bg3
        img
        .flash_player
        .flash_div

    #flash_bg4
        img
        .flash_player
        .flash_div