!!!5
html
    head
        include ./title
        link(href="/stylesheets/nycs/dating/index/main.css",rel="stylesheet",type="text/css")     
        link(href="http://s.syyx.com/nycs/plugin/default_page_plugin/jquery-ui-1.8.13.custom.css",rel="stylesheet",type="text/css")
        script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
        script(src="http://s1.syyx.com/plugins/jqueryUI/jquery-ui-1.8.19.custom.min.js",type="text/javascript")

    body
        #popup_bg
        include ./first
        include ./second
        include ./third
        .container
            .main
                #bg_swf        
                .nav
                    include ./nav
                a.logo(href="http://nycs.syyx.com/index.shtml",target="_blank",title="诺亚传说")  
                img#little_flash(src="http://r.syyx.com/party/nycs/dating/index2/little.jpg")             
                #little_flash_player
                #little_flash_div  
                a#join.ignore(href="#")
                a#join_.ignore(href="#")
                #cur_img
                    include ./image
                a.mini_img.ignore#img_1(href="#")
                    img
                    p.nickname
                a.mini_img.ignore#img_2(href="#")
                    img
                    p.nickname
                a.mini_img.ignore#img_3(href="#")
                    img
                    p.nickname
                a.mini_img.ignore#img_4(href="#")
                    img
                    p.nickname
                a.mini_img.ignore#img_5(href="#")
                    img
                    p.nickname
                a.mini_img.ignore#img_6(href="#")
                    img
                    p.nickname
                a#refresh_img.ignore(href="#")
                #tag1
                    p 蔡依林找的是你吗？想知道你的TA是什么样的吗？参与活动，找到你
                    p 的TA，赢取双人蔡依林演唱会门票、签名专辑、千元点卡大奖！
                #tag2
                    p 1、成功参与即有机会赢取《诺亚传说》蔡依林活动礼包；
                    p 2、每天抽取一定幸运玩家获得蔡依林签名专辑和点卡奖励；
                    p 3、一名幸运玩家可获得与TA一起去听蔡依林演唱会的双人门票大奖；
                include ./flash           
                .copy_right
                    include ../copyright
        #main_flash
            #flash1                
        .disnone
            img(src = "http://r.syyx.com/party/nycs/dating/index2/jianwushi.jpg")
            img(src = "http://r.syyx.com/party/nycs/dating/index2/gedoujia.jpg")
            img(src = "http://r.syyx.com/party/nycs/dating/index2/qiangxieshi.jpg")
            img(src = "http://r.syyx.com/party/nycs/dating/index2/yinengzhe.jpg")
            img(src = "http://r.syyx.com/party/nycs/dating/index2/a.jpg")
            img(src = "http://r.syyx.com/party/nycs/dating/index2/b.jpg")
            img(src = "http://r.syyx.com/party/nycs/dating/index2/c.jpg")
            img(src = "http://r.syyx.com/party/nycs/dating/index2/d.jpg")
            script(src="/javascripts/nycs/dating/index/out.js",type="text/javascript")
            script(src="http://s25.cnzz.com/stat.php?id=4596480&web_id=4596480")