a(href="http://nycs.syyx.com/",target="_blank",title="官网首页",hidefocus="true") 官网首页
| &nbsp
a(href="http://nycs.syyx.com/subject/character/feature1.html",target="_blank",title="游戏特色",hidefocus="true") 游戏特色
| &nbsp
a(href="http://activity.syyx.com/gift/index.html",target="_blank",title="领取礼包",hidefocus="true") 领取礼包
| &nbsp
a(href="http://nycs.syyx.com/DownLoad/Index.shtml",target="_blank",title="游戏下载",hidefocus="true") 游戏下载
| &nbsp
a(href="http://bbs.nycs.syyx.com/",target="_blank",title="玩家论坛",hidefocus="true") 玩家论坛
