#second
    a#close_second.ignore(href="#")
    #image  
        include ./image
    #tag
    input#tel(type="text", placeholder="手机号仅作为发奖用途，不会向其他用户展示", maxlength="11")
    a#sina.ignore(href="#")
    a#tencent.ignore(href="#")
    a#reset.ignore(href="#") 返回修改