#third
    a#close_third.ignore(href="#")
    div
        img
    #tag 
        p 你适合以<span>格斗家</span>的身份进入未来，这样就
        p 能在600万诺米之中找到适合你的TA！
        p &nbsp 
        p 两步轻松进入未来：
    a#register(href="http://user.syyx.com/reg.aspx",target="_blank")
    a#download(href="http://nycs.syyx.com/DownLoad/miniDownLoadUrl.aspx",target="_blank")
    a#more(href="http://nycs.syyx.com/GameInfo/Metier.shtml",target="_blank") >>了解更多<<诺亚传说>>四大未来职业资料