link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
meta(name = "keywords", content = "蔡依林,征友体,诺亚传说,公测,寻人,视频")
meta(name = "description", content = "蔡依林全网征友活动——TA在找的，是你吗？参与活动，赢OPPO Find 3，蔡依林演唱会门票等海量豪礼。与Jolin一起，找寻那个TA！")
title 蔡依林全网征友：TA在找的，是你吗？-《诺亚传说》官方网站