//pic_url
$bg              = 'http://s1.syyx.com/nycs/images/download/bg.jpg'
$nav             = 'http://s1.syyx.com/nycs/images/download/nav.jpg'
$fn_btn          = 'http://s1.syyx.com/nycs/images/download/fn_btn.jpg'
$gap             = 'http://s1.syyx.com/nycs/images/download/gap.jpg'
$download_btn    = 'http://s1.syyx.com/nycs/images/download/download_btn.jpg'
$download_173_btn= 'http://s1.syyx.com/nycs/images/download/download_173_btn.jpg'
$download_173_btn_hover = 'http://s1.syyx.com/nycs/images/download/download_173_btn_hover.jpg'
$download_173_box_bg = 'http://s1.syyx.com/nycs/images/download/download_173_box_bg.jpg'
$copyright_logo  = 'http://s1.syyx.com/nycs/images/download/logo.jpg'
$title_bg        = 'http://s1.syyx.com/nycs/images/download/title.png'
$check_version   = 'http://s1.syyx.com/nycs/images/download/check_version.jpg'