body{margin:0;background:#f9faea;color:#000;font-size:12px;line-height:22px}
a{color:#000;text-decoration:none;outline:none;hidefocus:true;}
a:hover{text-decoration:underline}
a:hover{color:#000}
h1{margin:0;font-weight:normal}
.input{border:solid 1px #c7ae75;background:#fff;height:26px;padding-left:2px;width:95px;line-height:26px}
select{background:#fafaea;border:solid 1px #47382e}
.loginerr{color:#f00}
.btn{width:83px;height:26px;background:url("http://r.syyx.com/party/nycs/sing/btn.png") no-repeat -380px -236px;display:block;font-size:14px;line-height:26px;text-align:center;color:#fff;}
.btn:hover{background:url("http://r.syyx.com/party/nycs/sing/btn.png") no-repeat -380px -263px;text-decoration:none}
#loginerror{color:#e5cf3d;width:230px;height:40px;line-height:25px;margin-left:120px;margin-top:10px;position:absolute;font-size:12px}
.disnone{display:none}
#popup_bg{width:100%;min-width:996px;height:1500px;opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);background:#000;position:absolute;top:0;left:0;display:none;z-index:2}
.fmcontent{background:url("http://r.syyx.com/party/nycs/sing/tcbg.jpg") no-repeat;width:429px;height:336px;color:#fff}
.fmtab{position:absolute;top:55px;left:50px;}
.fmtab .fmlink{color:#ffa84f}
.input_tc{border:solid 1px #bd6c11;width:156px;height:26px;background:#e8d2a0;line-height:26px;padding-left:2px}
.topdown{font-weight:bold}
.fmbtn{position:absolute;top:205px;left:130px;background:url("http://r.syyx.com/party/nycs/sing/btn.jpg") no-repeat -307px -84px;width:67px;height:27px;text-align:center;font-size:14px;color:#fff;line-height:27px;font-weight:bold;}
.fmbtn:hover{background:url("http://r.syyx.com/party/nycs/sing/btn.jpg") no-repeat -307px -112px;color:#fff;text-decoration:none}
.fmmsg span{position:absolute;top:65px;width:312px;text-align:center;font-size:14px;font-weight:bold}
.fmreg{position:absolute;top:205px;left:165px;background:url("http://r.syyx.com/party/nycs/sing/btn.jpg") no-repeat -239px -28px;width:67px;height:27px;text-align:center;}
.fmreg:hover{background:url("http://r.syyx.com/party/nycs/sing/btn.jpg") no-repeat -239px -56px}
#div_login{position:absolute;width:850px;overflow:hidden;z-index:3;left:50%;margin-left:-230px;top:50px;}
#div_login iframe{z-index:-1}
.div_close{position:absolute;width:28px;height:28px;left:393px;top:5px;cursor:pointer}
.validateimg,#validateimg{cursor:pointer;height:26px;width:94px;padding-top:7px}
.container{background:url("http://r.syyx.com/party/nycs/sing/bg.jpg") no-repeat top center;height:1500px;min-width:980px;overflow:hidden;font-size:12px}
.main{width:980px;margin:0 auto;position:relative;height:100%}
.nav{position:absolute;text-align:right;line-height:30px;color:#fbf5e6;right:290px;top:20px;}
.nav a{color:#fbf5e6;background:#968979;padding:4px 18px;margin-right:1px;}
.nav a:hover{color:#fff}
.copy_right{width:960px;text-align:center;position:absolute;top:1340px;color:#7f8070;}
.copy_right .feet_txt{text-align:left;margin:10px 0 0 315px;line-height:20px}
.copy_right .feet_logo{position:absolute;width:140px;height:60px;top:34px;left:200px}
.logo{position:absolute;top:35px;left:15px;width:240px;height:100px}
.topplay{position:absolute;top:570px;left:567px;height:27px;width:27px;background:url("http://r.syyx.com/party/nycs/sing/btn.png") no-repeat -219px -3px;}
.topplay:hover{background:url("http://r.syyx.com/party/nycs/sing/btn.png") no-repeat -190px -3px}
.topdown{position:absolute;top:570px;left:602px;height:27px;width:67px;text-align:center;font-size:14px;color:#fff;line-height:27px;background:url("http://r.syyx.com/party/nycs/sing/btn.jpg") no-repeat -39px -98px;}
.topdown:hover{color:#fff;background:url("http://r.syyx.com/party/nycs/sing/btn.jpg") no-repeat -39px -70px}
#tp{position:absolute;top:728px;left:364px;height:39px;width:200px}
#map1{position:absolute;top:768px;left:364px;height:39px;width:200px}
#map2{position:absolute;top:768px;left:565px;height:39px;width:200px}
#map3{position:absolute;top:768px;left:766px;height:39px;width:200px}
.map1hover{background:url("http://r.syyx.com/party/nycs/sing/btn.png") no-repeat -3px -99px}
.map2hover{background:url("http://r.syyx.com/party/nycs/sing/btn.png") no-repeat -3px -58px}
.map3hover{background:url("http://r.syyx.com/party/nycs/sing/btn.png") no-repeat -3px -140px}
#topcy{position:absolute;top:605px;left:609px}
#toptp{position:absolute;top:635px;left:609px}
.topbtn{height:20px;width:92px;text-align:center;line-height:20px;background:url("http://r.syyx.com/party/nycs/sing/btn.jpg") no-repeat -39px -28px;}
.topbtn:hover{background:url("http://r.syyx.com/party/nycs/sing/btn.jpg") no-repeat -39px -49px}
.singck{position:absolute;top:830px;left:364px;height:379px;width:603px;background:url("http://r.syyx.com/party/nycs/sing/singck.jpg") no-repeat}
.singup{position:absolute;top:830px;left:364px;height:457px;width:601px;background:url("http://r.syyx.com/party/nycs/sing/singup.jpg") no-repeat}
.singshow{position:absolute;top:830px;left:364px;height:315px;width:561px;background:#e8d39e;padding:20px}
.singlist{position:absolute;top:830px;left:364px;height:355px;width:600px;color:#2a2a2a;background:url("http://r.syyx.com/party/nycs/sing/singlist.jpg") no-repeat;}
.singlist .toplist,.singlist .newlist{float:left;}
.singlist .toplist span,.singlist .newlist span{display:inline-block;float:left;line-height:30px}
.singlist .toplist .slist,.singlist .newlist .slist{height:60px;overflow:hidden;}
.singlist .toplist .slist .votecount,.singlist .newlist .slist .votecount{width:60px}
.singlist .toplist .slist .votecount2,.singlist .newlist .slist .votecount2{width:60px}
.singlist .toplist .slist .nickname,.singlist .newlist .slist .nickname{width:80px;padding-left:10px;margin-right:10px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.singlist .toplist .slist a,.singlist .newlist .slist a{width:43px;height:22px;display:inline-block}
.singlist .toplist .slist .listlink,.singlist .newlist .slist .listlink{width:90px;height:22px;overflow:hidden;height:30px;line-height:30px}
.singlist .toplist .slist .scontent,.singlist .newlist .slist .scontent{float:left}
.singlist .toplist{width:255px;padding:28px 0 0 38px}
.singlist .newlist{width:275px;height:300px;padding:28px 0 0 30px;}
.singlist .newlist .slist .nickname{width:100px}
.topa a{text-decoration:none}
#login_a{color:#492f0c;}
#login_a a{color:#492f0c;background:none}
#dispaly_page_num{float:right}
.fmtitle{background:none;position:absolute;top:18px;left:120px}
.fmcontent{font-size:14px;font-weight:bold;line-height:30px}
#phone{margin-top:8px;margin-bottom:25px}
#phonetext{background:none;position:absolute;top:8px}
#txtPnone{position:absolute;top:6px;left:95px}
#loginerror{position:absolute;top:160px;left:100px;margin-left:0}
.fmmsg span,.fmmsg2 span{top:35px}
