@import "../url"
.fmtitle
    background none
    position absolute
    top 18px
    left 120px
.fmcontent
    font-size 14px
    font-weight bold
    line-height 30px
#phone
    margin-top 8px
    margin-bottom 25px
#phonetext
    background none
    position absolute
    top 8px
#txtPnone
    position absolute
    top 6px
    left 95px
#loginerror
    position absolute
    top 160px
    left 100px
    margin-left 0px
.fmmsg,.fmmsg2
    span
        top 35px
    