.news_detail
    .news_class
        .border
            a#news0(href='#0') 综合
            a#news1(href='#1') 玩家专访
            a#news2(href='#2') 玩家心情
            a#news3(href='#3') 游戏攻略
            a#news4(href='#4') 军团战记
            a#news5(href='#5') 玩家风采
    ul.news_list
    .paging
        span#dispaly_page_num
        span#current_page_num
        span#all_pages_num
    include ../include/copyright