body{font-size:12px;margin:0;color:#426b99;background:#000c1c}
img{border:none}
a{color:#48a4c9;text-decoration:none;outline:none}
a:hover{color:#fff}
.container{min-width:980px}
.head{height:490px;background:url("http://r.syyx.com/events/p013/bg.jpg") no-repeat top center}
.main{height:1010px;background:url("http://r.syyx.com/events/p013/main.jpg") no-repeat top center}
.w_980{position:relative;width:980px;height:100%;margin:0 auto}
.nav{line-height:30px;text-align:right;width:750px;color:#48a4c9}
.logo{width:140px;height:60px;position:absolute;right:37px;top:32px;text-indent:-9999cm}
#prize{width:250px;height:72px;position:absolute;top:250px;right:30px}
#flash,#flash_btn,#flash_but{position:absolute;width:186px;height:105px;left:440px;top:281px;background:url("http://r.syyx.com/events/p013/btn.jpg") no-repeat 999cm}
#flash_btn{cursor:pointer}
.mini{width:167px;height:42px;position:absolute;left:450px;top:393px;text-indent:-9999cm;}
.mini:hover{background:url("http://r.syyx.com/events/p013/btn.jpg") no-repeat -119px -105px}
#to_reg_flash,#to_reg_flash2{width:221px;height:72px;position:absolute;top:337px;right:42px}
#to_reg_flash2{visibility:hidden}
.head .to_reg{width:221px;height:72px;position:absolute;top:337px;right:42px;text-indent:-9999cm;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);background:#fff}
.head .nav .to_reg{position:static;text-indent:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);background:none;}
.head .nav .to_reg:hover{background:none}
#img_focus{width:678px;height:400px;position:absolute;top:39px;left:5px;background:url("http://r.syyx.com/events/p013/loading.gif") center 200px no-repeat}
#img_focus_tab{height:44px;}
#img_focus_tab a{width:169px;display:inline-block;float:left;height:42px;cursor:pointer;background:url("http://r.syyx.com/events/p013/btn.jpg") no-repeat 999px 999px}
#img_focus_tab .check_0{background-position:0 -10px}
#img_focus_tab .check_1{background-position:-169px -10px}
#img_focus_tab .check_2{background-position:-338px -10px}
#img_focus_tab .check_3{background-position:-507px -10px}
#img_focus_img{height:354px;}
#img_focus_img img{display:none;position:absolute}
.comment{position:absolute;width:280px;height:300px;overflow:hidden;right:2px;line-height:20px;top:10px;}
.comment ul{padding:0;margin:0;height:1500px;}
.comment ul li{list-style:none;height:60px;float:left;width:280px;}
.comment ul li img{float:left;margin-top:7px}
.comment ul li p{margin:5px 0 0 0;float:left;width:132px;height:40px;padding:5px 10px 4px 20px;color:#1a2626;background:url("http://r.syyx.com/events/p013/msg_bg.png") no-repeat 5px 0;overflow:hidden}
.comment ul li span{float:left;display:block;width:65px;height:20px;margin-top:20px;background:url("http://r.syyx.com/events/p013/time_bg.png") no-repeat;text-align:center;color:#fff}
#job{width:660px;height:280px;position:absolute;top:447px;}
#job .to_reg{width:99px;height:24px;background:url("http://r.syyx.com/events/p013/btn.jpg") -12px -105px;position:absolute;top:200px;right:40px;text-indent:-9999cm;cursor:pointer;z-index:2;}
#job .to_reg:hover{background-position:-12px -129px}
#j_tab{height:39px;padding-left:220px;}
#j_tab span{display:inline-block;width:96px;height:38px;float:left;cursor:pointer;background:url("http://r.syyx.com/events/p013/btn.jpg") no-repeat 999cm 999cm}
#j_tab .check_0{background-position:-10px -59px}
#j_tab .check_1{background-position:-106px -59px}
#j_tab .check_2{background-position:-202px -59px}
#j_tab .check_3{background-position:-298px -59px}
#j_con{height:235px;position:relative;color:#9c9994;}
#j_con .con{height:100%;visibility:hidden;width:100%;position:absolute;top:0;left:-6px}
#j_con img{position:absolute;top:0;left:0}
#j_con .left{position:absolute;left:230px;top:20px}
#j_con .swf{width:238px;height:134px;border:1px solid #005a86}
#j_con .right{width:150px;height:150px;position:absolute;right:0;top:20px;line-height:23px}
#j_con span,#j_con b{font-weight:700;color:#7dc3fe}
#j_con b{padding-bottom:10px;display:block}
#j_con p{line-height:25px}
#img_scroll{width:263px;height:215px;position:absolute;top:490px;right:12px;}
#img_scroll .button{width:14px;height:58px;float:left;cursor:pointer;margin-top:75px}
#img_scroll .scroll_box{overflow:hidden;width:235px;text-align:center;float:left;height:100%;}
#img_scroll .scroll_box #scroll_body{width:1410px}
#img_scroll .scroll_box a{width:235px;float:left;display:block;height:215px;background:url("http://r.syyx.com/events/p013/loading.gif") no-repeat center}
#img_scroll .scroll_box img{display:none}
.copy_right{width:980px;text-align:center;position:absolute;top:775px;}
.copy_right .feet_txt{text-align:left;margin:10px 0 0 380px}
.copy_right .feet_logo{position:absolute;width:140px;height:60px;left:225px;top:30px}
.ww{min-width:980px;margin:0 auto;position:absolute;top:0;width:100%;}
.ww .res{width:980px;height:0;overflow:hidden}
.reg_box{right:0;top:100px;position:absolute;height:462px;width:64px;left:auto;z-index:10;}
.reg_box #reg1{width:64px;height:269px;background:url("http://r.syyx.com/events/p013/float_reg.jpg") no-repeat;text-indent:-9999cm;position:absolute;}
.reg_box #reg1:hover{background-position:-64px 0}
.reg_box #reg2{display:none;position:absolute;left:-220px;background:url("http://r.syyx.com/events/p013/btn.jpg") #11406c no-repeat -13px -301px;width:282px;height:360px;padding-top:100px;border:1px solid #0876b3;color:#bdf1ff;overflow:hidden;}
.reg_box #reg2 .reg{padding:0 20px 0 25px}
.reg_box #reg2 table{height:162px;}
.reg_box #reg2 table td{height:27px;width:20px}
.reg_box #reg2 table input{background:#85bbe5;border:1px solid #009cff;height:18px;color:#002c7a;line-height:18px;width:145px}
.reg_box #reg2 table .focus_in_inut{background:#cce9ff}
.reg_box #reg2 .agreement{height:21px}
.reg_box #reg2 .reg_form_item_name{width:60px}
.reg_box #reg2 .reg_form_item_input{width:150px}
.reg_box #reg2 .validate_num_input{height:30px;vertical-align:top;padding-top:3px}
.reg_box #reg2 #txtValidate{width:50px}
.reg_box #reg2 #validateimg{width:90px;margin-left:5px;height:27px;vertical-align:top;cursor:pointer}
.reg_box #reg2 #reg_step2,.reg_box #reg2 #reg_step3,.reg_box #reg2 #reg_step4,.reg_box #reg2 #reg_step5{width:220px;margin:0 auto;padding-top:30px;line-height:25px;display:none;height:120px;}
.reg_box #reg2 #reg_step2 input,.reg_box #reg2 #reg_step3 input,.reg_box #reg2 #reg_step4 input,.reg_box #reg2 #reg_step5 input{background:#85bbe5;border:1px solid #009cff;height:18px;color:#002c7a;line-height:18px;width:145px}
.reg_box #reg2 #reg_step2{height:auto;}
.reg_box #reg2 #reg_step2 .active{height:200px;line-height:30px}
.reg_box #reg2 #active_link{display:block;margin:20px auto;width:128px;height:32px;background:url("http://r.syyx.com/events/p013/btn.jpg") no-repeat -144px -227px;}
.reg_box #reg2 #active_link:hover{background-position:-144px -260px}
.reg_box #reg2 .download{height:50px;width:266px;margin:0 auto;background:url("http://r.syyx.com/events/p013/btn.jpg") no-repeat -301px -137px;}
.reg_box #reg2 .download a{position:relative;top:60px}
.reg_box #reg2 .download .mini_download{height:30px;width:127px;display:block;float:left;background:url("http://r.syyx.com/events/p013/btn.jpg") no-repeat -12px -158px;}
.reg_box #reg2 .download .mini_download:hover{background-position:-12px -188px}
.reg_box #reg2 .download .full_download{height:30px;width:127px;display:block;float:right;background:url("http://r.syyx.com/events/p013/btn.jpg") no-repeat -155px -158px;}
.reg_box #reg2 .download .full_download:hover{background-position:-155px -188px}
.reg_box #reg2 .reg_submit{height:55px;position:relative}
.reg_box #reg2 #reg_button{width:128px;height:32px;position:absolute;left:51px;top:7px;background:url("http://r.syyx.com/events/p013/btn.jpg") no-repeat -11px -227px;}
.reg_box #reg2 #reg_button:hover{background-position:-11px -261px}
.reg_box #reg2 .success{height:50px;padding-left:50px;line-height:50px;background:url("http://r.syyx.com/events/p013/success.jpg") no-repeat left center;color:#ffbf00}
.reg_box #reg2 .fail{height:50px;padding-left:50px;line-height:50px;background:url("http://r.syyx.com/events/p013/fail.jpg") no-repeat left center;color:#ffbf00;margin-left:50px}
.reg_box #reg2 #back{text-decoration:underline;cursor:pointer;margin:20px 0 0 100px}
.reg_box #reg2 .download_tip{text-align:center;padding-top:90px;color:#07daef}
.reg_box #close{width:22px;height:22px;cursor:pointer;position:absolute;top:0;right:0;background:url("http://r.syyx.com/events/p013/btn.jpg") -371px -102px no-repeat}
.check_result_wrong{background:url("http://r.syyx.com/events/p013/right_wrong.png") no-repeat 0 -32px;height:100%;width:16px}
.check_result_right{background:url("http://r.syyx.com/events/p013/right_wrong.png") no-repeat 0 4px;height:25px;width:16px}
.check_result_loading{background:url("http://r.syyx.com/events/p013/ajax-loader.gif") no-repeat 0 4px;height:25px;width:16px}
.disnone{display:none}
.pop_video_detail{background-color:#032e53;border:1px solid #0062b3}
#pop_flash{border:1px solid #004680;background:#000;line-height:0}
object{outline:none}
