!!!5
html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name="author",content="火柴(201208)")
        title 《诺亚传说》战放公测 全新篇章 女神降临带来史上最大游戏革新！
        meta(name = "keywords", content = "蔡依林,诺亚传说,玩法,更新,战放,公测,专题")
        meta(name = "description", content = "《诺亚传说》战放公测 全新篇章 女神降临带来史上最大游戏更新：【天赋异禀的勇士后裔】【奇妙超凡的附魔科技】【未来军团的炮火硝烟】【骑士勇者的角斗场】。10月12日战放公测，我们未来战场见！")
        link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
        link(href="http://s.syyx.com/nycs/plugin/default_page_plugin/jquery-ui-1.8.13.custom.css",rel="stylesheet",type="text/css")
        link(href="/stylesheets/nycs/betanewgame/main.css",rel="stylesheet",type="text/css")
    body
        .s0
            .s1
                .s2.
                    <object height="797" width="1280" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param value="loading.swf" name="movie"><!--[if !IE]>--><object height="797" width="1280" data="loading.swf" type="application/x-shockwave-flash"><!--<![endif]--><param value="transparent" name="wmode"><!--[if !IE]>--></object><!--<![endif]--></object>
            .s4