!!!5
html
    head
        link(rel= "shortcut icon", href = "http://s.syyx.com/nycs/img/favicon.ico", type = "image/x-icon")
        meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
        meta(name = "keywords", content = "跨服战,诺亚传说,军团联赛,2012题材,网络游戏")
        meta(name = "description", content = "《诺亚传说》跨服战，分为跨服军团联赛和跨服星空争霸，每个月分别举行一次，全服冠军将为其所在的服务器带来集体BUFF加成！")
        title 《诺亚传说》跨服战《诺亚传说》官方网站        

        link(href = "/stylesheets/nycs/acrosspk/fire/main.css", rel="stylesheet", type="text/css")        
    body    
        .container
            .head       
                .w_980  
                    a.logo(href="http://nycs.syyx.com/index.shtml",target="_blank") 诺亚传说
                    .nav                    
                        include ../../_include/nav 
                    #tab_match
                        a(href="http://party.syyx.com/nycs/acrosspk/index.html")
                        a.tab_1
                    .content
                        span 跨服星空争霸赛是面向所有服务器举办的3V3大型PVP玩法，使所有服务器之间的顶级玩家都有一个展示自我的舞台。玩家以本服星空争霸成绩进行选拔获得参加跨服星空争霸的资格。
                    .more
                        a.link_more(href="http://nycs.syyx.com/game_lib_content_1.html?250",target="_blank") 查看《跨服星空争霸赛》详细资料  
                    .view
                        #tab_charts
                            span
                            span.sd2
                        #view_time 
                            span 正在加载
                            #time_box
            .content_table  
                .content_img
                    #tbl_show
                        .tbl_1
                            table(border="1")
                                col(width="80")
                                col(width="130")
                                col(width="100")
                                col(width="350")
                                thead
                                    tr.t_title
                                        th(colspan="4") 冠军战队名单
                                    tr.t_title
                                        th 组别
                                        th 战队名
                                        td 服务器
                                        td 服务器成员
                                tbody#war                   
                        .tbl_2
                            .class 69级组对阵表
                            .group_list#pk1
                                .g_1
                                    span.g_title
                                    span.g_name
                                .g_2
                                    span.g_title
                                    span.g_name
                                .g_3
                                    span.g_title
                                    span.g_name
                                .g_4
                                    span.g_title
                                    span.g_name
                                .g_5
                                    span.g_title
                                    span.g_name
                                .g_6
                                    span.g_title
                                    span.g_name
                                .g_7
                                    span.g_title
                                    span.g_name
                                .g_8
                                    span.g_title
                                    span.g_name
                                .g_17
                                    span.g_title
                                    span.g_name
                                .g_18
                                    span.g_title
                                    span.g_name
                                .g_19
                                    span.g_title
                                    span.g_name
                                .g_20
                                    span.g_title
                                    span.g_name
                                .g_25
                                    span.g_title
                                    span.g_name
                                .g_26
                                    span.g_title
                                    span.g_name
                                .g_29
                                    span.vs_title
                                    span.vs_name
                                .g_30
                                    span.vs_title
                                    span.vs_name
                                .g_27
                                    span.g_title
                                    span.g_name
                                .g_28
                                    span.g_title
                                    span.g_name
                                .g_21
                                    span.g_title
                                    span.g_name
                                .g_22
                                    span.g_title
                                    span.g_name
                                .g_23
                                    span.g_title
                                    span.g_name
                                .g_24
                                    span.g_title
                                    span.g_name
                                .g_9
                                    span.g_title
                                    span.g_name
                                .g_10
                                    span.g_title
                                    span.g_name
                                .g_11
                                    span.g_title
                                    span.g_name
                                .g_12
                                    span.g_title
                                    span.g_name
                                .g_13
                                    span.g_title
                                    span.g_name
                                .g_14
                                    span.g_title
                                    span.g_name
                                .g_15
                                    span.g_title
                                    span.g_name
                                .g_16
                                    span.g_title
                                    span.g_name
                            .class 79级组对阵表
                            .group_list#pk2
                                .g_1
                                    span.g_title
                                    span.g_name
                                .g_2
                                    span.g_title
                                    span.g_name
                                .g_3
                                    span.g_title
                                    span.g_name
                                .g_4
                                    span.g_title
                                    span.g_name
                                .g_5
                                    span.g_title
                                    span.g_name
                                .g_6
                                    span.g_title
                                    span.g_name
                                .g_7
                                    span.g_title
                                    span.g_name
                                .g_8
                                    span.g_title
                                    span.g_name
                                .g_17
                                    span.g_title
                                    span.g_name
                                .g_18
                                    span.g_title
                                    span.g_name
                                .g_19
                                    span.g_title
                                    span.g_name
                                .g_20
                                    span.g_title
                                    span.g_name
                                .g_25
                                    span.g_title
                                    span.g_name
                                .g_26
                                    span.g_title
                                    span.g_name
                                .g_29
                                    span.vs_title
                                    span.vs_name
                                .g_30
                                    span.vs_title
                                    span.vs_name
                                .g_27
                                    span.g_title
                                    span.g_name
                                .g_28
                                    span.g_title
                                    span.g_name
                                .g_21
                                    span.g_title
                                    span.g_name
                                .g_22
                                    span.g_title
                                    span.g_name
                                .g_23
                                    span.g_title
                                    span.g_name
                                .g_24
                                    span.g_title
                                    span.g_name
                                .g_9
                                    span.g_title
                                    span.g_name
                                .g_10
                                    span.g_title
                                    span.g_name
                                .g_11
                                    span.g_title
                                    span.g_name
                                .g_12
                                    span.g_title
                                    span.g_name
                                .g_13
                                    span.g_title
                                    span.g_name
                                .g_14
                                    span.g_title
                                    span.g_name
                                .g_15
                                    span.g_title
                                    span.g_name
                                .g_16
                                    span.g_title
                                    span.g_name
                            .class 89级组对阵表
                            .group_list#pk3
                                .g_1
                                    span.g_title
                                    span.g_name
                                .g_2
                                    span.g_title
                                    span.g_name
                                .g_3
                                    span.g_title
                                    span.g_name
                                .g_4
                                    span.g_title
                                    span.g_name
                                .g_5
                                    span.g_title
                                    span.g_name
                                .g_6
                                    span.g_title
                                    span.g_name
                                .g_7
                                    span.g_title
                                    span.g_name
                                .g_8
                                    span.g_title
                                    span.g_name
                                .g_17
                                    span.g_title
                                    span.g_name
                                .g_18
                                    span.g_title
                                    span.g_name
                                .g_19
                                    span.g_title
                                    span.g_name
                                .g_20
                                    span.g_title
                                    span.g_name
                                .g_25
                                    span.g_title
                                    span.g_name
                                .g_26
                                    span.g_title
                                    span.g_name
                                .g_29
                                    span.vs_title
                                    span.vs_name
                                .g_30
                                    span.vs_title
                                    span.vs_name
                                .g_27
                                    span.g_title
                                    span.g_name
                                .g_28
                                    span.g_title
                                    span.g_name
                                .g_21
                                    span.g_title
                                    span.g_name
                                .g_22
                                    span.g_title
                                    span.g_name
                                .g_23
                                    span.g_title
                                    span.g_name
                                .g_24
                                    span.g_title
                                    span.g_name
                                .g_9
                                    span.g_title
                                    span.g_name
                                .g_10
                                    span.g_title
                                    span.g_name
                                .g_11
                                    span.g_title
                                    span.g_name
                                .g_12
                                    span.g_title
                                    span.g_name
                                .g_13
                                    span.g_title
                                    span.g_name
                                .g_14
                                    span.g_title
                                    span.g_name
                                .g_15
                                    span.g_title
                                    span.g_name
                                .g_16
                                    span.g_title
                                    span.g_name
                            .class 99级组对阵表
                            .group_list#pk4
                                .g_1
                                    span.g_title
                                    span.g_name
                                .g_2
                                    span.g_title
                                    span.g_name
                                .g_3
                                    span.g_title
                                    span.g_name
                                .g_4
                                    span.g_title
                                    span.g_name
                                .g_5
                                    span.g_title
                                    span.g_name
                                .g_6
                                    span.g_title
                                    span.g_name
                                .g_7
                                    span.g_title
                                    span.g_name
                                .g_8
                                    span.g_title
                                    span.g_name
                                .g_17
                                    span.g_title
                                    span.g_name
                                .g_18
                                    span.g_title
                                    span.g_name
                                .g_19
                                    span.g_title
                                    span.g_name
                                .g_20
                                    span.g_title
                                    span.g_name
                                .g_25
                                    span.g_title
                                    span.g_name
                                .g_26
                                    span.g_title
                                    span.g_name
                                .g_29
                                    span.vs_title
                                    span.vs_name
                                .g_30
                                    span.vs_title
                                    span.vs_name
                                .g_27
                                    span.g_title
                                    span.g_name
                                .g_28
                                    span.g_title
                                    span.g_name
                                .g_21
                                    span.g_title
                                    span.g_name
                                .g_22
                                    span.g_title
                                    span.g_name
                                .g_23
                                    span.g_title
                                    span.g_name
                                .g_24
                                    span.g_title
                                    span.g_name
                                .g_9
                                    span.g_title
                                    span.g_name
                                .g_10
                                    span.g_title
                                    span.g_name
                                .g_11
                                    span.g_title
                                    span.g_name
                                .g_12
                                    span.g_title
                                    span.g_name
                                .g_13
                                    span.g_title
                                    span.g_name
                                .g_14
                                    span.g_title
                                    span.g_name
                                .g_15
                                    span.g_title
                                    span.g_name
                                .g_16
                                    span.g_title
                                    span.g_name
                        .tbl_3
            .main
                .w_980                 
                    .share
                        a(href="http://share.v.t.qq.com/index.php?c=share&a=index&url=http://party.syyx.com/nycs/acrosspk/fire.html&title=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                        a(href="http://v.t.sina.com.cn/share/share.php?url=http://party.syyx.com/nycs/acrosspk/fire.html&title=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                        a(href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://party.syyx.com/nycs/acrosspk/fire.html&title=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                        a(href="http://widget.renren.com/dialog/share?resourceUrl=http://party.syyx.com/nycs/acrosspk/fire.html&title=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                        a(href="http://www.kaixin001.com/login/open_login.php?flag=1&url=http://party.syyx.com/nycs/acrosspk/fire.html&rtitle=《诺亚传说》跨服战每月一期，战在未来之上！看看谁是全服冠军！",target="_blank")
                    .img_block
                        a(href="http://nycs.syyx.com/GameInfo/info_281.shtml",target="_blank") 
                            img.img(src="http://r.syyx.com/party/nycs/acrosspk/foot1.jpg") 2012时间表
                        a(href="http://nycs.syyx.com/GameInfo/info_280.shtml",target="_blank") 
                            img.img(src="http://r.syyx.com/party/nycs/acrosspk/foot2.jpg")直播
                        a(href="http://nycs.syyx.com/UserCenter/article_list.html#4",target="_blank") 
                            img.img(src="http://r.syyx.com/party/nycs/acrosspk/foot3.jpg")采访
                    include ../../../_include/copyright
    script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
    script(src="/javascripts/nycs/acrosspk/fire/out.js",type="text/javascript")
    .disnone
        script(src="http://s6.cnzz.com/stat.php?id=2001608&web_id=2001608",type="text/javascript")