body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
q:before,q:after{content:''}
abbr,acronym{border:0}
a{text-decoration:none;outline:none}
.disnone{display:none}
.hide{visibility:hidden}
.ui-tabs-hide{display:none}
body{font-size:12px;font-family:'宋体';background-color:#1c180f}
.container{min-width:1000px;background:url("http://s1.syyx.com/nycs/images/game_lib_content/bg.jpg") center top no-repeat;}
.container .content{width:1000px;margin:0 auto;position:relative;min-height:1000px;}
.container .content .logo_link{position:absolute;top:50px;left:10px;width:210px;height:80px}
.container .content .nav{position:absolute;width:600px;height:25px;left:427px;top:12px;overflow:hidden;}
.container .content .nav a{display:block;float:left;height:21px;width:65px;margin-right:16px;}
.container .content .nav a.fn_main:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -2px 0 no-repeat}
.container .content .nav a.fn_news:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -83px 0 no-repeat}
.container .content .nav a.fn_download:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -164px 0 no-repeat}
.container .content .nav a.fn_usercenter:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -245px 0 no-repeat}
.container .content .nav a.fn_gameinfo:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -326px 0 no-repeat}
.container .content .nav a.fn_service:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -407px 0 no-repeat}
.container .content .nav a.fn_bbs:hover{background:url("http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg") -488px 0 no-repeat}
.container .content .fn_group{position:absolute;top:296px;left:9px;width:203px;height:300px;}
.container .content .fn_group a{display:block;height:44px;}
.container .content .fn_group a.fn_download_btn{height:75px;margin-bottom:3px;}
.container .content .fn_group a.fn_download_btn:hover{background:url("http://s1.syyx.com/nycs/images/game_lib/btn.jpg") 0 0 no-repeat}
.container .content .fn_group a.fn_reg_btn:hover{background:url("http://s1.syyx.com/nycs/images/game_lib/btn.jpg") 0 -78px no-repeat}
.container .content .fn_group a.fn_charge_btn:hover{background:url("http://s1.syyx.com/nycs/images/game_lib/btn.jpg") 0 -122px no-repeat}
.container .content .fn_group a.fn_active_btn:hover{background:url("http://s1.syyx.com/nycs/images/game_lib/btn.jpg") 0 -210px no-repeat}
.container .content .fn_group a.fn_get_gift_btn:hover{background:url("http://s1.syyx.com/nycs/images/game_lib/btn.jpg") 0 -166px no-repeat}
.container .content .bread_path{position:absolute;right:30px;top:315px;color:#c0a7eb;}
.container .content .bread_path a{color:#c0a7eb;}
.container .content .bread_path a:hover{text-decoration:underline}
.container .content .game_lib_detail{padding:370px 0 0 218px;top:380px;left:220px;width:771px;}
.container .content .game_lib_detail h1{text-align:center;font-size:16px;font-weight:bold;color:#d6bbff;padding-bottom:15px;background:url("http://s1.syyx.com/nycs/images/game_lib_content/h1_bg.jpg") center bottom no-repeat}
.container .content .game_lib_detail .lib_nav{padding:15px 0 20px 0;margin:0 20px 0 20px;border-bottom:dashed 1px #35184e;}
.container .content .game_lib_detail .lib_nav a{width:113px;height:36px;line-height:31px;text-align:center;color:#d8baff;font-size:14px;font-weight:bold;background:url("http://s1.syyx.com/nycs/images/game_lib_content/nav_bg.jpg") 0 0 no-repeat;display:inline-block;margin-right:8px;margin-bottom:10px;}
.container .content .game_lib_detail .lib_nav a.current{color:#fff;background:url("http://s1.syyx.com/nycs/images/game_lib_content/nav_hover.jpg") 0 0 no-repeat}
.container .content .game_lib_detail .lib_text{padding:30px 40px 20px 40px;font-size:14px;line-height:22px;background-color:#26182f;min-height:330px;_height:330px;color:#cfa6ff;}
.container .content .game_lib_detail .lib_text img{margin:10px 0}
.container .content .game_lib_detail .lib_text a{color:#cfa6ff}
.container .content .game_lib_detail .lib_text p{text-indent:28px}
.container .content .game_lib_detail .lib_text strong{font-weight:bold}
.container .content #copyright{padding-bottom:60px;position:relative;margin-top:20px;}
.container .content #copyright .copyright_content{background:url("http://s1.syyx.com/nycs/images/game_lib/copyright.jpg");padding:10px 10px 10px 140px;line-height:20px;color:#645995}
.container .content #copyright .syyx_logo{width:117px;height:49px;position:absolute;top:10px;left:15px}
.container .content #game_lib_nav{position:absolute;top:552px;left:9px;border:solid 1px #371641;width:201px;padding-top:42px;background:#201325 url("http://s1.syyx.com/nycs/images/game_lib/lib_nav_title.jpg") repeat-x;}
.container .content #game_lib_nav li{position:relative;height:37px;}
.container .content #game_lib_nav li .title{position:absolute;top:0;left:0;display:block;width:131px;height:37px;background:url("http://s1.syyx.com/nycs/images/game_lib/lib_nav_item.jpg") 0 0 no-repeat;color:#e3d0ff;font-weight:bold;font-size:14px;line-height:37px;padding-left:70px;}
.container .content #game_lib_nav li .title:hover{color:#fff}
.container .content #game_lib_nav li .lib_nav_content{position:absolute;z-index:100;display:none;left:203px;top:0;border:solid #8542e0 1px;padding:20px 20px 10px 20px;width:320px;background-color:#3a1e5b;}
.container .content #game_lib_nav li .lib_nav_content a{color:#c798ff;border-right:1px solid #c798ff;display:inline-block;height:14px;line-height:14px;margin-bottom:10px;padding:0 7px;}
.container .content #game_lib_nav li .lib_nav_content a:hover{color:#fff;text-decoration:underline}
.container .content #game_lib_nav li .arrow{position:absolute;display:none;left:195px;top:12px;width:9px;height:13px;background:url("http://s1.syyx.com/nycs/images/game_lib/arrow.png") 0 0 no-repeat;z-index:1000}
.disnone{display:none}
#float_reg_btn{background:url("http://s1.syyx.com/nycs/images/float_reg/float_btn.jpg") 0 0 no-repeat;width:70px;height:273px;position:fixed;_position:absolute;top:200px;right:10px;display:none;overflow:hidden;}
#float_reg_btn:hover{background:url("http://s1.syyx.com/nycs/images/float_reg/float_btn.jpg") -80px 0 no-repeat}
#float_reg_panel{position:fixed;_position:absolute;top:200px;right:10px;display:block;background:url("http://s1.syyx.com/nycs/images/float_reg/reb_bg.jpg") 0 0 no-repeat;width:274px;height:458px;overflow:hidden;}
#float_reg_panel .close{height:35px;overflow:hidden;}
#float_reg_panel .close a{float:right;width:35px;height:35px}
#float_reg_panel #reg_step1{padding:65px 0 0 20px;width:255px;height:235px;position:relative;overflow:hidden;color:#a593cd;display:block;}
#float_reg_panel #reg_step1 .reg_form td{padding:0 2px;height:26px;}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_name{width:60px;text-align:right}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input input{background-color:#776595;border:solid 1px #683ec6;height:20px;line-height:20px;color:#98d9ff;width:146px}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input input.focus_in_inut{background-color:#fff;border:solid 1px #c8edff;color:#000}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input #validateimg{vertical-align:middle;cursor:pointer;height:29px;width:100px;margin-left:3px}
#float_reg_panel #reg_step1 .reg_form td.validate_num_input{height:35px;}
#float_reg_panel #reg_step1 .reg_form td.validate_num_input input{width:40px}
#float_reg_panel #reg_step1 .agreement{text-align:center;padding-top:5px;}
#float_reg_panel #reg_step1 .agreement a{text-align:center;text-decoration:underline;color:#c899ff;outline:none}
#float_reg_panel #reg_step1 .agreement input{margin-right:3px}
#float_reg_panel #reg_step1 .reg_submit{position:absolute;top:265px;left:85px;}
#float_reg_panel #reg_step1 .reg_submit a{display:inline-block;width:103px;height:26px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -17px no-repeat;outline:none;}
#float_reg_panel #reg_step1 .reg_submit a:hover{background-position:-142px -17px}
#float_reg_panel #reg_step2{display:none;background:url("http://s1.syyx.com/nycs/images/float_reg/reg_success_title.jpg") 35px 80px no-repeat;padding:110px 0 0 40px;width:200px;height:195px;overflow:hidden;color:#a794cb;line-height:24px;}
#float_reg_panel #reg_step2 a{width:106px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn.jpg") -8px -63px no-repeat;margin:30px 0 0 40px;display:inline-block;}
#float_reg_panel #reg_step2 a:hover{background:url("http://s1.syyx.com/nycs/images/float_reg/btn.jpg") -8px -93px no-repeat}
#float_reg_panel #reg_step3{display:none;background:url("http://s1.syyx.com/nycs/images/float_reg/reg_success_title.jpg") 35px 80px no-repeat;padding:110px 0 0 35px;width:200px;height:195px;overflow:hidden;color:#a794cb;line-height:24px;}
#float_reg_panel #reg_step3 a{margin:30px 0 0 70px;display:inline-block;color:#a794cb;text-decoration:underline}
#float_reg_panel #reg_step4{display:none;font-size:14px;left:35px;color:#a794cb;}
#float_reg_panel #reg_step4 #pad_l_10{background:url("http://s1.syyx.com/nycs/images/float_reg/success2_bg.png") 60px 95px no-repeat;padding-top:125px;text-align:center;line-height:25px;margin-bottom:15px}
#float_reg_panel #reg_step4 #down_ico{width:75px;height:80px;background:url("http://s1.syyx.com/nycs/images/float_reg/ico_down.png") no-repeat;margin:0 0 35px 90px}
#float_reg_panel #reg_account1,#float_reg_panel #reg_account2{color:#02fbf3}
#float_reg_panel .get_gift{padding-top:45px;position:relative}
#float_reg_panel .download_area{padding-left:15px;padding-top:60px;position:relative}
#float_reg_panel .link1{display:inline-block;margin-right:10px;width:119px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -45px no-repeat;}
#float_reg_panel .link1:hover{background-position:-142px -45px}
#float_reg_panel .link2{display:inline-block;width:119px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -79px no-repeat;}
#float_reg_panel .link2:hover{background-position:-142px -79px}
#float_reg_panel .get_gift{padding-top:50px;}
#float_reg_panel .get_gift a{background-position:-164px -199px;}
#float_reg_panel .get_gift a:hover{background-position:-163px -240px}
#float_reg_panel .check_result_right{background:url("http://s1.syyx.com/nycs/images/float_reg/right_wrong.png") 0 4px no-repeat;width:16px;height:25px}
#float_reg_panel .check_result_wrong{background:url("http://s1.syyx.com/nycs/images/float_reg/right_wrong.png") 0 -32px no-repeat;width:16px;height:25px}
#float_reg_panel .check_result_loading{background:url("http://s1.syyx.com/nycs/images/float_reg/loader.gif") 0 4px no-repeat;width:16px;height:25px}
.top_iframe{background:url("http://s1.syyx.com/nycs/images/top_iframe/syyx_iframe_bg.png") 0 0 repeat-x;height:40px;text-align:center;overflow:hidden}
