script(src='http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js',type="text/javascript")
link(href='http://s.syyx.com/user/plugin/jquery-ui-1.8.7/jquery-ui-1.8.7.custom.css',type='text/css',rel="stylesheet")
script(src='http://s.syyx.com/user/plugin/jquery-ui-1.8.7/jquery-ui-1.8.7.custom.min.js',type="text/javascript")
link(href='http://s1.syyx.com/nysjdm/css/main.css',type='text/css',rel="stylesheet")
script(src='/javascripts/OPAnalyse/DailyTransfer/out.js',type="text/javascript")