!!!5
html
    head
        meta(charset="utf-8")
        style(type="text/css")
            body{margin:0}
            table{background:url(http://r.syyx.com/nysj/webmail/20120825/bg.jpg);width:650px;height:900px;margin:0 auto}
            .info:hover{background:url(http://r.syyx.com/nysj/webmail/20120825/btn.jpg) no-repeat;}
            .active:hover{background:url(http://r.syyx.com/nysj/webmail/20120825/btn.jpg) no-repeat 0 -60px;}
            .con:hover{background:url(http://r.syyx.com/nysj/webmail/20120825/btn.jpg) no-repeat 0 -33px;}
        title 《诺亚传说·时间版》9月15日首次删档封测
    body
        table(border="0",cellpadding="0",cellspacing="0",style="background:url(http://r.syyx.com/nysj/webmail/20120825/bg.jpg);width:650px;height:900px;margin:0 auto;table-layout:fixed")
            tr
                td(width="80",height="74")
                td(width="157")
                td(width="103")
                td(width="310",style="vertical-align:top")
                    a(href="http://nysj.syyx.com/",target="_blank",hidefocus="true",style="display:block;height:74px;text-decoration:none;width:160px") &nbsp;
            tr
                td(height="136")
                td
                td
                td
            tr
                td(height="110")
                td(style="vertical-align:top")
                    div#user(style="font-size:14px;font-weight:700;color:#6A462F;line-height:22px;padding-left:50px;")
                    //这里写用户名
                td
                td
            tr
                td(height="69")
                td(style="vertical-align:top")
                    a.info(href="http://nysj.syyx.com/news_content.html?503f19307a2d1d2874000038",target="_blank",hidefocus="true",style="display:block;width:141px;height:33px;margin:2px 0 0 5px;text-decoration:none;") &nbsp;
                td
                td
            tr
                td(height="191")
                td(style="vertical-align:top")
                    div#active(style="font-size:14px;font-weight:700;color:#6A462F;line-height:30px;padding-left:20px;")
                        //这里写激活码
                td(style="vertical-align:top")
                    a.active#to_active(href="#",target="_blank",hidefocus="true",style="display:block;width:72px;height:25px;margin:5px 0 0 13px;text-decoration:none;") &nbsp;
                td
            tr
                td(height="238")
                td(style="vertical-align:top")
                    a.con(href="http://nysj.syyx.com/news_content.html?503f19407a2d1d2874000039",target="_blank",hidefocus="true",style="display:block;width:103px;height:26px;margin:3px 0 0 38px;text-decoration:none;") &nbsp;
                td
                td
            tr
                td(height="82")
                td(colspan="3",style="vertical-align:top") 
                    div(style="font-size:12px;font-weight:12px;color:#676e8d;padding:0 20px 0 80px;line-height:20px") 您之所以收到这封邮件是因为你曾经注册过尚游通行证并体验过《诺亚传说》，我们将通过邮件和您分享诺亚的最新动态和活动。尚游游戏不会以邮件形式向您索要账号密码，有关《诺亚传说》的相关信息，请以官方网站公布信息为准。
        script(type="text/javascript",src="/javascripts/webmail/20120825/out.js")