.disnone
    script(src='http://s21.cnzz.com/stat.php?id=4447266&web_id=4447266')
    script
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ffafb74eb50c9ebd39a0e931164900ccc' type='text/javascript'%3E%3C/script%3E"));
