.fn_group
    a(href='#{download_mini}',class='fn_download_btn',target='_blank')
    a(href='#{reg}',class='fn_reg_btn',target='_blank')
    a(href='#{activate}',class='fn_activate_btn',target='_blank')
    a(href='#{nav_pay}',class='fn_pay_btn',target='_blank')