.nav
    a(href='#{nav_main}',class='nav_index',target='_blank')
    a(href='#{nav_guider}',class='nav_guider',target='_blank')
    a(href='#{nav_pay}',class='nav_pay',target='_blank')
    a(href='#{nav_bbs}',class='nav_bbs',target='_blank')