.promotions
    //- a(href='#')
    //-     img(src='http://att.syyx.com/news/Attachment/20120816/081616152011872396.jpg')
    //- a(href='#')
    //-     img(src='http://att.syyx.com/news/Attachment/20120816/08161815192425467.jpg')