- var nysj_main     = '/'
- var nav_main      = '/'
- var nav_guider    = '/guider.html'
- var nav_pay       = 'http://pay.syyx.com/Payment/Bank/BankSybPay.aspx?itype=2'
- var nav_bbs       = 'http://bbs.nysj.syyx.com'
- var nav_service   = 'http://service.syyx.com/index_time.aspx'
- var nysj_newscontent = '/news_content.html'
- var nysj_newslist = '/news_list.html'
- var syyx_index    = 'http://www.syyx.com'
- var policy        = 'http://user.syyx.com/policy/userpolicy.aspx'
- var activate      = '/activate.html'
- var download_mini = '/client/mini'
- var download_full = '/client/full'
- var nysj_news     = '/news_list.html'
- var reg     		= 'http://user.syyx.com/reg.aspx'