$path               = 'http://r.syyx.com/party/nycs/acrosspk/'
$bg                 = $path'bg.jpg'
$main               = $path'main.jpg'
$btn                = $path'btn.jpg'
$group_list         = $path'group.jpg'
$arrow              = $path'arrow.jpg'
$content            = $path'content.png'
$bg_body            = $path'bg_body.jpg'
$nodata             = $path'nodata.jpg'

body
    font-size 12px
    margin 0
    color #134aa5
    background #000431
    font-family "宋体"
a
    color #c6b9b1
    text-decoration none
    outline none

a:hover
    color #fff
img
    border none
.head
    height 660px
    background url($bg) no-repeat top center
.container
    min-width 980px

.w_980
    position relative
    width 980px
    height 100%
    margin 0 auto
.logo
    position absolute
    left 24px
    width 168px
    height 78px
    text-indent -9999cm
.nav
    width 750px
    text-align right
    color #c6b9b1
    line-height 30px
.content_img
    background url($bg_body) no-repeat top center
.content_table
    background url($content) repeat-y top center
    width 100%
.main
    height 417px
    background url($main) no-repeat center
    width 100%   

.content
    left 126px
    top 502px
    position absolute
    font-weight 700
    font-size 14px
    color #8bdefc
    text-indent 32px
    line-height 22px
    width 672px
.more
    position absolute
    left 126px
    top 560px 
    width 672px  
    height 20px
    text-decoration: inline
    padding-left 35px
    background url($arrow) no-repeat
.link_more
    position absolute
    color #047fff 
    font-size 14px
    text-decoration: underline 

#tab_match
    width 700px
    height 103px
    top 382px
    position absolute
    left 39px
    a
        width 326px
        height 103px
        background url($btn) no-repeat 9999cm
        display inline-block
        margin-right 7px
        cursor pointer
    .tab_0
        background-position 0 -104px        
    .tab_1
        background-position 0 -312px

        
.view
    top 620px
    position absolute
    left 120px

#tab_charts   
    top 3px 
    left 2px
    width 260px
    position absolute
    span
        width 121px
        display inline-block
        float left
        height 34px
        cursor pointer        
        background url($btn) no-repeat  0 -424px
        margin-left 2px
    .check_0
        background-position -122px -424px
    .sd2
        background-position 0px -494px
    .check_1
        background-position -122px -494px    
#view_time
    position absolute
    top 12px
    left 560px 
    width 110px
    color #8c6fa7
    font-size 14px
    line-height 22px
    span
        cursor pointer
        display block
#time_box
    position absolute
    top 23px
    left -6px 
    width 110px
    color #8c6fa7
    font-size 14px
    background #19164b
    z-index 10
    border 1px solid #080006
    display none
    a
        margin 0
        padding 2px 0 0 6px
        border 1px solid #312879
        border-bottom 0
        line-height 22px
        height 22px
        display block
        cursor pointer
        &:hover
            background #2e297e


table
    width 666px
    height 158px
    border 1px solid #1a47ae
    font-size 14px
    text-align center
    border-collapse collapse
    color #8bdefc
    background #0e145e
    line-height 35px
tr
    border 1px solid #1a47ae
td,th
    border 1px solid #1a47ae
#tbl_show
    min-height 400px
    *height 400px
    width 980px
    margin 0 auto 
.tbl_1
    width 666px    
    line-height 36px
    display none
    margin-left 123px
.tbl_2
    border 1px solid #1a47ae
    display none
    width 740px
    display none
    margin-left 85px
    border-top 0
.tbl_3
    width 664px
    margin-left 124px
    height 286px
    background url($nodata) no-repeat
    border 1px solid #1A47AE
    display none
.class 
    border 1px solid #1a47ae
    border-width 1px 0
    width 740px
    text-align center
    font-size 18px
    font-weight 700
    color #91dcfb
    height 42px
    line-height 42px
.group_list
    width 740px
    height 456px
    background url($group_list) no-repeat center
    text-align center
    position relative
    margin-bottom 10px
.g_title,.g_name    
    color #92def5
    height 21px
    display block
    line-height 21px
.g_name
    color #5285fa
.group_list div
    position absolute
    width 86px
    height 42px
.g_1,.g_2,.g_3,.g_4,.g_5,.g_6,.g_7,.g_8    
    left 12px
.g_1,.g_9
    top 30px
.g_2,.g_10
    top 76px
.g_3,.g_11
    top 133px
.g_4,.g_12
    top 178px
.g_5,.g_13
    top 236px
.g_6,.g_14
    top 282px
.g_7,.g_15
    top 340px
.g_8,.g_16
    top 386px
.g_17,.g_18,.g_19,.g_20
    left 116px 
.g_17,.g_21
    top 51px
.g_18,.g_22
    top 160px
.g_19,.g_23
    top 260px
.g_20,.g_24
    top 368px
.g_25,.g_26
    left 220px
.g_25,.g_27
    top 110px
.g_26,.g_28
    top 316px
.g_29,.g_30
    left 326px
    .vs_title,.vs_name
        height 21px
        display block
        line-height 21px
    .vs_title
        color #fce605
    .vs_name
        color #8edbf9    
.g_29
    top 150px
.g_30
    top 248px
.g_27,.g_28
    left 434px
.g_21,.g_22,.g_23,.g_24
    left 536px
.g_9,.g_10,.g_11,.g_12,.g_13,.g_14,.g_15,.g_16
    left 640px
.share
    position absolute
    right 160px
    float right
    top 568px
    width 160px
    height 18px
    a
        display inline-block
        margin-right 11px
        width 18px
        height 18px
.t_title
    font-weight 900
.gold
    color gold
    line-height 25px
.img_block
    position absolute
    left 126px 
    top 90px 
.img 
    margin-left 8px
.share
    position absolute
    right 160px
    float right
    top 48px
    width 160px
    height 18px
    a
        display inline-block        
        margin-right 11px
        width 18px
        height 18px
.copy_right
    width 980px
    text-align center
    position absolute
    top 300px
    .feet_txt
        text-align left
        margin 10px 0 0 360px
        line-height 20px
    .feet_logo
        position absolute
        width 140px
        height 60px        
        top 34px
        left 180px
.disnone
    display none