#game_lib
    a.more(href='#{nav_lib}',target='_blank') 更多>>
    .lib_images
        a.ad1(href='#{user_guider}',target='_blank')
        a.ad2(href='#{nycs_jbl}',target='_blank')
    .lib_class
        .item
            .name 
            .content
        .item
            .name 
            .content
        .item
            .name 
            .content
        .item.lib_class_last
            .name
            .content