#game_video
    a.more(href='#{video_info}',target='_blank') 更多>>
    .video_1
        .video_container
            a(href='',target='_blank')
                img(src='')
        h3
            a(href='',target='_blank')
        .video_intro
    .video_2
        .video_container
            a(href='',target='_blank')
                img(src='')
        h3 
            a(href='',target='_blank')
        .video_intro