#game_features
    ul
        li
            a(href="#feature1") 圣战未来纪元
        li
            a(href="#feature2") 炫战华丽战场
        li
            a(href="#feature3") 悦战全新玩法
        li
            a(href="#feature4") 酣战公平消费
    #feature1
        img(src='')
    #feature2
        img(src='')
    #feature3
        img(src='')
    #feature4
        img(src='')