!!!5
html
    include ../include/url
    head
        meta(charset="utf-8")
        meta(name="description", content="蔡依林代言网游《诺亚传说》10月12日战放公测！开创未来星纪元，魔法与科技完美交融，战斗欲望全情释放，玩得公平战得纯粹！蔡依林倾情代言，战放每个人的宇宙！" )
        link(rel="shortcut icon", href="http://s1.syyx.com/nycs/images/favicon.ico",type="image/x-icon")
        title 蔡依林代言网游《诺亚传说》官方网站-战放公测，震撼来袭！
        include script_style
    body
        include ../include/top_iframe
        .container
            .content
                .flash_banner
                    #flash_banner
                a.logo_link(href='#{nycs_main}')
                include ../include/nav_new
                include ../include/fn_group_2
                include ../include/recommended_server
                include tabs_picture_news
                include top_news
                include images_ad
                include tabs_role
                include game_lib
                include game_features
                include user_center
                include screenshot
                include game_video
                include media
                include common_feature
                include link
                include ../include/copyright
        include ../include/reg