#media
    #fixed_img
        //- a(href='',target='_blank')
        //-     img(src='http://att.syyx.com/news/Attachment/20120531/053141170191445436.jpg')
        //- a(href='',target='_blank')
        //-     img(src='http://att.syyx.com/news/Attachment/20120531/053141170191445436.jpg')
        //- a(href='',target='_blank')
        //-     img(src='http://att.syyx.com/news/Attachment/20120531/053141170191445436.jpg')
        //- a(href='',target='_blank')
        //-     img(src='http://att.syyx.com/news/Attachment/20120531/053141170191445436.jpg')
    ul