#tabs_picture_news
    ul
        li
            a(href="#picture_news_1") 
        li
            a(href="#picture_news_2") 
        li
            a(href="#picture_news_3") 
        li
            a(href="#picture_news_4") 
    #picture_news_1
        a(href='#',target='_blank')
            img(src='#')
    #picture_news_2.ui-tabs-hide
        a(href='#',target='_blank')
            img(src='#')
    #picture_news_3.ui-tabs-hide
        a(href='#',target='_blank')
            img(src='#')
    #picture_news_4.ui-tabs-hide
        a(href='#',target='_blank')
            img(src='#')