#tabs_role
    ul
        li
            a(href='#yineng') 异能者
        li
            a(href='#qiangxie') 枪械师
        li
            a(href='#jianwu') 剑武士
        li
            a(href='#gedou') 格斗家
    #yineng
        .role_intro
            .video_container
                #yineng_video
            a.more(href='#{yineng_intro}',target='_blank')
    #qiangxie
        .role_intro
            .video_container
                #qiangxie_video
            a.more(href='#{qiangxie_intro}',target='_blank')
    #jianwu
        .role_intro
            .video_container
                #jianwu_video
            a.more(href='#{jianwu_intro}',target='_blank')
    #gedou
        .role_intro
            .video_container
                #gedou_video
            a.more(href='#{gedou_intro}',target='_blank')