#top_news
    h1
        a(href='#',target='_blank')
    //span
    //    a(href='#') 头条新闻新闻哦头条新闻
#news_category
    a.more_news(href='#{nav_news}',target='_blank') 更多>>
    ul.news_category_selector
        li
            a(href='#news_all',class='news_all',name='#1')
        li
            a(href='#news_notice',class='news_notice',name='#34')
        li
            a(href='#news_news',class='news_news',name='#33')
        li
            a(href='#news_promotion',class='news_promotion',name='#35')
    #news_all.new_list
        ul
            //- li
            //-     a(href="#") 支持诺亚支持诺亚支持诺亚支持诺亚支持诺亚
            //-     span 12-12
    #news_notice.new_list
        ul
    #news_news.new_list
        ul
    #news_promotion.new_list
        ul