#user_center
    a.more(href='#{nav_user}',target='_blank') 更多>>
    .user_pics
        a(href='#',target='_blank')
            img(src='')
            .text_bg
            .text
        a(href='#',target='_blank',class='second')
            img(src='')
            .text_bg
            .text
    ul.user_article
        //- li
        //-     a(href='#') [攻略] 12月20日《诺亚传说》例行公告
        //-     span 12-12