link(href='/stylesheets/arming/main.css',rel='stylesheet')
include ../include/jquery
script(src='http://s1.syyx.com/plugins/swfobject/swfobject.js')
script(src='http://s1.syyx.com/plugins/jquery_cookie/jquery.cookie.js')
script(src='/javascripts/arming/out.js')