meta(charset="utf-8")
meta(name="keywords", content="激活码,诺亚传说时间版,官网,四大职业,升级功略,网游")
meta(name="description" ,content="《诺亚传说时间版》激活码发放专题准备了首次封测的足量激活码，喜欢《诺亚传说时间版》的诺米可不要错过了。领到激活码之后，可别忘记在本页面就可以激活您的账号哦！")
link(rel="shortcut icon", href="http://r.syyx.com/nysj/index/favicon.ico",type="image/x-icon")
title 激活码发放-《诺亚传说时间版》官方网站-重塑经典，再战未来！