div#NavigationMenu
	ul#navmenu
		li
			a(href="ad_sync.html")
				span	同步数据
		li
			a(href="ad_class.html")
				span	媒体类型
		li
			a(href="ad_media.html")
				span	媒体管理
		li
			a(href="ad_ad.html")
				span	广告管理
		li
			a(href="ad_schedule_mgr.html")
				span	广告排期
		li
			a(href="ad_schedule_list.html")
				span	查看排期
		li
			a(href="ad_pegging.html")
				span	广告反查