div#NavigationMenu
	ul#navmenu
		li
			a(href="ad_report_daily.html")
				span	日报报表
		li
			a(href="ad_monitor_date.html")
				span	实时监控-日期段
		li
			a(href="ad_monitor_hour.html")
				span	实时监控-小时段
		li
			a(href="ad_report_phase.html")
				span	阶段分析
		li
			a(href="ad_report_period.html")
				span	周期分析
		li
			a(href="ad_kpi_day.html")
				span	KPI日报
		li
			a(href="ad_kpi_month.html")
				span	KPI月报