link(href='/stylesheets/news_content/main.css',rel='stylesheet')
include ../include/jquery
script(src='http://s1.syyx.com/plugins/swfobject/swfobject.js')
script(src='/javascripts/news_content/out.js')
script(src='http://s1.syyx.com/plugins/jquery_cookie/jquery.cookie.js')