.game_lib_detail
    h1.task_title NPC介绍
    .lib_nav
        //- a(href="#") 你好你好你好
    .lib_text
        .map_title
        .map_des
        .map_btn
            a(href='#') 相关NPC
            a(href='#') 相关怪物
            a(href='#') 相关任务
        .map_img
            img(src='')
        .map_table
            //- table
            //-     tr
            //-         th 怪物图片
            //-         th 怪物属性
            //-     tr
            //-         td
            //-             img(src='http://att.syyx.com/xgame/GameInfo/20100210/2010210164946412756.jpg')
            //-         td
            //-             div 怪物名称
            //-             div 怪物等级
            //-             div 攻击类型
            //- table
            //-     tr
            //-         th 怪物图片
            //-         th 怪物属性
            //-     tr
            //-         td
            //-             img(src='http://att.syyx.com/xgame/GameInfo/20100210/2010210164946412756.jpg')
            //-         td
            //-             div 怪物名称
            //-             div 怪物等级
            //-             div 攻击类型
            .clear
    include ../include/copyright