//pic_url
$bg              = 'http://s1.syyx.com/nycs/images/game_lib_content/bg.jpg'
$nav             = 'http://s1.syyx.com/nycs/images/game_lib/nav.jpg'
$btn             = 'http://s1.syyx.com/nycs/images/game_lib/btn.jpg'
$copyright_logo  = 'http://s1.syyx.com/nycs/images/news_content/copyright_logo.jpg'
$lib_title       = 'http://s1.syyx.com/nycs/images/index/news_icon.png'
$lib_nav_title   = 'http://s1.syyx.com/nycs/images/game_lib/lib_nav_title.jpg'
$lib_nav_item    = 'http://s1.syyx.com/nycs/images/game_lib/lib_nav_item.jpg'
$arrow           = 'http://s1.syyx.com/nycs/images/game_lib/arrow.png'
$h1_bg           = 'http://s1.syyx.com/nycs/images/game_lib_content/h1_bg.jpg'
$lib_nav         = 'http://s1.syyx.com/nycs/images/game_lib_content/nav_bg.jpg'
$lib_nav_hover   = 'http://s1.syyx.com/nycs/images/game_lib_content/nav_hover.jpg'
$th_bg           = 'http://s1.syyx.com/nycs/images/game_lib_content/th_bg.jpg'
$btn_relate      = 'http://s1.syyx.com/nycs/images/game_lib_content/btn.jpg'
$btn_relate_hover = 'http://s1.syyx.com/nycs/images/game_lib_content/btn_hover.jpg'
$nav_tip         = 'http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg'
$copyright_bg  = 'http://s1.syyx.com/nycs/images/game_lib/copyright.jpg'