@import "../url"

.container
    background url($bg) no-repeat top center
    height 1320px
    min-width 980px
    overflow hidden
    font-size 12px
.main
    width 980px
    margin 0 auto
    position relative
    height 100%
.nav
    text-align right
    line-height 30px
    color #35648e
    margin-right 20px
    a
        color #35648e
        &:hover
            color #fff
#login_a
    display none
#user_name
    color orange
    font-weight 700
.add
    background url($btn) no-repeat -31px -43px
    width 210px
    height 47px
    display block
    top 874px
    left 710px
    position absolute
.add:hover
    background url($btn) no-repeat -31px -92px
.more
    background url($btn) no-repeat -244px -43px
    width 210px
    height 47px
    display block
    top 956px
    left 725px
    position absolute
.more:hover
    background url($btn) no-repeat -244px -92px
.copy_right 
    position absolute
    text-align center
    width 980px
    top 1230px
    line-height 22px
    
.copy_right .feet_txt 
    margin-left 240px
    text-align left
    
.copy_right .feet_logo 
    position absolute
    top 0
    left 100px
    width 123px
    height 51px
.disnone
    display none
#swf
    position absolute
    top 585px
    left 0px
.indexlink
    position absolute
    top 400px
    left 480px
    width 480px
    height 85px
    cursor pointer
