@import '../url'

.uploadphoto
    background url($framebg) no-repeat
    width 830px
    height 486px
    overflow hidden
    padding 50px 50px
.upphoto
    background url($photo) no-repeat
    width 418px
    height 190px
.rule
    top 280px
    width 445px
    height 145px
    position absolute
.login
    width 260px
    height 300px
    position absolute
    left 520px
    top 40px
    line-height 20px
    h1
        font-size 14px
        color #01f8ff
        width 260px
        text-align center
        line-height 30px
    .reg
        text-align center
        a
            color #9ea39f
    .validateimg,#validateimg
        width 94px
        height 25px
        margin-left 3px
        position absolute
        cursor pointer  
.btn:hover
        background url($btn) no-repeat -476px -62px

.tdleft
    width 50px
    text-align right
    color #8bd3fb
    line-height 30px
#txtValidate
    width 50px
