body{font-size:12px;margin:0;color:#969291}
img{border:none}
a{outline:none;color:#9e7652;text-decoration:none;}
a:hover{color:#fff}
.disnone{display:none}
.wrapper{width:100%;height:100%;background:url("http://r.syyx.com/events/p065/main.jpg") no-repeat center 484px}
.container{position:relative;width:1070px;margin:0 auto;height:1400px;min-width:980px;background:url("http://r.syyx.com/events/p065/bg.jpg") no-repeat center top}
.main{height:100%;width:980px;margin:0 auto;position:relative}
.nav{color:#9e7652;line-height:30px;text-align:right;padding-right:20px}
#prize{width:284px;height:55px;position:absolute;top:33px;left:740px}
#gift{position:absolute;width:494px;height:200px;left:274px;top:299px;background:url("http://r.syyx.com/events/p065/btn.jpg") no-repeat 9999cm;}
#gift:hover{background-position:-36px -114px}
#reg1{position:absolute;width:186px;height:62px;left:768px;top:415px;background:url("http://r.syyx.com/events/p065/btn.jpg") no-repeat 9999cm;}
#reg1:hover{background-position:-577px -129px}
#img_focus{width:745px;height:435px;position:absolute;left:236px;top:507px;}
#img_focus #img_focus_tab{height:80px;}
#img_focus #img_focus_tab a{width:149px;height:75px;float:left;background:url("http://r.syyx.com/events/p065/btn.jpg") no-repeat 9999cm;cursor:pointer}
#img_focus #img_focus_tab .check_0{background-position:-37px -17px}
#img_focus #img_focus_tab .check_1{background-position:-186px -17px}
#img_focus #img_focus_tab .check_2{background-position:-335px -17px}
#img_focus #img_focus_tab .check_3{background-position:-484px -17px}
#img_focus #img_focus_tab .check_4{background-position:-633px -17px}
#img_focus #img_focus_img{width:676px;height:350px;border:1px solid #351761;position:relative;left:35px;background:#000;}
#img_focus #img_focus_img div{position:absolute;width:100%;height:100%;opacity:0;filter:Alpha(Opacity=0)}
#job{position:absolute;top:959px;left:-9px;width:674px;height:308px;color:#8a78aa;}
#job #j_tab{height:41px;position:absolute;width:372px;left:184px;}
#job #j_tab span{display:inline-block;width:65px;float:left;background:url("http://r.syyx.com/events/p065/btn.jpg") no-repeat 9999cm;height:100%;cursor:pointer}
#job #j_tab .check_0{background-position:-40px -346px}
#job #j_tab .check_1{background-position:-105px -346px}
#job #j_tab .check_2{background-position:-170px -346px}
#job #j_tab .check_3{background-position:-235px -346px}
#job #j_con{height:257px;width:100%;top:51px;position:absolute;overflow:hidden;line-height:25px;}
#job #j_con .con{width:100%;height:100%;position:absolute;top:0;display:none;background:url("http://r.syyx.com/events/p065/job.jpg") no-repeat}
#job #j_con .jws{background-position:0 -804px}
#job #j_con .ynz{background-position:0 -271px}
#job #j_con .qxs{background-position:0 0}
#job #j_con .gdj{background-position:0 -533px}
#job #j_con strong,#job #j_con span{color:#d0bced}
#job #j_con .feat{width:160px;position:absolute;top:22px;left:510px;line-height:24px}
#job #j_con .feat2{position:absolute;left:240px;top:181px}
#job #j_con .video{width:238px;height:134px;position:absolute;top:30px;left:227px;background:#000;overflow:hidden}
#job #to_reg_3{width:115px;height:37px;background:url("http://r.syyx.com/events/p065/btn.jpg") no-repeat 999cm;position:absolute;top:238px;right:50px;cursor:pointer;}
#job #to_reg_3:hover{background-position:-310px -350px}
.comment{position:absolute;width:280px;height:240px;overflow:hidden;right:2px;line-height:20px;top:1010px;}
.comment ul{padding:0;margin:0;height:1500px;}
.comment ul li{list-style:none;height:60px;float:left;width:280px;}
.comment ul li img{float:left;margin-top:7px}
.comment ul li p{margin:5px 0 0 0;float:left;width:132px;height:40px;padding:5px 10px 4px 20px;color:#1a2626;background:url("http://r.syyx.com/events/p065/msg_bg.png") no-repeat 5px 0;overflow:hidden}
.comment ul li span{float:left;display:block;width:65px;height:20px;margin-top:20px;text-align:center;color:#bba5e6;background:url("http://r.syyx.com/events/p065/btn.jpg") -710px -275px}
.copy_right{width:700px;position:absolute;top:1320px;line-height:23px;padding-left:240px;}
.copy_right .feet_logo{position:absolute;width:130px;height:45px;left:95px;top:0}
#reg_scroll{width:55px;height:450px;position:absolute;top:100px;right:0;color:#d8bff9;z-index:10;}
#reg_scroll #reg_but{width:55px;height:264px;background:url("http://r.syyx.com/events/p065/reg.jpg") no-repeat -738px 0;position:absolute;}
#reg_scroll #reg_but:hover{background-position:-738px -270px}
#reg_scroll #reg_box{width:361px;height:450px;display:none;}
#reg_scroll #reg_box .reg{background:url("http://r.syyx.com/events/p065/reg.jpg") no-repeat;width:251px;height:360px;padding:90px 45px 0 65px}
#reg_scroll #reg_box table{height:162px;}
#reg_scroll #reg_box table td{height:27px;width:20px}
#reg_scroll #reg_box table input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:155px}
#reg_scroll #reg_box table .focus_in_inut{background:#af99d4}
#reg_scroll #reg_box .agreement{height:21px}
#reg_scroll #reg_box .reg_form_item_name{width:60px}
#reg_scroll #reg_box .reg_form_item_input{width:160px}
#reg_scroll #reg_box .validate_num_input{height:30px;vertical-align:top;padding-top:3px}
#reg_scroll #reg_box #txtValidate{width:50px}
#reg_scroll #reg_box #validateimg{width:100px;margin-left:5px;height:27px;vertical-align:top;cursor:pointer}
#reg_scroll #reg_box #reg_step2,#reg_scroll #reg_box #reg_step3,#reg_scroll #reg_box #reg_step4,#reg_scroll #reg_box #reg_step5{width:251px;height:350px;padding:100px 55px 0 55px;line-height:25px;display:none;text-align:center;background:url("http://r.syyx.com/events/p065/reg.jpg") -369px 0;}
#reg_scroll #reg_box #reg_step2 input,#reg_scroll #reg_box #reg_step3 input,#reg_scroll #reg_box #reg_step4 input,#reg_scroll #reg_box #reg_step5 input{background:#776595;border:1px solid #683ec8;height:18px;color:#221334;line-height:18px;width:145px}
#reg_scroll #reg_box #reg_step2 .active{padding-top:100px;line-height:30px;height:135px}
#reg_scroll #reg_box #reg_step3 .active{padding-top:100px;line-height:30px;height:135px;background:#2c134d;font-size:20px}
#reg_scroll #reg_box #reg_step4{background-position:0 -457px;padding-top:230px;height:220px;}
#reg_scroll #reg_box #reg_step4 .rungame{margin-top:0}
#reg_scroll #reg_box #reg_step4 .phone{margin-top:70px;background:url("http://r.syyx.com/events/p065/success.png") no-repeat 999cm}
#reg_scroll #reg_box #reg_step4 #sub_phone{width:134px;height:30px;display:block;margin:10px auto;background:url("http://r.syyx.com/events/p065/btn2.jpg") no-repeat -245px -5px;}
#reg_scroll #reg_box #reg_step4 #sub_phone:hover{background-position:-245px -47px}
#reg_scroll #reg_box #reg_step4 .phone_su{margin-top:70px;display:none}
#reg_scroll #reg_box #reg_step5{background-position:-369px -457px}
#reg_scroll #reg_box #active_link{display:block;margin:20px auto 0;width:174px;height:40px;background:url("http://r.syyx.com/events/p065/btn2.jpg") no-repeat -205px -333px;}
#reg_scroll #reg_box #active_link:hover{background-position:0 -47px}
#reg_scroll #reg_box .rungame{width:174px;height:40px;margin:52px auto 0;display:block;background:url("http://r.syyx.com/events/p065/btn2.jpg") no-repeat -205px -191px;}
#reg_scroll #reg_box .rungame:hover{background-position:0 -191px}
#reg_scroll #reg_box .reg_submit{height:55px;position:relative}
#reg_scroll #reg_box #reg_button{width:174px;height:40px;margin:10px auto 0;display:block;background:url("http://r.syyx.com/events/p065/btn2.jpg") no-repeat -205px -285px;}
#reg_scroll #reg_box #reg_button:hover{background-position:0 -141px}
#reg_scroll #reg_box .act_fail{background:url("http://r.syyx.com/events/p065/fail.png") no-repeat center top;height:50px;margin:0 auto}
#reg_scroll #reg_box .success{background:url("http://r.syyx.com/events/p065/success.png") no-repeat center top;height:35px;margin:0 auto;border:1px solid #2c134d}
#reg_scroll #reg_box #back{display:block;margin:20px auto 0;width:134px;height:30px;background:url("http://r.syyx.com/events/p065/btn2.jpg") no-repeat 0 -290px;}
#reg_scroll #reg_box #back:hover{background-position:0 -325px}
#reg_scroll #reg_box .check_result_wrong{background:url("http://r.syyx.com/events/p065/right_wrong.png") no-repeat 0 -32px;height:100%;width:16px}
#reg_scroll #reg_box .check_result_right{background:url("http://r.syyx.com/events/p065/right_wrong.png") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll #reg_box .check_result_loading{background:url("http://r.syyx.com/events/p065/ajax-loader.gif") no-repeat 0 4px;height:25px;width:16px}
#reg_scroll #close{width:22px;height:22px;cursor:pointer;position:absolute;top:5px;right:5px}
#pup_bg{opacity:.8;filter:Alpha(Opacity=80);position:absolute;top:0;left:0;z-index:999;display:none;background:#000}
#pup{position:absolute;left:50%;margin-left:-300px;z-index:1000;width:601px;height:300px;display:none;background:url("http://r.syyx.com/events/p065/gift.jpg") no-repeat;}
#pup #close2{position:absolute;width:12px;height:12px;right:5px;top:5px;cursor:pointer}
#pup #reg3{position:absolute;width:174px;height:40px;top:236px;left:306px;background:url("http://r.syyx.com/events/p065/btn2.jpg") no-repeat 999cm;}
#pup #reg3:hover{background-position:-205px -141px}
