!!!5
html
    head
        meta(http-equiv = "Content-Type",content="text/html; charset=utf-8")
        link(href="/stylesheets/cut/main.css", type="text/css",rel="stylesheet")
    body
        #img_cut_box
            #img_cut_view
                span 图片正在加载……
                img#img_cut_img(src="")
            #img_cut_action
                #img_cut_case
                    .img_cut_case_tl.img_cut_case_
                    .img_cut_case_tr.img_cut_case_
                    .img_cut_case_br.img_cut_case_
                    .img_cut_case_bl.img_cut_case_
                #img_cut_drug
            #img_cut_zoom
                span#img_cut_zoom_big
                span#img_cut_zoom_small
                a#img_cut_zoom_rep.img_cut_zoom_ 换图
                a#img_cut_zoom_num.img_cut_zoom_ 确定
            #img_cut_upload
                h4 选择图片……
                span
                    input#img_cut_file(type="file", name="img_cut_file")
                button#img_cut_upload_sub 确定
        script(src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js",type="text/javascript")
        script(src="/javascripts/cut/out.js",type="text/javascript")