.login_logo
.login
    .login_box_bg
    .login_main
        .tit 登录        
        .form
            label 帐&nbsp;&nbsp;&nbsp;&nbsp;号
                input#name(type="text",name="user")
            br
            label 密&nbsp;&nbsp;&nbsp;&nbsp;码
                input#password(type="password",name="password")
            br
            label 尚方保剑
                input#baojian(type="text",name="baojian")
            br
            button#sub 提 交
        #info
        include ../include/copyright
