!!!5
html
    head
        include ../include/meta
        include ../include/title
        include script
        include style
    body
        include content
        script(src='/javascripts/login/out.js')