$path        = "http://r.syyx.com/events/p024/"
$bg          = $path"bg.jpg"
$main        = $path"main.jpg"
$btn         = $path"btn.jpg"
$cyl         = $path"cyl.jpg"
$gdj         = $path'gdj.jpg'
$jws         = $path'jws.jpg'
$qxs         = $path'qxs.jpg'
$ynz         = $path'ynz.jpg'
$reg_scroll  = $path'reg_scroll.jpg'
$reg_bg      = $path'reg_bg.jpg'
$reg_btn     = $path'reg_btn.jpg'
$loading     = $path'loading.gif'
$right_wrong = $path'right_wrong.png'
$loader      = $path'ajax-loader.gif'

body
    margin 0
    font 12px/2em "宋体"
    color rgb(114,119,139)
    background rgb(4,9,29)
a
    text-decoration none
    color rgb(85,149,187)
    outline none
    &:hover
        color #fff
.container    
    position relative
    min-width 980px
    background url($bg) no-repeat center top 
.wrap
    background url($main) no-repeat center 643px 
    position relative
.main
    width 980px
    margin 0 auto
    height 1450px
    position relative
.nav
    text-align right
    position absolute
    top 0
    right 100px
    color rgb(85,149,187)
    line-height 30px
#banner
    height 643px
    img
        width 855px
        height 643px
        position absolute
        top 0
        left 61px
        display none
    #swf
        width 855px
        height 643px
        position absolute
        top 0
        left 59px
    a
        position absolute
        background url($btn) no-repeat 999cm
    .cyl
        width 152px
        height 43px
        
        top 359px
        left 414px
    .qxs
        width 120px
        height 35px
        top 336px
        left 750px
    .ynz
        width 96px
        height 30px
        top 170px
        left 814px
    .jws
        width 106px
        height 30px
        top 245px
        left 67px
    .gdj
        width 127px
        height 36px
        left 143px
        top 364px
.logo
    width 152px
    height 77px
    position absolute
    top 15px
    left 80px
    background url($btn) no-repeat 999cm
.mini
    width 175px
    height 47px
    position absolute
    left 308px
    top 416px
    background url($btn) no-repeat 999cm
    &:hover
        background-position 0 0
#reg_1
    width 175px
    height 47px
    position absolute
    left 494px
    top 416px
    background url($btn) 999cm no-repeat
    &:hover
        background-position 0 -70px
#video
    width 592px
    height 334px
    position absolute
    top 644px
    left 194px
#reg_2
    width 229px
    height 55px
    position absolute
    top 1011px
    left 376px
    background url($btn) no-repeat 9999cm
    &:hover
        background-position 0 -145px
.copy_right
    width 980px
    text-align center
    position absolute
    top 1230px
    line-height 18px
    .feet_txt
        text-align left
        margin 10px 0 0 400px
    .feet_logo
        position absolute
        width 140px
        height 60px
        left 245px
        top 30px
.pop_video_detail
    background: #54200A;
    border 1px solid #873410
#pop_flash
    border 1px solid #873410
    background #000
    line-height 0
    height 350px
.ui-dialog .ui-dialog-titlebar-close
    background url($close) no-repeat
object
    outline none
#reg_scroll
    width 70px
    height 383px
    position absolute
    top 100px
    right 0
    a
        color #776595
        &:hover
            color #fff
    #reg_but
        width 70px
        height 273px
        background url($reg_scroll) no-repeat 0 0
        position absolute
        &:hover
            background-position -70px 0
    #reg_box
        width 266px
        height 383px
        display none
        background url($reg_bg) no-repeat
    .reg_panel
        width 230px
        padding 50px 0 0 18px
        color #c998ff
        table
            height 162px
            td
                height 27px
                width 20px
            input
                background #776595
                border 1px solid #683ec8
                height 18px
                color #221334
                line-height 18px
                width 145px
            .focus_in_inut
                background #af99d4
        .agreement
            height 21px
        .reg_form_item_name
            width 60px
        .reg_form_item_input
            width 150px
        .validate_num_input
            height 30px
            vertical-align top
            padding-top 3px
        #txtValidate
            width 50px
        #validateimg
            width 90px
            margin-left 5px
            height 27px
            vertical-align top
            cursor pointer
        #reg_step2,#reg_step3,#reg_step4,#reg_step5
            width 220px
            margin 0 auto
            padding-top 30px
            line-height 25px
            display none
            height 120px
            text-align center
            input
                background #776595
                border 1px solid #683ec8
                height 18px
                color #221334
                line-height 18px
                width 145px
        #reg_step2
            height auto
            .active
                height 200px
                line-height 30px
        #active_link
            display block
            margin 20px auto
            width 106px
            height 30px
            background url($reg_btn) no-repeat -8px -63px
            &:hover
                background-position -8px -93px
        .download
            height 25px
            width 210px
            position absolute
            top 330px
            left 30px
            .mini_download
                height 25px
                width 103px
                display block
                margin 0 auto
                background url($reg_btn) no-repeat -8px -5px
                &:hover
                    background-position:-8px -31px
            .full_download
                display none
        .reg_submit
            height 55px
            position relative
        #reg_button
            width 106px
            height 30px
            position absolute
            left 61px
            top 7px
            background url($reg_btn) no-repeat -118px -63px
            &:hover
                background-position -118px -93px
        .icon
            width 70px
            height 70px
            background url($reg_btn) no-repeat  - 718px -12px
            margin 10px auto
            a
                display none
        .reg_success
            background url($reg_btn) no-repeat -280px 0
            width 145px
            height 30px
            margin 0 auto
        .act_success
            background url($reg_btn) no-repeat -277px -64px
            width 145px
            height 30px
            margin 0 auto
        .act_fail
            background url($reg_btn) no-repeat -450px 0
            width 145px
            height 30px
            margin 0 auto
        #back
            display block
            text-decoration underline
            cursor pointer
            margin 20px auto
        .check_result_wrong
            background url($right_wrong) no-repeat 0 -32px
            height 100%
            width 16px
        .check_result_right 
            background: url($right_wrong) no-repeat 0 4px
            height: 25px;
            width: 16px;

        .check_result_loading 
            background url($loader) no-repeat 0 4px
            height 25px
            width 16px
    #close
        width 22px
        height 22px
        cursor pointer
        position absolute
        top 10px
        right 10px
.disnone
    display none
