html{overflow:hidden}
body{font-size:12px;margin:0;color:#a794cb;overflow:hidden;background:#12041f}
.main{background:url("http://r.syyx.com/events/p012/bg.jpg") no-repeat;width:690px;height:362px;overflow:hidden;position:relative}
a{color:#a794cb;outline:none}
a:hover{color:#fff}
.logo{width:394px;height:323px;position:absolute;left:15px;top:20px}
.reg_panel{width:250px;left:420px;top:65px;overflow:hidden;position:absolute;height:277px;}
.reg_panel .reg{padding-left:15px}
.reg_panel table{height:162px;}
.reg_panel table td{height:28px;width:20px}
.reg_panel table input{background:#9c80cd;border:1px solid #8b35ff;height:18px;color:#321438;line-height:18px;width:150px}
.reg_panel table .focus_in_inut{background:#a58ad0}
.reg_panel .agreement{height:21px}
.reg_panel .reg_form_item_name{width:60px}
.reg_panel .reg_form_item_input{width:155px}
.reg_panel .validate_num_input{height:30px;vertical-align:top;padding-top:3px}
.reg_panel #txtValidate{width:50px}
.reg_panel #validateimg{width:95px;margin-left:5px;height:27px;vertical-align:top;cursor:pointer}
.reg_panel #reg_step2,.reg_panel #reg_step3,.reg_panel #reg_step4,.reg_panel #reg_step5{margin:0 auto;padding-top:30px;display:none;line-height:30px;height:240px;font-size:14px;text-align:center;}
.reg_panel #reg_step2 input,.reg_panel #reg_step3 input,.reg_panel #reg_step4 input,.reg_panel #reg_step5 input{background:#9c80cd;border:1px solid #8b35ff;height:18px;color:#321438;line-height:18px;width:170px}
.reg_panel .reg_account,.reg_panel .active_code,.reg_panel .reg_account3{color:#fff}
.reg_panel #active_link{display:block;margin:60px auto 0;width:130px;height:37px;background:url("http://r.syyx.com/events/p012/btn.jpg") no-repeat -10px -11px;}
.reg_panel #active_link:hover{background-position:-142px -11px}
.reg_panel .reg_submit{height:55px;position:relative;margin-top:20px}
.reg_panel .g{color:#ffc003}
.reg_panel #reg_button{width:130px;height:37px;position:absolute;left:51px;background:url("http://r.syyx.com/events/p012/btn.jpg") no-repeat -10px -48px;}
.reg_panel #reg_button:hover{background-position:-142px -48px}
.reg_panel .reg_success{height:37px;background:url("http://r.syyx.com/events/p012/reg_success.jpg") top center no-repeat}
.reg_panel .act_success{height:37px;background:url("http://r.syyx.com/events/p012/act_success.jpg") top center no-repeat}
.reg_panel .act_fail{height:37px;background:url("http://r.syyx.com/events/p012/act_fail.jpg") top center no-repeat}
.reg_panel #back{text-decoration:underline;cursor:pointer;margin-top:20px}
.reg_panel .check_result_wrong{background:url("http://r.syyx.com/events/p012/right_wrong.png") no-repeat 0 -32px;height:100%;width:16px}
.reg_panel .check_result_right{background:url("http://r.syyx.com/events/p012/right_wrong.png") no-repeat 0 4px;height:25px;width:16px}
.reg_panel .check_result_loading{background:url("http://r.syyx.com/events/p012/ajax-loader.gif") no-repeat 0 4px;height:25px;width:16px}
.disnone{display:none}
