//pic_url
$bg              = 'http://s1.syyx.com/nycs/images/game_lib/bg.jpg'
$nav             = 'http://s1.syyx.com/nycs/images/game_lib/nav.jpg'
$btn             = 'http://s1.syyx.com/nycs/images/game_lib/btn.jpg'
$btn2             = 'http://s1.syyx.com/nycs/images/game_lib/btn2.jpg'
$role1            = 'http://s1.syyx.com/nycs/images/game_lib/role1.jpg'
$role2            = 'http://s1.syyx.com/nycs/images/game_lib/role2.jpg'
$role3            = 'http://s1.syyx.com/nycs/images/game_lib/role3.jpg'
$role4            = 'http://s1.syyx.com/nycs/images/game_lib/role4.jpg'
$search          = 'http://s1.syyx.com/nycs/images/game_lib/search_title.jpg'
$copyright_bg  = 'http://s1.syyx.com/nycs/images/game_lib/copyright.jpg'
$lib_title       = 'http://s1.syyx.com/nycs/images/game_lib/lib_title.jpg'
$lib_nav_title   = 'http://s1.syyx.com/nycs/images/game_lib/lib_nav_title.jpg'
$lib_nav_item    = 'http://s1.syyx.com/nycs/images/game_lib/lib_nav_item.jpg'
$arrow           = 'http://s1.syyx.com/nycs/images/game_lib/arrow.png'
$blank           = 'http://s1.syyx.com/nycs/images/game_lib/blank.png'
$nav_tip         = 'http://s1.syyx.com/nycs/images/news_content/nav_tip.jpg'
$zhiye         = 'http://s1.syyx.com/nycs/images/game_lib/zhiye.jpg'