body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
q:before,q:after{content:''}
abbr,acronym{border:0}
a{text-decoration:none;outline:none}
.disnone{display:none}
.hide{visibility:hidden}
.ui-tabs-hide{display:none}
body{font-size:12px;font-family:'宋体';background-color:#1d1812}
.container{min-width:1000px;background:url("http://s1.syyx.com/nycs/images/user/bg.jpg") center top no-repeat;}
.container .content{width:1000px;margin:0 auto;height:1460px;overflow:hidden;position:relative;}
.container .content .logo_link{position:absolute;top:50px;left:10px;width:210px;height:80px}
.container .content .nav{position:absolute;width:600px;height:25px;left:426px;top:10px;overflow:hidden;}
.container .content .nav a{display:block;float:left;height:21px;width:65px;margin-right:16px;}
.container .content .nav a.fn_main:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -27px -53px no-repeat}
.container .content .nav a.fn_news:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -108px -53px no-repeat}
.container .content .nav a.fn_download:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -189px -53px no-repeat}
.container .content .nav a.fn_usercenter:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -270px -53px no-repeat}
.container .content .nav a.fn_gameinfo:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -351px -53px no-repeat}
.container .content .nav a.fn_service:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -432px -53px no-repeat}
.container .content .nav a.fn_bbs:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -513px -53px no-repeat}
.container .content .fn_group{position:absolute;top:381px;left:21px;width:580px;height:50px;}
.container .content .fn_group a{display:block;float:left;height:50px;width:110px;}
.container .content .fn_group a.fn_download_btn{height:30px;width:110px;}
.container .content .fn_group a.fn_download_btn:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -25px -21px no-repeat}
.container .content .fn_group a.fn_reg{height:24px;width:80px;margin-left:54px;margin-top:8px;}
.container .content .fn_group a.fn_reg:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -137px -27px no-repeat}
.container .content .fn_group a.fn_get_gift{height:24px;width:80px;margin-left:25px;margin-top:8px;}
.container .content .fn_group a.fn_get_gift:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -242px -27px no-repeat}
.container .content .fn_group a.fn_active_gift{height:24px;width:80px;margin-left:24px;margin-top:8px;}
.container .content .fn_group a.fn_active_gift:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -346px -27px no-repeat}
.container .content .fn_group a.fn_charge{height:24px;width:80px;margin-left:25px;margin-top:8px;}
.container .content .fn_group a.fn_charge:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -451px -27px no-repeat}
.container .content #recommended_server{position:absolute;top:397px;left:735px;height:29px;overflow:hidden;color:#bca2eb;display:none;}
.container .content #recommended_server .list{width:260px;}
.container .content #recommended_server .list span{position:absolute;line-height:29px;height:29px;display:inline-block;width:120px;margin-right:5px}
.container .content .join_btn{position:absolute;display:block;width:388px;height:64px;top:432px;left:601px;}
.container .content .join_btn:hover{background:url("http://s1.syyx.com/nycs/images/user/btn.jpg") -27px -77px no-repeat}
.container .content #interview{position:absolute;top:440px;left:15px;width:575px;height:335px;}
.container .content #interview a.more{position:absolute;right:8px;top:2px;color:#7f6799}
.container .content #interview a.interview_img{position:absolute;border:solid 1px #4c278e;width:255px;height:185px;left:10px;top:40px;overflow:hidden;display:block;}
.container .content #interview a.interview_img img{width:255px;height:185px}
.container .content #interview a.title{position:absolute;width:290px;height:25px;line-height:25px;display:block;top:40px;font-size:14px;font-weight:bold;color:#baa3eb;left:280px;}
.container .content #interview a.title:hover{text-decoration:underline}
.container .content #interview .top_artical{position:absolute;top:67px;left:281px;line-height:20px;width:285px;height:142px;overflow:hidden;color:#766695;}
.container .content #interview .top_artical strong{font-weight:bold}
.container .content #interview .top_artical:hover{text-decoration:underline}
.container .content #interview a.view_all_top_artical{position:absolute;top:215px;right:10px;color:#756894}
.container .content #interview .interview_list{position:absolute;top:250px;left:10px;width:570px;height:85px;overflow:hidden;}
.container .content #interview .interview_list li{float:left;width:270px;margin-right:10px;height:27px;line-height:27px;overflow:hidden;}
.container .content #interview .interview_list li a{color:#776794;}
.container .content #interview .interview_list li a:hover{text-decoration:underline}
.container .content #emotion_artical{position:absolute;width:380px;height:295px;top:617px;left:605px;}
.container .content #emotion_artical a.more{position:absolute;right:10px;top:6px;color:#7e6897}
.container .content #emotion_artical .user_pics{position:absolute;top:45px;left:20px;}
.container .content #emotion_artical .user_pics a{position:absolute;border:solid 1px #4c278e;width:170px;height:96px;}
.container .content #emotion_artical .user_pics a img{position:absolute;top:0;left:0;width:170px;height:96px}
.container .content #emotion_artical .user_pics a.second{left:177px}
.container .content #emotion_artical .user_pics a .text_bg{position:absolute;width:170px;height:24px;left:0;bottom:0;background-color:#000;opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)}
.container .content #emotion_artical .user_pics a .text{position:absolute;width:170px;left:0;bottom:5px;text-align:center;color:#baa4ec;overflow:hidden;cursor:pointer}
.container .content #emotion_artical .user_article{position:absolute;top:147px;left:20px;width:350px;}
.container .content #emotion_artical .user_article li{height:23px;line-height:23px;color:#776798;overflow:hidden;}
.container .content #emotion_artical .user_article li a{width:315px;overflow:hidden;color:#776796;float:left;}
.container .content #emotion_artical .user_article li a:hover{text-decoration:underline}
.container .content #emotion_artical .user_article li span{float:left}
.container .content #war_record{position:absolute;top:790px;left:15px;width:555px;height:455px;padding:50px 10px 0 10px;}
.container .content #war_record a.more{position:absolute;right:10px;top:3px;color:#7e6897}
.container .content #war_record .record_info{height:155px;}
.container .content #war_record .record_info .record_img{float:left;border:solid 1px #4c278e;width:210px;height:110px;margin-right:15px;}
.container .content #war_record .record_info .record_img img{width:210px;height:110px}
.container .content #war_record .record_info .record_artical{width:325px;height:120px;overflow:hidden;float:left;}
.container .content #war_record .record_info .record_artical h3{text-align:center;font-weight:bold;color:#bba4ec;font-size:14px;padding-bottom:5px;}
.container .content #war_record .record_info .record_artical h3 a{color:#bba4ec;}
.container .content #war_record .record_info .record_artical h3 a:hover{text-decoration:underline}
.container .content #war_record .record_info .record_artical p{text-indent:24px;line-height:24px;color:#776893;}
.container .content #war_record .record_info .record_artical p a{color:#776893;}
.container .content #war_record .record_info .record_artical p a:hover{text-decoration:underline}
.container .content #user_interview{position:absolute;top:930px;left:610px;width:370px;height:280px;}
.container .content #user_interview a.more{position:absolute;right:10px;top:-5px;color:#7e6897}
.container .content #user_interview .user_pics{position:absolute;top:30px;left:10px;}
.container .content #user_interview .user_pics a{position:absolute;border:solid 1px #4c278e;width:170px;height:96px;}
.container .content #user_interview .user_pics a img{position:absolute;top:0;left:0;width:170px;height:96px}
.container .content #user_interview .user_pics a.second{left:177px}
.container .content #user_interview .user_pics a.third{top:106px}
.container .content #user_interview .user_pics a.fouth{left:177px;top:106px}
.container .content #user_interview .user_pics a.five{top:212px}
.container .content #user_interview .user_pics a.six{left:177px;top:212px}
.container .content #user_interview .user_pics a .text_bg{position:absolute;width:170px;height:24px;left:0;bottom:0;background-color:#000;opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)}
.container .content #user_interview .user_pics a .text{position:absolute;width:170px;left:0;bottom:5px;text-align:center;color:#baa4ec;overflow:hidden;cursor:pointer}
.container .content #emotion{position:absolute;top:500px;left:602px;height:105px;}
.container .content #emotion a{position:absolute;display:inline-block;width:65px;height:75px;top:30px;background:url("http://s1.syyx.com/nycs/images/pic_info/blank.png") 0 0 no-repeat;}
.container .content #emotion a.first{left:15px;}
.container .content #emotion a.first:hover{background:url("http://s1.syyx.com/nycs/images/user/emotion.jpg") -1px -4px no-repeat}
.container .content #emotion a.second{left:140px;}
.container .content #emotion a.second:hover{background:url("http://s1.syyx.com/nycs/images/user/emotion.jpg") -126px -4px no-repeat}
.container .content #emotion a.third{left:265px;}
.container .content #emotion a.third:hover{background:url("http://s1.syyx.com/nycs/images/user/emotion.jpg") -251px -4px no-repeat}
.container .content #emotion .result1,.container .content #emotion .result2,.container .content #emotion .result3{position:absolute;width:24px;bottom:5px;background:url("http://s1.syyx.com/nycs/images/user/vote.jpg") 0 0 repeat-y;}
.container .content #emotion .result1 span,.container .content #emotion .result2 span,.container .content #emotion .result3 span{position:absolute;top:-15px;left:0;color:#bca2eb;width:24px;display:inline-block;text-align:center}
.container .content #emotion .result1{left:77px}
.container .content #emotion .result2{left:204px}
.container .content #emotion .result3{left:328px}
.container .content #copyright{position:absolute;top:1335px;left:10px;width:981px;height:62px;overflow:hidden;}
.container .content #copyright .syyx_logo{position:absolute;top:10px;left:10px;width:120px;height:45px}
.container .content #copyright .copyright_content{position:absolute;top:20px;left:150px;line-height:20px;color:#776893}
#div_logout{display:none}
#div_dialog{display:none;padding:30px 0 0 60px}
.dialog_login{background:url("http://s1.syyx.com/nycs/images/user/login.jpg") 0 0 no-repeat}
.dialog_upload{background:url("http://s1.syyx.com/nycs/images/user/open.jpg") 0 0 no-repeat;}
.dialog_upload #div_dialog{padding:10px 0;position:relative;top:-44px}
.dialog_upload .ui-dialog-titlebar-close{right:15px}
.ui-dialog-titlebar{position:relative;z-index:400}
.ui-dialog .ui-dialog-title{display:none}
.dialog_login .ui-dialog-titlebar-close{position:absolute;width:30px;height:30px;right:30px;top:10px;margin:0;z-index:5000;}
.dialog_login .ui-dialog-titlebar-close .ui-icon-closethick{display:none}
.ui-widget-overlay{opacity:.8;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);background-color:#000;position:absolute;top:0;left:0}
.dialog_upload .ui-dialog-titlebar-close{position:absolute;width:38px;height:38px;right:8px;top:2px;margin:0;z-index:5000;}
.dialog_upload .ui-dialog-titlebar-close .ui-icon-closethick{display:none}
.ui-dialog .ui-dialog-titlebar{height:34px}
.disnone{display:none}
#float_reg_btn{background:url("http://s1.syyx.com/nycs/images/float_reg/float_btn.jpg") 0 0 no-repeat;width:70px;height:273px;position:fixed;_position:absolute;top:200px;right:10px;display:none;overflow:hidden;}
#float_reg_btn:hover{background:url("http://s1.syyx.com/nycs/images/float_reg/float_btn.jpg") -80px 0 no-repeat}
#float_reg_panel{position:fixed;_position:absolute;top:200px;right:10px;display:block;background:url("http://s1.syyx.com/nycs/images/float_reg/reb_bg.jpg") 0 0 no-repeat;width:274px;height:458px;overflow:hidden;}
#float_reg_panel .close{height:35px;overflow:hidden;}
#float_reg_panel .close a{float:right;width:35px;height:35px}
#float_reg_panel #reg_step1{padding:65px 0 0 20px;width:255px;height:235px;position:relative;overflow:hidden;color:#a593cd;display:block;}
#float_reg_panel #reg_step1 .reg_form td{padding:0 2px;height:26px;}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_name{width:60px;text-align:right}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input input{background-color:#776595;border:solid 1px #683ec6;height:20px;line-height:20px;color:#98d9ff;width:146px}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input input.focus_in_inut{background-color:#fff;border:solid 1px #c8edff;color:#000}
#float_reg_panel #reg_step1 .reg_form td.reg_form_item_input #validateimg{vertical-align:middle;cursor:pointer;height:29px;width:100px;margin-left:3px}
#float_reg_panel #reg_step1 .reg_form td.validate_num_input{height:35px;}
#float_reg_panel #reg_step1 .reg_form td.validate_num_input input{width:40px}
#float_reg_panel #reg_step1 .agreement{text-align:center;padding-top:5px;}
#float_reg_panel #reg_step1 .agreement a{text-align:center;text-decoration:underline;color:#c899ff;outline:none}
#float_reg_panel #reg_step1 .agreement input{margin-right:3px}
#float_reg_panel #reg_step1 .reg_submit{position:absolute;top:265px;left:85px;}
#float_reg_panel #reg_step1 .reg_submit a{display:inline-block;width:103px;height:26px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -17px no-repeat;outline:none;}
#float_reg_panel #reg_step1 .reg_submit a:hover{background-position:-142px -17px}
#float_reg_panel #reg_step2{display:none;background:url("http://s1.syyx.com/nycs/images/float_reg/reg_success_title.jpg") 35px 80px no-repeat;padding:110px 0 0 40px;width:200px;height:195px;overflow:hidden;color:#a794cb;line-height:24px;}
#float_reg_panel #reg_step2 a{width:106px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn.jpg") -8px -63px no-repeat;margin:30px 0 0 40px;display:inline-block;}
#float_reg_panel #reg_step2 a:hover{background:url("http://s1.syyx.com/nycs/images/float_reg/btn.jpg") -8px -93px no-repeat}
#float_reg_panel #reg_step3{display:none;background:url("http://s1.syyx.com/nycs/images/float_reg/reg_success_title.jpg") 35px 80px no-repeat;padding:110px 0 0 35px;width:200px;height:195px;overflow:hidden;color:#a794cb;line-height:24px;}
#float_reg_panel #reg_step3 a{margin:30px 0 0 70px;display:inline-block;color:#a794cb;text-decoration:underline}
#float_reg_panel #reg_step4{display:none;font-size:14px;left:35px;color:#a794cb;}
#float_reg_panel #reg_step4 #pad_l_10{background:url("http://s1.syyx.com/nycs/images/float_reg/success2_bg.png") 60px 95px no-repeat;padding-top:125px;text-align:center;line-height:25px;margin-bottom:15px}
#float_reg_panel #reg_step4 #down_ico{width:75px;height:80px;background:url("http://s1.syyx.com/nycs/images/float_reg/ico_down.png") no-repeat;margin:0 0 35px 90px}
#float_reg_panel #reg_account1,#float_reg_panel #reg_account2{color:#02fbf3}
#float_reg_panel .get_gift{padding-top:45px;position:relative}
#float_reg_panel .download_area{padding-left:15px;padding-top:60px;position:relative}
#float_reg_panel .link1{display:inline-block;margin-right:10px;width:119px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -45px no-repeat;}
#float_reg_panel .link1:hover{background-position:-142px -45px}
#float_reg_panel .link2{display:inline-block;width:119px;height:30px;background:url("http://s1.syyx.com/nycs/images/float_reg/btn3.jpg") -12px -79px no-repeat;}
#float_reg_panel .link2:hover{background-position:-142px -79px}
#float_reg_panel .get_gift{padding-top:50px;}
#float_reg_panel .get_gift a{background-position:-164px -199px;}
#float_reg_panel .get_gift a:hover{background-position:-163px -240px}
#float_reg_panel .check_result_right{background:url("http://s1.syyx.com/nycs/images/float_reg/right_wrong.png") 0 4px no-repeat;width:16px;height:25px}
#float_reg_panel .check_result_wrong{background:url("http://s1.syyx.com/nycs/images/float_reg/right_wrong.png") 0 -32px no-repeat;width:16px;height:25px}
#float_reg_panel .check_result_loading{background:url("http://s1.syyx.com/nycs/images/float_reg/loader.gif") 0 4px no-repeat;width:16px;height:25px}
.top_iframe{background:url("http://s1.syyx.com/nycs/images/top_iframe/syyx_iframe_bg.png") 0 0 repeat-x;height:40px;text-align:center;overflow:hidden}
