meta(charset="utf-8")
meta(name="keywords", content="诺亚传说时间版,官网,时间收费,点卡收费,网游,2012题材,网络游戏")
meta(name="description" ,content="《诺亚传说时间版》是2012题材人气巨作《诺亚传说》的时间收费版网络游戏，打造纯正时间计费，真正无商城，道具全开放！平衡开放的全新未来世界，炫酷激爽的全新战斗盛宴！" )
link(rel="shortcut icon", href="http://r.syyx.com/nysj/index/favicon.ico",type="image/x-icon")
title 《诺亚传说时间版》官方网站-重塑经典，再战未来！