!!!5
html
    include ../include/url
    head
        meta(charset="utf-8")
        meta(name="description" ,content="《诺亚传说》玩家相册专题，由玩家投稿，展示玩家风采，我们将不定期举行秀真我图片相关活动。" )
        link(rel="shortcut icon", href="http://s1.syyx.com/nycs/images/favicon.ico",type="image/x-icon")
        title 玩家相册 -《诺亚传说》官方网站
        include script_style
    body
        include ../include/top_iframe
        .container
            .content
                include ../include/logo_link
                include ../include/nav_new
                include ../include/fn_group
                include ../include/promotions
                .bread_path 
                    a(href='#{nycs_main}') 首页
                    |  >
                    a(href='#{nav_user}') 玩家中心
                include pic_detail
        include ../include/reg
        #div_dialog