//img url
$path               = 'http://r.syyx.com/events/p002/'
$bg                 = $path'bg.jpg'
$main               = $path'main.jpg'
$btn                = $path'btn.jpg'
$success            = $path'success.jpg'
$fail               = $path'fail.jpg'
$icon               = $path'icon.jpg'
$feature_tab        = $path'feature_tab.png'
$right_wrong        = $path'right_wrong.png'
$loader             = $path'ajax-loader.gif'
$wb_icon            = $path'wb_icon.jpg'
$close              = $path'close.png'

body
    margin 0
    font 12px/16px '宋体'
    color #6b8494
    background  #001C4E
    color #b4eeff
#bg
    display none
a
    color #6986c7
    text-decoration none
    outline none
    &:hover
        color #87adff
img
    border none
.main
    background url($main) no-repeat center 506px
    height 1226px
    min-width 980px
.main-banner
    height 506px
    background url($bg) no-repeat center top
.main-head
    width 980px
    margin 0 auto
    height 100%
    position relative
.main-head-top_nav
    width 660px
    text-align right
    line-height 36px
    color #6986c7
    height 36px
.main-head-logo
    margin-left 180px
    width 186px
    height 75px
    display block
.run_flash
    left 225px
    top 407px
    position absolute
    width 192px
    height 57px
    .flash_bg
        width 185px
        height 42px
        z-index 2
        background url($bt_hover) no-repeat -14px -70px
    .main-head-mini_down
        position absolute
        top 0
        left 0
        width 185px
        height 42px
        z-index 3
        background url($bt_hover) no-repeat 1000px
    #run_flash
        width 192px
        height 57px
        position absolute
        top 0
        left 0
.run_ico
    width 331px
    height 73px
    position absolute
    left 205px
    top 377px
    background url($wb_icon) no-repeat
    a
        position absolute
        width 128px
        height 20px
        left 100px
        top 37px
#flash,#flash_play,#flash_but
    width 186px
    height 105px
    position absolute
    left 12px
    top 348px
#flash
    background #000
#flash_play,#flash_but
    background url($bt_hover) no-repeat -1000px
    z-index 50
#flash_play
    z-index 100
    cursor pointer
.main-head-go_home
    width 127px
    height 34px
    left 762px
    top 430px
    position absolute
.middle
    position relative
    width 980px
    margin 0 auto
    height 560px
.reg_panel
    top 35px
    left 682px
    width 298px
    height 241px
    position relative
    overflow hidden
    .reg
        width 230px
        margin-left 39px
    table
        height 162px
        td
            height 27px
            width 20px
        input
            background #85bbe5
            border 1px solid #009cff
            height 18px
            color #002c7a
            line-height 18px
            width 145px
        .focus_in_inut
            background #cce9ff
    .agreement
        height 21px
    .reg_form_item_name
        width 60px
    .reg_form_item_input
        width 150px
    .validate_num_input
        height 30px
        vertical-align top
        padding-top 3px
    #txtValidate
        width 50px
    #validateimg
        width 90px
        margin-left 5px
        height 27px
        vertical-align top
        cursor pointer
    #reg_step2,#reg_step3,#reg_step4,#reg_step5
        width 220px
        margin 0 auto
        padding-top 10px
        line-height 25px
        height 140px
        display none
        text-align center
    #reg_step2
        height 231px
        .active
            height 200px
            line-height 30px
        input
            background #85bbe5
            border 1px solid #009cff
            height 18px
            color #002c7a
            line-height 18px
            width 145px
    p
        color rgb(78,127,233)
        margin 5px 0
    #active_link
        display block
        margin 20px auto
        width 127px
        height 30px
        background url($btn) no-repeat -411px -11px
        &:hover
            background-position -411px -43px
    .reg_submit
        height 55px
        position relative
    #reg_button
        width 127px
        height 30px
        position absolute
        left 51px
        top 7px
        background url($btn) no-repeat -24px -11px
        &:hover
            background-position -24px -43px
    .success
        height 50px
        line-height 50px
        background url($success) no-repeat 40px center
        color rgb(255,191,0)
    .fail
        height 50px
        line-height 50px
        background url($fail) no-repeat 40px center
        color rgb(255,191,0)
    #back
        text-decoration underline
        cursor pointer
        display block
    .active_info
        text-align left
        padding-left 30px
        color rgb(7, 218, 239)
    .download_tip
        text-align center
        padding-top 50px
        color rgb(7, 218, 239)
    .icon
        position relative
        background url($icon) no-repeat
        width 200px
        height 97px
        margin 0 auto
        .download
            position absolute
            width 105px
            height 15px
            left 80px
            top 68px
        .rungame
            display none
#img_scroll
    position absolute
    top 331px
    left:34px
    height 132px
    background #001846
    a
        margin-right 12px
        display block
        display inline-block
        width 216px
        height 130px
        float left
        border 1px solid #00469d
.foot
    width 980px
    margin 0 auto
    padding-top 10px
    color #3c69a1    
    .copy_right
        width 980px
        text-align center
        position relative
        .feet_txt
            text-align left
            margin 10px 0 0 380px
        .feet_logo
            position absolute
            width 140px
            height 60px
            left 225px
            top 30px
.check_result_wrong
    background url($right_wrong) no-repeat 0 -32px
    height 100%
    width 16px
.check_result_right 
    background: url($right_wrong) no-repeat 0 4px
    height: 25px;
    width: 16px;

.check_result_loading 
    background url($loader) no-repeat 0 4px
    height 25px
    width 16px

.disnone
    display none

.pop_video_detail
    background-color: #032e53;
    border 1px solid #0062b3
.ui-dialog .ui-dialog-titlebar-close 
    background: url($close) no-repeat;
#pop_flash
    border 1px solid #004680
    background #000
    line-height 0
object
    outline none
