@import "../url"

.ckimg
    width 150px
    height 69px
    line-height 69px
    font-size 18px
    color #fff
    text-align center
    font-family "黑体"
    background url($btn2) no-repeat -6px -199px
    &:hover
        background url($btn2) no-repeat -6px -269px
        color #fff
        text-decoration none
#cklink1
    position absolute
    top 65px
#cklink2
    position absolute
    top 165px
#cklink3
    position absolute
    top 265px
#cklink4
    position absolute
    top 365px

.cktext
    position absolute
    top 10px
    left 444px
#singdown
    position absolute
    top 58px
    left 429px